<li class="search-results__sponsored">
    <em>Sponsored</em>
	<div class="search-results__pic">
        <a href="{% if clickUrl is defined %}{{ clickUrl }}{% else %}/{% endif %}">{{ core_media(image_id, 'search_result', image_context) | raw }}</a>
	</div>		
	<div class="search-results__detail">
		<h3 class="h3"><a href="{% if clickUrl is defined %}{{ clickUrl }}{% else %}/{% endif %}">{{ title }}</a></h3>						
        {% if description %}
		<p>{{ description }} <a href="{{ clickUrl }}">mehr...</a></p>
        {% endif %}
        {% if footer is defined and footer is not empty %}
        <span>{% for f_item in footer %}
                {% if f_item.url is defined %}<a href="{{ f_item.url }}">{{ f_item.label }}</a>{% else %}{{f_item.label }}
                {% endif %}{% if loop.last != true %} - {% endif %}
                {% endfor %}
        </span>{% endif %}
	</div>
    <img src="{{ logUrl }}" width="0" height="0" style="visibility: hidden;">
</li>
