{% extends 'AzubisterWebfrontendBundle::layout.html.twig' %}

{% block main_header %} {{ main_header|raw }} {% endblock %}

{% block main_footer %} {{ main_footer|raw }} {% endblock %}

{% block breadcrumps %}
<!-- BEGIN .breadcrumbs -->
    <p id="breadcrumbs">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('homepage') }}">
                <span itemprop="title">Home</span>
            </a>
            <i></i>
        </span>
        <span>Suche</span>
    </p>
<!-- END .breadcrumbs -->
{% endblock %}

{% block main %}
<div class="col-2 col-2_1">
    <div class="search-filter-out">
		<div class="search-filter" id="facets">
            <div class="search-filter__title" >Suche filtern<span class="clearAllFilters" data-type="all"><a href="{{ clear_all_filters_url | raw }}">Alle Filter zurücksetzen</a><i></i></span></div>
			<!-- <div class="loading">Loading...</div> -->
	         <div id="facetList" class="facetList">
			   	{% block facet_list %}
                    {{ facet_list | raw }}
			   	{% endblock %}
		 	</div>
		</div>
	</div>
    <div class="advert advert_aside">
            <span>Anzeige</span>
                {{ openxad(_adzones.search) | raw }}
    </div>
</div>
<div class="col-1  col-1_1" id="results">
			<!-- BEGIN .ext-search -->
			<form class="ext-search" action="" id="inlineSearchForm">
				<div class="ext-search__fields-wrap">
					<div class="ext-search__fields">
						<input type="text" placeholder="Ausbildung, Betrieb, Branche oder Stadt"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ausbildung, Betrieb, Branche oder Stadt'" name="searchterm" class="searchform" value="{% if searchterm is defined %}{{ searchterm | raw }}{% endif %}">
						<button type="submit">Und los!</button>
					</div>
				</div>
				<ul class="ext-search__filter" id="currentFilters">
				    {% block search_filters %}
                        {{ filters | raw }}
                    {% endblock %}
				</ul>
			</form>
			<!-- END .ext-search -->
			<!-- BEGIN .search-results -->
			<ul class="search-results resultsList" >
                {% block results %}
                    {% for docKey, docData in docs %}
                        {{ docData | raw }}
                    {% endfor %}
                {% endblock %}
			</ul>
            <div class="noResults" {% if docs is empty %}style="display:block"{% endif %}>
                <strong>Keine Ergebnisse zu deiner Suche.</strong><br>
                <span>Starte eine neue Suche oder entferne einen deiner gesetzten Filter.<i></i></span>
            </div>
			<!-- END .search-results -->
			<div class="loadingMore">&nbsp;</div>
            <div class="loading" style="display:none;">&nbsp;</div>
            {% block search_pager %}
                <div class="pager">
                {{ search_pager | raw }}
                </div>
            {% endblock %}
			<div class="view-all"  style="display:none">
				<i></i>
				<a href="javascript:void(0);" >Mehr anzeigen</a>
			</div>

		</div>
        <div class="clr"></div>
{% endblock %}

