{% set li_class = ''%}
{% set li_data_attr = ''%}

{% if item_html_class is defined %}{% set li_class = ' class=' ~ item_html_class%}{% endif %}
{% if data_attr is defined %}{% set li_data_attr = data_attr %}{% endif %}


<li{{li_class}}{{li_data_attr|raw}}>
	<div class="search-results__pic">
        <a href="{{ url }}"{% if link_target is defined and link_target is not empty %} target="{{link_target}}"{% endif %}>
            {% if image_context == "magazin" %}
            {{ magazine_feature_image(image_id, 'search_result')  | raw }}
            {% else %}
            {{ core_media(image_id, 'search_result', image_context) | raw }}
            {% endif %}
            </a>
	</div>		
	<div class="search-results__detail">
		<h3 class="h3"><a href="{{ url }}"{% if link_target is defined and link_target is not empty %} target="{{link_target}}"{% endif %}>{{ title }}</a></h3>						
        {% if description %}
		<p>{{ description }} <a href="{{ url }}"{% if link_target is defined and link_target is not empty %} target="{{link_target}}"{% endif %}>mehr...</a></p>
        {% endif %}
        {% if footer is defined and footer is not empty %}
        <span>{% for f_item in footer %}
                {% if f_item.url is defined %}<a href="{{ f_item.url }}">{{ f_item.label }}</a>{% else %}{{f_item.label }}
                {% endif %}{% if loop.last != true %} - {% endif %}
                {% endfor %}
        </span>{% endif %}
	</div>			
</li>
