{% extends 'AzubisterWebfrontendBundle::layout.html.twig' %}

{% block page_javascript %}
    <script type="text/javascript">joboffer.init();</script>
    
    <script type="text/javascript">
    {% if companylocations | length > 0 %}     

        {% if _jobofferApplyTrackData is defined and _jobofferApplyTrackData is not empty %}
        var _jobofferApplyTrackData = {{ _jobofferApplyTrackData | raw }};
        {% endif %}

        $(document).ready(function() {
            var locations = {{ jsLocations | raw }};
            map = new Map;
            var mapSettings = {
                lat: 51.33,
                lng: 10.0,
                zoom: 6
            };
            map.init('map_canvas', mapSettings);

            for (var i = 0; i < locations.length ; i++) {
                l = locations[i];
                l.type = 'default';
                l.content = '';
                if (typeof(l.street) != 'undefined') {
                    l.content += ' ' + l.street + ',<br />';
                }
                if (typeof(l.postcode) != 'undefined') {
                    l.content += ' ' + l.postcode + ' ';
                }
                l.content += l.name;
                l.lat = l.geo_latitude;
                l.lng = l.geo_longitude;
                var callback = null;

                map.addLocation(l, callback);
            }

        })

    {% endif %}

    $(document).ready(function() {
        var mq = (window.matchMedia) ? window.matchMedia( "(min-device-width: 1024px)" ) : false;
        var need_iframe = (!mq || mq.matches);

        if (need_iframe && $('#fallback_html').length > 0) {

            var iframe_html = $('#offer_iframe_tpl').html();
            if ($('#offer_iframe_tpl').find('.html_offer_wrapper').length > 0 ) {
                if ($('.map-big').length > 0 ) {
                    $('.map-big').after(iframe_html);
                } else {
                    $('.map-big__info').after(iframe_html);
                }
            }else {
                $('#fallback_html').before(iframe_html).remove();
            }
            $('#offer_iframe_tpl').remove();
            $('.offer_frame').attr('src', $('.offer_frame').data('src'));

        }
    })

    </script>
{% endblock %}

{% block breadcrumps %}
<!-- BEGIN .breadcrumps -->
    <p id="breadcrumbs">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('homepage') }}">
                <span itemprop="title">Home</span>
            </a>
            <i></i>
        </span>
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('company_landing') }}">
                <span itemprop="title">Ausbildungsbetriebe</span>
            </a>
            <i></i>
        </span>
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('company_detail', {'id': company.slug}) }}">
                <span itemprop="title">{{ company.name }}</span>
            </a>
            <i></i>
        </span>
        <span>{{ offer.title }}</span>
    </p>
    <!-- END .breadcrumps -->
{% endblock %}

{% block main %}
        <h1 class="h1 h1_do">{{ offer.title }}
            <div class="do">
                <a class="do__print" href="javascript:void(0);" onclick="window.print();">Drucken<i></i></a>
            </div>
        </h1>

        {% include 'AzubisterWebfrontendBundle:Joboffer:header_info_bar.html.twig' %}
        {% if offer.type == 'express' %}
            {% include 'AzubisterWebfrontendBundle:Joboffer:express_content.html.twig' %}
        {% else %}
            {% if offer.fallback_html is defined %}
                <div id="fallback_html" class="bodytext">
                    {{ do_shortcodes(offer.fallback_html) | raw }}
                </div>
            {% else %}
                {% if offer.type == 'html' %}
                    {% include 'AzubisterWebfrontendBundle:Joboffer:html_content.html.twig' %}
                {% elseif offer.type == 'pdf' %}
                    {% include 'AzubisterWebfrontendBundle:Joboffer:pdf_content.html.twig' %}
                {% endif %}
                {% include 'AzubisterWebfrontendBundle:Joboffer:header_info_bar.html.twig' %}
            {% endif %}
        {% endif %}
        <div class="clr"></div>
        <div class="map-big__info">Noch unentschlossen? Informiere Dich weiter zum Ausbildungsangebot bei <a href="{{ path('company_detail', {id: company.slug}) }}">{{ company.name }}</a>.<i></i></div>
        {% if companylocations | length > 0 %} 
            {% for location in companylocations %}
                <a name="city={{ location.id }}"></a>
            {% endfor %}
        <!-- BEGIN .map-big -->
        <div class="map-big">
            <h3 class="h3">Diese Ausschreibung wird an folgenden Standorten angeboten:</h3>
            <div class="map-big__container">
                <div id="map_canvas" style="height: 550px; width: 100%;"></div>
            </div>
        </div>
        <!-- END .map-big -->
        {% endif %}
		</div>
{% endblock %}
		
{% block js_templates %}
{{ parent() }}
    {% if offer.fallback_html is defined %}

        {% if offer.type == 'html' %}
            <div id="offer_iframe_tpl" style="display:none;" >
                {% include 'AzubisterWebfrontendBundle:Joboffer:html_content.html.twig' %}
            </div>
        {% elseif offer.type == 'pdf' %}
            <div id="offer_iframe_tpl" style="display:none;" >
                {% include 'AzubisterWebfrontendBundle:Joboffer:pdf_content.html.twig' %}
            </div>
        {% endif %}
        
    {% endif %}

{% endblock %}

{% block popups %}
{{ parent() }}
{% if offer.applicationdata is defined %}
<!-- BEGIN .popup -->
<div class="popup popup_app" style="display: none">
    <div class="popup__close"><i></i></div>
    <h3 class="h3">Deine Bewerbung</h3>
  <ul class="app-list">

    {% if offer.applicationdata.email_mailto is defined %}
        <li class="app-list__email"><a href="mailto:{{ offer.applicationdata.email_mailto }}?subject=Bewerbung%20auf%20{{ offer.title | url_encode(true) }} (azubister)">per Email<i></i></a></li>
    {% endif %}
    {% if offer.applicationdata.postal_address is defined %}<li class="app-list__post"><a href="#">per Post<i></i></a></li>{% endif %}
    {% if offer.applicationdata.online_url is defined %}
        <li class="app-list__online"><a href="{{ offer.applicationdata.online_url }}" target='_blank'>Online<i></i></a></li>
    {% endif %}
  </ul>
    {% if offer.applicationdata.postal_address is defined %}
  <div class="app-info" style="display:none;">
    <b>Bitte richte Deine schriftliche Bewerbung an:</b>
    {{  do_shortcodes(offer.applicationdata.postal_address) | raw }}<br /><br />
    <a href="#">Doch lieber per eMail oder Online bewerben?</a>

   </div>
    {% endif %}
  <div class="popup__attention"><i></i><b>Nicht vergessen:</b> Beziehe Dich bei Deiner Bewerbung auf azubister.</div>
</div>
<!-- END .popup --> 
{% endif %}
{% endblock %}

{% block main_header %} {{ main_header|raw }} {% endblock %}
{% block main_footer %} {{ main_footer|raw }} {% endblock %}
