<div class="col-1">
       <!-- BEGIN .job-desc -->
    <div class="job-desc bodytext">
        {% if offer.weoffer is defined%}
        <h3 class="h3">
        {% if offer.weoffer_headline is defined %}
            {{ offer.weoffer_headline}}
        {% else %}
            Wir bieten
        {% endif %}
        </h3>
        {{ do_shortcodes(offer.weoffer) | raw }}
        {% endif %}
        {% if offer.wesearch is defined %}
        <h3 class="h3">
        {% if offer.wesearch_headline is defined %}
            {{ offer.wesearch_headline}}
        {% else %}
            Wir suchen
        {% endif %}
        </h3>
        {{ do_shortcodes(offer.wesearch) | raw}}
        {% endif %}
        {% if offer.free_positions is defined %}
        <h3 class="h3">
        {% if offer.free_positions_headline is defined %}
            {{ offer.free_positions_headline}}
        {% else %}
            Offene Stellen
        {% endif %}
        </h3>
        <p>{{ offer.free_positions}}</p>
        {% endif %}
        {% if offer.more_info_url is defined %}
        <h3 class="h3">
        {% if offer.more_info_url_headline is defined %}
            {{ offer.more_info_url_headline}}
        {% else %}
            Weitere Informationen
        {% endif %}
        </h3>
        <p><a href="{{ offer.more_info_url}}" target="_blank">{{ offer.more_info_url}}</a></p>
        {% endif %}
        {% if offer.applications_documents is defined %}
        <h3 class="h3">
        {% if offer.applications_documents_headline is defined %}
            {{ offer.applications_documents_headline}}
        {% else %}
            Benötigte Bewerbungsunterlagen
        {% endif %}
        </h3>
        {{ do_shortcodes(offer.applications_documents) | raw}}
        {% endif %}
        {{ show_joboffer_school_degrees(offer.id, 'Mögliche Schulabschlüsse') | raw }}
        {% if offer.additional_html is defined %}
        {{ do_shortcodes(offer.additional_html) | raw}}
        {% endif %}
    </div>  
    <!-- END .job-desc -->              
</div>
<div class="col-2">
        <!-- BEGIN .army -->
        <div class="army company-profile">
            <div class="company-profile__detail__img_box">
                <a href="{{ company.url }}">
                {% if company.logo is defined and company.logo is not empty %}
                {{ core_media(company.logo, 'company_detail', 'logo') | raw }}
                {% else %}
                {{ core_media(fallback_image_id, 'company_detail', 'logo') | raw }}
                {% endif %}
            </a>
            </div>
            <a class="army__link" href="{{ company.url }}">zum Unternehmensprofil<i></i></a>
        </div>
        <!-- END .army -->
    <!-- BEGIN .articles-another -->
    {% if joboffers | length > 0 %}
    <div class="another-articles">
        <div class="aside-title">Weitere Anzeigen</div>
        <ul class="articles">
            {% for joboffer in joboffers %}
            <li {% if loop.index > 3 %}style='display: none;'{% endif %}>
                <a href="{{ path('joboffer_detail', {'id': joboffer.id, 'joboffer_title': generate_url_friendly_string(joboffer.title) }) }}">{{ joboffer.title }}</a>
                <p><b>Standort:</b> {{ show_joboffer_primary_city(joboffer.id) | raw }}</p>
            </li>
            {% endfor %}
        </ul>
        {% if joboffers | length > 3 %}
        <div class="view-all">
            <i></i>
            <a href="javascript:void(0);">Alle anzeigen</a>
        </div>
       {% endif %}
    </div>
       {% endif %}
    <!-- END .articles-another -->
</div>
