<!-- BEGIN .job-info -->
<div class="job-info">
    <div class="job-info__detail {% if offer.applicationdata is not defined %}full{% endif %}">
        {% if companylocations | length == 0 %}bundesweit{% else %}<span style="color:#666666;" class="current_city_container">{{ companylocations.0.name }}</span>{% endif %} 
        {% if companylocations | length > 1 %} (<span class="tooltip-open">{{ companylocations | length - 1 }} weitere
        <div class="tooltip" style="z-index: 10">
            <em></em>
            <ul>
            {% for location in companylocations %}
                <li class="city_{{ location.id }}{% if loop.first %} current_city{% endif %}"><a data-id="{{ location.id }}" href="javascript:void(0);" onclick="joboffer.changeCity({{ location.id }});">{{ location.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        </span>)
        {% endif %}<i>|</i>
        <span style="color: #666666;" class="current_job_container">{{ companyjobs.0.name }}</span>
        {% if companyjobs | length > 1 %} (<span class="tooltip-open">{{ companyjobs | length - 1 }} weitere
        <div class="tooltip"  style="z-index: 10">
            <em></em>
            <ul>
            {% for job in companyjobs %}
                <li class="job_{{ job.id }}{% if loop.first %} current_job{% endif %}"><a data-id="{{ job.id }}" href="javascript:void(0);" onclick="joboffer.changeJob( {{ job.id }} )">{{ job.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        </span>)
        {% endif %}
        {% if offer.final_application_date is defined %}<i>|</i><b>Bewerben bis:</b> {{ offer.final_application_date }}{% endif %}
        {% if offer.training_start is defined %}<i> | </i><b>Beginn:</b> {{ offer.training_start }}{% endif %}
    </div>          
    {% if offer.applicationdata is defined %}
    <div class="job-info__apply">
        <a href="#"><span>Jetzt bewerben<i></i></span></a>
    </div>
    {% endif %}
    <div class="clr"></div>
</div>
<!-- END .job-info -->
