{% if offer.fallback_html is defined %}
    {% set src_attr = 'data-src' %}
{% else %}
    {% set src_attr = 'src' %}
{% endif %}
<h3 class="h3">{%if offer.original_html_headline is defined and offer.original_html_headline is not empty %} {{ offer.original_html_headline }} {% else %} Original-Anzeige {% endif %}</h3>
<div class="html_offer_wrapper">
    <iframe id="offer_frame" class="offer_frame" {{ src_attr }}="{{ offer.html_src }}" frameborder="0" height="1120"></iframe>
</div>
