{% extends 'AzubisterWebfrontendBundle::layout.html.twig' %}

{% block main_header %} {{ main_header|raw }} {% endblock %}

{% block main_footer %} {{ main_footer|raw }} {% endblock %}

{% block breadcrumps %}
<!-- BEGIN .breadcrumbs -->
    <p id="breadcrumbs">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('homepage') }}">
                <span itemprop="title">Home</span>
            </a>
            <i></i>
        </span>
        <span>Ausbildungsplätze</span>
    </p>
<!-- END .breadcrumbs -->
{% endblock %}

{% block main %}
	
<div class="col-1 joboffers_landing">
    <!-- BEGIN .ext-search -->
    <form class="ext-search" action="" data-search-type="joboffer">
        <div class="ext-search__fields-wrap">
            <div class="ext-search__fields">
                <input type="text" placeholder="Finde deinen Ausbildungsplatz"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Finde deinen Ausbildungsplatz'">
                <button type="submit">Und los!</button>
            </div>					
        </div>
        <div class="ext-search__lists ext-search__lists_s">
            <ul>
                <li><b>Berufe</b></li>
                {% if jobs %}
                    {% for item in jobs %}
                            {% set facets = { 'types' : ['joboffer'] } %}
                            {% set filters = { 'jobs': item.id } %}
                            {% set expand = ['types'] %}
                            <li><a href="{{ searchlink(null, expand, facets, filters) }}" rel="nofollow">{{ item.title }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
            <ul>
                <li><b>Betriebe</b></li>
                {% if companies %}
                    {% for item in companies %}
                            {% set facets = { 'types' : ['joboffer'] } %}
                            {% set filters = { 'companies': item.id } %}
                            {% set expand = ['types'] %}
                            <li><a href="{{ searchlink(null, expand, facets, filters) }}" rel="nofollow">{{ item.name }}</a></li>
                    {% endfor %}
                {% endif %}
                <li class="ext-search__list-2"><b>Schulabschluss</b></li>
                {% if schooldegrees %}
                    {% for item in schooldegrees %}
                        {% set facets = { 'types' : ['joboffer'], 'schooldegrees': [item.id] } %}
                        {% set expand = ['types', 'schooldegrees'] %}
                        <li><a href="{{ searchlink(null, expand, facets, null) }}" rel="nofollow">{{ item.title }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
            <ul>
                 <li><b>Branchen</b></li>
                 {% if jobgroups %}
                    {% for item in jobgroups %}
                            {% set facets = { 'types' : ['joboffer'], 'jobgroups': [item.id] } %}
                            {% set expand = ['types', 'jobgroups'] %}
                            <li><a href="{{ searchlink(null, expand, facets, null) }}" rel="nofollow">{{ item.name }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
            <ul>
                <li><b>Städte</b></li>
                {% if cities %}
                    {% for city in cities %}
                            {% set facets = { 'types' : ['joboffer'] } %}
                            {% set filters = { 'cities' : city.magazine_topic_id } %}
                            {% set expand = ['types'] %}
                            <li><a href="{{ searchlink(null, expand, facets, filters) }}" rel="nofollow">{{ city.name }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="ext-search__search-all-link ext-search__search-all-link_s">
            {% set facets = { 'types' : ['joboffer'] } %}
            <a href="{{ searchlink(null, null, facets, null) }}">Alle Ausbildungsplätze</a>
        </div>
    </form>
    <!-- END .ext-search -->
    {% if  new_offers %}
    <div class="main-partners__list">
        <h2>Die neuesten Ausbildungsplätze</h2>
        <ul>
            {% for joboffer in new_offers %}
                <li>
                    <a class= href="{{ joboffer.url }}">
                        <div class="joboffer_images_box">
                        {% if ((joboffer.company.logo is defined) and (joboffer.company.logo is not empty)) %}
                            {{ core_media(joboffer.company.logo, 'list', 'logo') | raw }}
                        {% else %}
                            {{ core_media(fallback_image_id, 'list', 'logo') | raw }}
                        {% endif %}
                        </div>
                    </a>
                    <a href="{{ joboffer.url }}">{{ joboffer.title }}</a>
                    <p>{{ joboffer.company.name }}</p>
                </li>
            {% endfor%}
        </ul>
        <a class="more_link" href="{{ path('searchresults') }}#/!/e:t/f:t:joboffer/n:10">Alle Ausbildungsplätze<i></i></a>
    </div>
    {% endif %}
    <!-- BEGIN .block-txt -->
    <div class="block-txt">
        <h1 class="h2">Den richtigen Ausbildungsplatz finden</h1>
        <p>Bei der Suche nach Ausbildungsplätzen und dualen Studiengängen gibt es einige wichtige Punkte zu beachten: Welche
{{ do_shortcodes('[link type="external" url="/ausbildung-suchen" label="Ausbildungen"]')|raw}} finde ich interessant? Hab ich für ein Duales Studium den passenden Schulabschluss? Bin ich bereit für eine Ausbildung oder ein Studium eventuell in eine andere Stadt zu ziehen? Diese Fragen solltest du dir stellen und auch beantworten können.</p>

        <h2 class="h3">Ausbildungsplätze suchen und sich bewerben</h2>
        <p>Was Ausbildungsbetriebe ihren zukünftigen Auszubildenden anbieten und welche Anforderungen diese an Bewerber stellen, findest du in der jeweiligen Stellenanzeige. Hier erfährst du alle wichtigen Infos über die Ausbildung, unter anderem welcher Schulabschluss von dir gefordert wird und was wichtige Ausbildungsinhalte sind. Bei deiner Bewerbung achte stets darauf, dass deine Unterlagen komplett sind. Egal ob schriftliche oder Online-Bewerbung - Anschreiben, Lebenslauf und Zeugnisse gehören immer hinein. Da Betriebe meistens zwischen mehreren Interessenten auswählen können, empfehlen wir dir, mehrere Bewerbungen zu schreiben. Sei nicht enttäuscht, wenn es bei der Ersten nicht sofort klappt. azubister bietet dir neben freien Ausbildungsstellen, auf die du dich bewerben kannst, wertvolle Tipps für deine
{{ do_shortcodes('[link type="term" id="18" label="perfekte Bewerbung"]')|raw}} und zum
{{ do_shortcodes('[link type="term" id="21" label="Vorstellungsgespräch"]')|raw}}.</p>

        <h2 class="h3">Toparbeitgeber auf azubister.net</h2>
        <p>Unsere Toparbeitgeber und Ausbildungsbetriebe bieten Ausbildungen an verschiedenen Standorten bundesweit an. Zumeist kannst du hier sogar zwischen mehreren Ausbildungen wählen - manche Unternehmen bieten zudem
{{ do_shortcodes('[link type="post" id="185" label="Duale Ausbildungen"]')|raw}} und
{{ do_shortcodes('[link type="term" id="24" label="Duale Studiengänge"]')|raw}} an. Auf azubister findest du den richtigen Ausbildungsplatz und kannst somit erfolgreich in dein Berufsleben starten.</p>
    </div>
    <!-- END .block-txt -->
</div>
<div class="col-2">
    <!-- BEGIN .top-employer -->
    {% if top_comps is not empty %}
    <div class="top-employer">
        <div class="aside-title">Top-Arbeitgeber</div>
        <ul>
            {% for top_company in top_comps %}
                <li><a href="{{ top_company.url}}" title="{{ top_company.name }}">
                     {% if ((top_company.logo is defined) and (top_company.logo is not empty)) %}
                        {{ core_media(top_company.logo, 'list_media', 'logo') | raw}}
                     {% else %}
                        {{ core_media(fallback_image_id, 'list_media', 'logo') | raw}}
                     {% endif %}
                </a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <!-- END .top-employer -->
    <div class="advert advert_aside">
        <span>Anzeige</span>
        {{ openxad(_adzones.joboffers_landing) | raw }}
    </div>
    <!-- BEGIN .nav-more -->		
</div>
<div class="clr"></div>

{% endblock %}	
