{% if offer.fallback_html is defined %}
<div id="fallback_html" class="bodytext">
    {{ do_shortcodes(offer.fallback_html) | raw }}
</div>
{% endif %}
    <a  class="download-link" href="{{ offer.pdf_src }}">{% if offer.link_label is  defined  and offer.link_label is not empty %} {{offer.link_label}} {%else%}Stellenanzeige als PDF downloaden{% endif %}</a>
