        {% if (company.staticpages is defined and company.staticpages is not empty) or (articles is defined and articles is not empty) %}
        <!-- BEGIN .tabs -->
        <div class="tabs company_tabs">
            <ul class="tabs__nav">
                <li><a class="active" href="company-places">Ausbildungen</a></li>
                <li><a href="company-any-info">weitere Informationen</a></li>
            </ul>
        </div>
        {% endif %}
        <div class="tabs__content">         
            <div class="tabs__item company-places" style="display: block">
                <div class="col-2 col-2_1">
                    <!-- BEGIN .company-places__list -->
                    {% if jobs.nonDualesStudium is defined and jobs.nonDualesStudium is not empty %}
                    <ul class="company-places__list">
                        <li><h5 class="h5">Ausbildungsberufe</h5></li>      
                        {% for companyJob in jobs.nonDualesStudium %}
                        <li class="company_job_item">
                        <span class="company-places__prof" data-jobid="{{ companyJob.id }}">{{ companyJob.name }}</span>
                            <div class="company-places__details">
                                <table>
                                    {% if companyJob.joboffers is defined and companyJob.joboffers is not empty %}
                                    {% for j in companyJob.joboffers %}
                                    <tr>
                                        <td colspan="2"><a href="{{ j.url }}">{{ j.title }}</a></td>
                                    </tr>
                                    {% endfor %}
                                    <tr style="border-top: 1px dotted #aaa;"><td colspan="2">&nbsp;</td></tr>
                                    {% endif %}
                                    {% if companyJob.duration is defined and companyJob.duration is not empty %}
                                    <tr>
                                        <td class="company-places__detail">Dauer:</td>
                                        <td>{{ companyJob.duration }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if companyJob.earnings is defined and companyJob.earnings is not empty %}
                                    <tr>
                                        <td class="company-places__detail">Verdienst:</td>
                                        <td>{{ companyJob.earnings }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if companyJob.school_degrees_string is defined and companyJob.school_degrees_string is not empty %}
                                    <tr>
                                        <td class="company-places__detail">Abschluss:</td>
                                        <td>{{ companyJob.school_degrees_string }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if companyJob.information is defined and companyJob.information is not empty %}
                                    <tr>
                                        <td class="company-places__detail">Sonstiges:</td>
                                        <td>{{ companyJob.information }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if companyJob.link is defined and companyJob.link is not empty %}
                                    <tr>
                                        <td colspan="2"><a href="{{ companyJob.link | raw }}" target="_blank">weitere Informationen<i></i></a></td>
                                    </tr>       
                                    {% endif %}
                                </table>
                            </div>  
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if jobs.dualesStudium is defined and jobs.dualesStudium is not empty %}
                    <ul class="company-places__list">
                        <li><h5 class="h5">Duales Studium</h5></li>     
                        {% for companyJob in jobs.dualesStudium %}
                        <li>
                            <span class="company-places__prof" data-jobid="{{ companyJob.id }}">{{ companyJob.name }}</span>
                            <div class="company-places__details">
                                <table>
                                    {% if companyJob.joboffers is defined and companyJob.joboffers is not empty %}
                                    {% for j in companyJob.joboffers %}
                                    <tr>
                                        <td colspan="2"><a href="{{ j.url }}">{{ j.title }}</a></td>
                                    </tr>
                                    {% endfor %}
                                    <tr style="border-top: 1px dotted #aaa;"><td colspan="2">&nbsp;</td></tr>
                                    {% endif %}
                                    {% if companyJob.duration is defined and companyJob.duration is not empty %}
                                    <tr>
                                        <td class="company-places__detail">Dauer:</td>
                                        <td>{{ companyJob.duration }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if companyJob.earnings is defined and companyJob.earnings is not empty %}
                                    <tr>
                                        <td class="company-places__detail">Verdienst:</td>
                                        <td>{{ companyJob.earnings }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if companyJob.school_degrees_string is defined and companyJob.school_degrees_string is not empty %}
                                    <tr>
                                        <td class="company-places__detail">Abschluss:</td>
                                        <td>{{ companyJob.school_degrees_string }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if companyJob.information is defined and companyJob.information is not empty %}
                                    <tr>
                                        <td class="company-places__detail">Sonstiges:</td>
                                        <td>{{ companyJob.information }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if companyJob.link is defined and companyJob.link is not empty %}
                                    <tr>
                                        <td colspan="2"><a href="{{ companyJob.link | raw }}" target="_blank">weitere Informationen<i></i></a></td>
                                    </tr>       
                                    {% endif %}
                                </table>
                            </div>  
                        </li>   
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {#
                    <a class="reset_filter_btn" href="javascript:void(0);">Alle Standorte</a>
                    #}
                    <!-- END .company-places__list -->
                </div>                  
                <div class="col-1 col-1_1">
                    {#
                    <!-- BEGIN .company-places__filter -->
                    <div class="company-places__filter">
                        <form id="map_form" action="">                            
                            <div class="company-places__zoom">
                                <input class="city" name="city" type="text" placeholder="Köln">
                                <button type="submit">Zoomen</button>
                                <span class="company-places__filter-open">Filter öffnen<i></i></span>
                            </div>
                            <div class="commpany-places__filter-list">
                                <b>Ausbildungsplätze filtern     </b>
                                <ul>
                                    <li><input class="mapfilterchkbox mapjobclass" id="cf1" type="checkbox" data-type="jobclass" data-value="dualesstudium"><label for="cf1">nur duales Studium</label></li>
                                    <li><input class="mapfilterchkbox mapdegree" id="cf2" type="checkbox" data-type="degree" data-value="hauptschule"><label for="cf2">nur Hauptschule</label></li>
                                    <li><input class="mapfilterchkbox mapjobclass" id="cf3" type="checkbox" data-type="jobclass" data-value="nondualesstudium"><label for="cf3">nur Ausbildungsberufe</label></li>
                                    <li><input class="mapfilterchkbox mapdegree" id="cf4" type="checkbox" data-type="degree" data-value="realschule"><label for="cf4">nur Realschule</label></li>
                                </ul>
                            </div>
                        </form>                     
                    </div>                              
                    #}
                    <div class="company-places__map">
                        <span class="map_filter_string">Hier siehst Du alle Ausbildungsstandorte der {{ company.name }}</span>
                        <div id="map_canvas" style="height: 660px; width: 100%;"></div>
                    </div>
                    <ul class="company-places__makers">
                            <li class="company-places__marker-1">Alle Standorte des Unternehmen<i></i></li>
                            {#<li class="company-places__marker-2">Dein Standort<i></i></li>#}
                            <li class="company-places__marker-3">Standorte mit freien Ausbildungsplätzen<i></i></li>
                    </ul>
                    <!-- END .company-places__filter -->
                </div>
            </div>
            <div class="tabs__item company-any-info">
                {% if company.staticpages is defined and company.staticpages is not empty %}
                    {% include "AzubisterWebfrontendBundle:Company:detail/staticpage_list.html.twig" with { 'staticpages': company.staticpages, 'company_slug': company.slug } %}
                {% endif %}
                    {% if articles is defined and articles is not empty %}
                    <h5 class="h5">{{ company.name }} im Magazin</h5>
                <ul class="articles">
                        {% for article in articles %}
                    <li>
                        <div class="articles__pic">
                            <a href="{{ article.url }}">
                                {% if article.feature_image is defined and article.feature_image is not empty %}
                                {{ magazine_feature_image(article.feature_image, 'home-article') | raw }}
                                {% else %}
                                {{ core_media(fallback_image_id, 'list_media', 'logo') | raw }}
                                {% endif %}
                                <span>azubister</span>
                            </a>
                        </div>
                        <h4 class="h4"><a href="{{ article.url }}">{{ article.title }}</a></h4>
                        {{ article_excerpt(article) | raw }}
                    </li>
                        {% endfor %}
                </ul>
                {% endif %}
                {#
                <div class="view-all">
                    <i></i>
                    <a href="#">Mehr anzeigen</a>
                </div>
                #}
            </div>
        </div>      
        <!-- END .tabs -->
