        <div class="tabs__content">         
            <div class="tabs__item company-places" style="display: block">
                <div class="col-2 col-2_1" style="margin-right: 18px;">
                    <!-- BEGIN .company-places__list -->
                    {% if jobs.nonDualesStudium is defined and jobs.nonDualesStudium is not empty %}
                    <ul class="company-places__list">
                        <li><h5 class="h5">Ausbildungsberufe</h5></li>      
                        {% for companyJob in jobs.nonDualesStudium %}
                        <li>
                            <span class="company-places__prof">{{ companyJob.name }}</span>
                            <div class="company-places__details">
                                <table>
                                    {% if companyJob.duration is defined and companyJob.duration is not empty %}
                                    <tr>
                                        <td class="company-places__detail">Dauer:</td>
                                        <td>{{ companyJob.duration }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if companyJob.earnings is defined and companyJob.earnings is not empty %}
                                    <tr>
                                        <td class="company-places__detail">Verdienst:</td>
                                        <td>{{ companyJob.earnings }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if companyJob.school_degrees_string is defined and companyJob.school_degrees_string is not empty %}
                                    <tr>
                                        <td class="company-places__detail">Abschluss:</td>
                                        <td>{{ companyJob.school_degrees_string }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if companyJob.information is defined and companyJob.information is not empty %}
                                    <tr>
                                        <td class="company-places__detail">Sonstiges:</td>
                                        <td>{{ companyJob.information }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if companyJob.link is defined and companyJob.link is not empty %}
                                    <tr>
                                        <td colspan="2"><a href="{{ companyJob.link | raw }}" target="_blank">weitere Informationen<i></i></a></td>
                                    </tr>       
                                    {% endif %}
                                </table>
                            </div>  
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if jobs.dualesStudium is defined and jobs.dualesStudium is not empty %}
                    <ul class="company-places__list">
                        <li><h5 class="h5">Duales Studium</h5></li>     
                        {% for companyJob in jobs.dualesStudium %}
                        <li>
                            <span class="company-places__prof">{{ companyJob.name }}</span>
                            <div class="company-places__details">
                                <table>
                                    {% if companyJob.duration is defined and companyJob.duration is not empty %}
                                    <tr>
                                        <td class="company-places__detail">Dauer:</td>
                                        <td>{{ companyJob.duration }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if companyJob.earnings is defined and companyJob.earnings is not empty %}
                                    <tr>
                                        <td class="company-places__detail">Verdienst:</td>
                                        <td>{{ companyJob.earnings }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if companyJob.school_degrees_string is defined and companyJob.school_degrees_string is not empty %}
                                    <tr>
                                        <td class="company-places__detail">Abschluss:</td>
                                        <td>{{ companyJob.school_degrees_string }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if companyJob.information is defined and companyJob.information is not empty %}
                                    <tr>
                                        <td class="company-places__detail">Sonstiges:</td>
                                        <td>{{ companyJob.information }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if companyJob.link is defined and companyJob.link is not empty %}
                                    <tr>
                                        <td colspan="2"><a href="{{ companyJob.link | raw }}" target="_blank">weitere Informationen<i></i></a></td>
                                    </tr>       
                                    {% endif %}
                                </table>
                            </div>  
                        </li>   
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <!-- END .company-places__list -->
                </div>
                <div class="col-1 tabs__item" style="display: block">
                    {% if company.staticpages is defined and company.staticpages is not empty %}
                        <h5 class="h5">weitere Informationen</h5>
                        {% include "AzubisterWebfrontendBundle:Company:detail/staticpage_list.html.twig" with { 'staticpages': company.staticpages, 'company_slug': company.slug } %}
                    {% endif %}
                    {% if articles is defined and articles is not empty %}
                    <h5 class="h5">{{ company.name }} im Magazin</h5>
                <ul class="articles">
                        {% for article in articles %}
                    <li>
                        <div class="articles__pic">
                            <a href="{{ article.url }}">
                                {% if article.feature_image is defined and article.feature_image is not empty %}
                                {{ magazine_feature_image(article.feature_image, 'home-article') | raw }}
                                {% else %}
                                {{ core_media(fallback_image_id, 'list_media', 'logo') | raw }}
                                {% endif %}
                                <span>azubister</span>
                            </a>
                        </div>
                        <h4 class="h4"><a href="{{ article.url }}">{{ article.title }}</a></h4>
                        {{ article_excerpt(article) | raw }}
                    </li>
                        {% endfor %}
                </ul>
                {% endif %}
            </div>
            </div>
        </div>
