{% extends 'AzubisterWebfrontendBundle::layout.html.twig' %}

{% block breadcrumps %}
    <p id="breadcrumbs">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('homepage') }}">
                <span itemprop="title">Home</span>
            </a>
            <i></i>
        </span>
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('company_landing') }}">
                <span itemprop="title">Ausbildungsbetriebe</span>
            </a>
            <i></i>
        </span>
        <span>{{ company.name }}</span>
    </p>
{% endblock %}

{# company facts
                        #}
{% block main %}

            {% if company.media_gallery is defined and company.media_gallery is not empty %}
                {% include "AzubisterWebfrontendBundle:Company:detail/with_gallery.html.twig" %}
            {% else %}
                {% include "AzubisterWebfrontendBundle:Company:detail/without_gallery.html.twig" %}
            {% endif %}

        {% if company.enable_comments %}
        <fb:comments href="{{ url('company_detail', { 'id': company.slug }) }}" width="660" num_posts="2"></fb:comments>
        {% endif %}

        {% include "AzubisterWebfrontendBundle:Common:company_detail_script.html.twig" with { 'jsLocations': jsLocations } %}

{% endblock %}

{% block main_header %} {{ main_header|raw }} {% endblock %}

{% block main_footer %} {{ main_footer|raw }} {% endblock %}
		
