{% extends 'AzubisterWebfrontendBundle::layout.html.twig' %}

{% block breadcrumps %}
<!-- BEGIN .breadcrumbs -->
    <p id="breadcrumbs">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('homepage') }}">
                <span itemprop="title">Home</span>
            </a>
            <i></i>
        </span>
        <span>Ausbildungsbetriebe</span>
    </p>
{% endblock %}

{% block main %}
<div class="col-1">
        <!-- BEGIN .ext-search -->
        <form class="ext-search" action="" data-search-type="company">
                <div class="ext-search__fields-wrap">
                        <div class="ext-search__fields">
                                <input type="text" placeholder="Finde deinen Ausbildungsbetrieb"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Finde deinen Ausbildungsbetrieb'">
                                <button type="submit">Und los!</button>
                        </div>					
                </div>
                <div class="ext-search__lists">
                    <ul>
                        <li><b>Betriebe</b></li>
                        {% if companies is defined %}
                            {% for item in companies %}
                                    {% set facets = { 'types' : ['joboffer'] } %}
                                    {% set filters = { 'companies': item.id } %}
                                    {% set expand = ['types'] %}
                                    <li><a href="{{ searchlink(null, expand, facets, filters) }}" rel="nofollow">{{ item.name }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                        <ul class="ext-search__list-3">
                            <li><b>Berufe</b></li>
                            {% for job in jobs %}
                                {% set facets = { 'types' : ['company'], 'jobs': [job.id] } %}
                                {% set expand = ['types'] %}
                                <li><a href="{{ searchlink(null, expand, facets, null) }}" rel="nofollow">{{ job.title }}</a></li>
                            {% endfor %}
			</ul>
                        
			<ul class="ext-search__list-4">
                            <li><b>Stadt</b></li>
                            {% for city in cities %}
                                {% set facets = { 'types' : ['company'] } %}
                                {% set filters = { 'cities' : city.magazine_topic_id } %}
                                {% set expand = ['types' ] %}
                                <li><a href="{{ searchlink(null, expand, facets, filters) }}" rel="nofollow">{{ city.name }}</a></li>
                            {% endfor %}
			</ul>
		</div>
        <div class="ext-search__search-all-link ext-search__search-all-link-4">
            {% set facets = { 'types' : ['company'] } %}
            <a href="{{ searchlink(null, null, facets, null) }}">Alle Betriebe</a>
        </div>
	</form>
	<!-- END .ext-search -->
    {% if new_companies is not empty %}
        <!-- BEGIN .job-training -->
        <div class="job-training companies__list">
            <h2 class="h3">Die neusten Betriebe auf azubister</h2>
            <ul class="company articles">
                {% for company in new_companies %}
                {% set style = '' %}
                <li style="{{ style }}">
                    <div class="company_logo">
                    {% if company.logo is defined %}
                        <a href="{{ path ('company_detail', {'id': company.slug}) }}">
                            {{ core_media(company.logo, 'staticpage_list', 'logo') | raw}}
                        </a>
                    {% else %}
                        <a href="{{ path ('company_detail', {'id': company.slug}) }}">
                            {{ core_media(fallback_image_id, 'staticpage_list', 'logo') | raw}}
                        </a>
                    {% endif %}
                    </div>
                    <a class="main_link" href="{{ path ('company_detail', {'id': company.slug}) }}">{{ company.name}}</a>				
                    <p>{% if company.content is defined and company.content.short_description is defined %}{{ company.content.short_description }}{% endif %} <a href="{{ path ('company_detail', {'id': company.slug}) }}">mehr</a></p>
                </li>
                {% endfor %}
            </ul>
	       <div class="clr"></div>
            <a class="more_link" href="{{ path('searchresults') }}#/!/e:t/e:jg/f:t:company/n:10">Alle Betriebe auf azubister<i></i></a>
        </div>
    {% endif %}
                <div class="block-txt">
                    <h1 class="h2">Warum die Wahl des Ausbildungsbetriebs so wichtig ist</h1>
                    <p>Du wirst die gesamte Zeit deiner Ausbildung, in der Regel zwischen 1 1/2
                        und 3 Jahren, in deinem Ausbildungsbetrieb arbeiten. Bei einer {{ do_shortcodes('[link id="185" type="post" label="Dualen Ausbildung"]')| raw }} musst du zwar noch in die {{ do_shortcodes('[link id="225" type="post" label="Berufsschule"]')| raw }}, aber den Großteil deiner Berufsausbildung wirst du im Betrieb ableisten. Aus diesem Grund ist die Wahl des Ausbildungsbetriebs sehr wichtig für dich.</p>

                    <h2 class="h2">Viele Betriebe - Viele Möglichkeiten</h2>
                    <p>Für die Zeit als Auszubildender bieten dir verschiedene
                        Betriebe auch verschiedene Möglichkeiten. Ein großes Unternehmen verfügt beispielsweise über mehrere Abteilungen, die du als Azubi durchlaufen und kennenlernen wirst. Dies bedeutet zum Beispiel für dich, dass du hier immer wieder neue Kollegen kennenlernen wirst. In einem kleineren Betrieb, werden diese Abteilungen eher gebündelt sein und du wirst zudem vielleicht nur eine Handvoll Kollegen haben. Denn Ausbildungsbetriebe gibt es in jeder Größenordnung: vom kleinen Familienbetrieb bis hin zum Unternehmen mit Standorten auf der ganzen Welt.</p>

                    <h2 class="h2">Weiterbildungs- und Aufstiegsmöglichkeiten beachten</h2>
                    <p>Ein wichtiger Punkt bei der Wahl des passenden Betriebes sind Weiterbildungs- und Aufstiegsmöglichkeiten, die es dir
                        unter Umständen ermöglichen nach der Ausbildung von deinem Betrieb 
                        übernommen zu werden. Einige Unternehmen bieten sogar die Möglichkeit an, 
                        einen {{ do_shortcodes('[link id="25" type="term" label="Auslandsaufenthalt"]')| raw }} 
                        während der Ausbildung zu absolvieren. Sicherlich spielt auch die Höhe der {{ do_shortcodes('[link id="27" type="term" label="Ausbildungsvergütung"]')| raw }} eine nicht unerhebliche Rolle. Oftmals werden in den gleichen Ausbildungsberufen von verschiedenen Betrieben höhere bzw. niedrigere Gehälter gezahlt. All dies gibt es bei der Wahl des passenden Ausbildungsbetrieb zu beachten.
                </p>
	</div>
</div>
<div class="col-2">
        {% if top_companies is not empty %}
                <div class="top-employer top-employer__solid">
                        <div class="aside-title">Top-Betriebe</div>
                        <ul>
                            {% for top_company in top_companies %}
                                <li><a href="{{ top_company.url}}" title="{{ top_company.name }}">
                                     {% if ((top_company.logo is defined) and (top_company.logo is not empty)) %}
                                        {{ core_media(top_company.logo, 'list_media', 'logo') | raw}}
                                     {% else %}
                                        {{ core_media(fallback_image_id, 'list_media', 'logo') | raw}}
                                     {% endif %}          
                                    </a></li>
                            {% endfor %}    
                        </ul>
                </div>
        {% endif %}
        {% if video is not empty %}
                <!-- BEGIN .our-video -->
                <div class="our-video">
                        <div class="aside-title">Videos unserer Betriebe</div>
                        <a href="<iframe width='560' height='315' src='http://www.youtube.com/embed/{{video.reference}}' frameborder='0' allowfullscreen></iframe>">{{ core_media(video.id, 'video_thumbnail', 'gallery') | raw }}</a>
                </div>
                <!-- END .our-video -->
        {% endif %}       
                <div class="advert advert_aside">
                        <span>Anzeige</span>
                        {{ openxad(zone_id) | raw }}
                </div>
</div>
<div class="clr"></div>

        <!-- END .job-training -->
{% endblock %}

{% block main_header %} {{ main_header|raw }} {% endblock %}

{% block main_footer %} {{ main_footer|raw }} {% endblock %}
{% block popups %}
        {{ parent() }}
        <!-- BEGIN .popup -->
<div class="popup popup_video">
	<div class="popup__close"><i></i></div>
	<div class="popup__iframe"></div>
    <div class="popup__company_url"><a href="{{ random_video_company.url }}">Zum Unternehmensprofil von {{ random_video_company.name }}<i></i></a></div>
</div>
<!-- END .popup -->
{% endblock %}		
