{% extends 'AzubisterWebfrontendBundle::layout.html.twig' %}

{% block breadcrumps %}
<!-- BEGIN .breadcrumbs -->
    <p id="breadcrumbs">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('homepage') }}">
                <span itemprop="title">Home</span>
            </a>
            <i></i>
        </span>
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('company_landing') }}">
                <span itemprop="title">Ausbildungsbetriebe</span>
            </a>
            <i></i>
        </span>
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('company_detail', {'id': company.slug}) }}">
                <span itemprop="title">{{ company.name }}</span>
            </a>
            <i></i>
        </span>
        <span>{{ page.title }}</span>
    </p>
<!-- END .breadcrumbs -->	
{% endblock %}

{% block main %} 

<div class="company">
    <div class="col-1">
        <!-- BEGIN .static -->
        <div class="static">
            <h1>{{ page.title }}</h1>
            {% if page.html is defined %}                 
            {{ page.html|raw }}
            {% endif %}
        </div>
    </div>
    <div class="col-2">
        <!-- BEGIN .army -->
        <div class="army company-profile">
            <div class="company-profile__detail__img_box">
                <a href="{{ company.url }}">
                {% if company.logo is defined and company.logo is not empty %}
                {{ core_media(company.logo, 'company_detail', 'logo') | raw }}
                {% else %}
                {{ core_media(fallback_image_id, 'company_detail', 'logo') | raw }}
                {% endif %}
            </a>
            </div>
            <a class="army__link" href="{{ company.url }}">zum Unternehmensprofil<i></i></a>
        </div>
        <!-- END .army -->
        <!-- BEGIN .company-adress -->				
        {% if _show_contactbox %}
        {% include "AzubisterWebfrontendBundle:Company:detail/contact_box.html.twig" with { "contact": company.contactdata, "aside": true  } %}
        {% endif %}
        {% if company.premium == false and company.show_ads %}
        {{ openxad(_adzones.company_profile) | raw }}
        {% endif %}
        <!-- END .company-adress -->
        {% if (other_staticpages is defined) and (other_staticpages is not empty)  %}
        <!-- BEGIN .aside-info -->				
        <div class="aside-info">
            <div class="aside-title">Weitere Informationen</div> 
            {% set min_count = 2 %}
            <ul>{% for other_staticpage in other_staticpages %}
                {% set style = '' %}
                {% if loop.index > min_count %}
                {% set style = 'display:none' %}
                {% endif %}
                <li style="{{ style }}">
                <div class="aside-articles__pic">
                    <a href="{{ path ('company_static_page', {'company_slug': company.slug, 'static_slug': other_staticpage.slug}) }}">
                        {% if other_staticpage.feature_image is defined %}                                         
                        {{ core_media(other_staticpage.feature_image, 'list', 'feature') | raw}}
                        {% else %}
                        {% if company.logo is defined %}
                        {{ core_media(company.logo, 'staticpage_list', 'logo') | raw}}
                        {% else %}
                        {{ core_media(fallback_image_id, 'staticpage_list', 'logo') | raw}}
                        {% endif %}
                        {% endif %}
                    </a>
                </div>
                <a href="{{ path ('company_static_page', {'company_slug': company.slug, 'static_slug': other_staticpage.slug}) }}">{{ other_staticpage.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% if other_staticpages | length > min_count %}
            <div class="view-all">
                <i></i>
                <a data-less_count="{{ min_count }}" href="javascript:void(0);">Alle anzeigen</a>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <!-- END .aside-info -->
    </div>
    <div class="clr"></div>
</div>	
{% endblock %}

{% block main_header %} {{ main_header|raw }} {% endblock %}

{% block main_footer %} {{ main_footer|raw }} {% endblock %}

