/* BACKGROUND SIZE */
/* ROTATE*/
/* TRANSITION */
/* line 2, ../scss/fancybox.scss */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../images/fancybox_sprite.png");
}

/* line 5, ../scss/fancybox.scss */
#fancybox-loading div {
  background: url("../images/fancybox_loading.gif") center center no-repeat;
}

/* line 8, ../scss/fancybox.scss */
.fancybox-nav {
  background: transparent url("../images/blank.gif");
  /* helps IE */
}

/* line 11, ../scss/fancybox.scss */
.fancybox-type-iframe .fancybox-nav {
  height: auto;
  top: 50px;
  bottom: 50px;
}

/* line 16, ../scss/fancybox.scss */
.fancybox-overlay {
  background: url("../images/fancybox_overlay.png");
}
