@CHARSET "UTF-8";
.main {background:#000000;}
.facets {width:350px; float:left;}
.form-filters-results {width:600px; float:left;background:#aaaa00;}

.facetList {display:none; list-style:none; padding:0;}
.facetList .facet {margin-bottom:20px;overflow:hidden;}
.facetList .facetValues {display:none;list-style:none; padding:0;clear:both;}
.facetList .expanded .facetValues {display:block;}
.facetList .facetHeader {font-weight:normal;float:left;width:300px;margin:0;}
.facetList .toggleFacet {float:right;width:50px;color:#000000;font-size:11px;}
.facetList .hasSelected .facetHeader {font-weight:bold;}