{% extends 'AzubisterWebfrontendBundle::layout.html.twig' %}

{% block main_header %} {{ main_header|raw }} {% endblock %}

{% block main_footer %} {{ main_footer|raw }} {% endblock %}
		
{% block breadcrumps %}
<!-- BEGIN .breadcrumbs -->
    <p id="breadcrumbs">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('homepage') }}">
                <span itemprop="title">Home</span>
            </a>
            <i></i>
        </span>
        <span>Über Uns</span>
    </p>
<!-- END .breadcrumbs -->
{% endblock %}

{% block main %}

<!-- BEGIN .tabs -->
<div class="tabs">
        <ul class="tabs__nav">
                <li><a class="active" href="{{ path('about_us') }}">Über uns</a></li>
                <li><a href="{{ path('partner') }}">Partner</a></li>
                <li><a href="{{ path('contact') }}">Kontakt</a></li>
                <li><a href="{{ path('imprint') }}">Impressum</a></li>
        </ul>
        <div class="tabs__content">
            <!-- BEGIN .about -->
            <div class="tabs__item about" style="display: block">
                    <div class="col-3">
                            <h3 class="h3">Über uns</h3>
                            <p>    
                            azubister ist das erste Informationsangebot mit integrierter Stellenbörse
                            zum Thema Ausbildung und Duales Studium, das Jugendlichen über Internet, 
                            Smartphones und facebook zur Verfügung steht. azubister ist somit der 
                            perfekte Begleiter vor und während der Ausbildung: Beiträge zu wichtigen 
                            Themen im Magazin, Ausbildungsberufe und duale Studien übersichtlich dargestellt 
                            und Einblicke in die Ausbildung bei Top-Ausbildungsbetrieben aus ganz Deutschland.<br>
                            Unser Ziel ist es, Jugendlichen eine Plattform für ihre Berufswahl und Ausbildungssuche 
                            zu bieten, die sie nahtlos in ihren digitalen Alltag integrieren können.<br><br>

                            Aktuelle Meldungen von azubister gibt es regelmäßig im  
                            {{ do_shortcodes('[link type="external" url="http://www.azubister.net/blog/" label="Blog"]')|raw}}
                            </p>
                    </div>
                    <div class="col-4">
                            <h3 class="h3">Das azubister-Team</h3>
                            <ul class="about__team">
                                {% for member in team %}
                                <li>
                                    {% if member.link is defined%} 
                                        {% set link = "href="~member.link  %}
                                    {% else %}
                                      {% set link = '' %}
                                    {% endif %}   
                                    {% if member.media_item.id is defined %}
                                        {{ core_media(member.media_item.id, 'team', 'portrait', {'alt': member.name }) | raw }}
                                    {% endif %}
                                    <a {{ link }}>{{ member.name }}</a>
                                    <span>{{member.position}}</span>
                                    <div class="about__social">
                                            <a class="about__social-fb" target="_blank" href="{{ member.fb_url }}"></a>
                                            <a class="about__social-an" target="_blank" href="{{ member.xing_url }}"></a>
                                            {% if member.email is defined%} 
                                                <a class="about__social-em" target="_blank" href="mailto:{{ member.email }}"></a>
                                            {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                    </div>
            </div>
            <!-- END .about -->
        </div>
</div>
<!-- END .tabs -->


{% endblock %}
