{% extends 'AzubisterWebfrontendBundle::layout.html.twig' %}

{% block main_header %} {{ main_header|raw }} {% endblock %}

{% block main_footer %} {{ main_footer|raw }} {% endblock %}

{% block breadcrumps %}
<!-- BEGIN .breadcrumbs -->
    <p id="breadcrumbs">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('homepage') }}">
                <span itemprop="title">Home</span>
            </a>
            <i></i>
        </span>
        <span>Kontakt</span>
    </p>
<!-- END .breadcrumbs -->
{% endblock %}		

{% block main %}
<!-- BEGIN .tabs -->
<div class="tabs">
    <ul class="tabs__nav">
                <li><a href="{{ path('about_us') }}">Über uns</a></li>
                <li><a href="{{ path('partner') }}">Partner</a></li>
                <li><a class="active" href="{{ path('contact') }}">Kontakt</a></li>
                <li><a href="{{ path('imprint') }}">Impressum</a></li>
    </ul>
    <div class="tabs__content">
        <!-- BEGIN .contacts -->
        <div class="tabs__item contacts" style="display: block;">
            <h3 class="h3">Kontakt zu azubister</h3>
            <div class="col-3">
                <p>Du hast Fragen zu azubister? Bitte verwende das nebenstehende Kontaktformular.</p>
                <div class="contacts__block">
                        <b>Für Unternehmen</b>
                        <strong><a href="callto://004922167778582">+49 221 67 77 85 82</a></strong>
                        <a class="contacts__email" href="mailto:vertrieb@azubister.net?subject=&body=">vertrieb@azubister.net</a>
                        <a class="contacts__personal" href="http://www.azubister.net/ausbildungsmarketing/kontakt/">Ihr persönlicher Ansprechpartner</a>
                </div>
            </div>
            <div class="col-4">
            {% if thanks==0%}

                <form action="kontakt" method="post" {{ form_enctype(form) }} >
                    {% if form_errors(form)|length > 0 %}
                        <ul>
                            <li>Fehler beim Ausfüllen</li>
                        </ul>
                    {% endif %}
                    <div class="form-txt">
                        {{ form_label(form.email) }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="form-txt">
                        {{ form_label(form.name) }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>

                    <div class="form-txt">
                        {{ form_label(form.message) }}
                        {{ form_errors(form.message) }}
                        {{ form_widget(form.message) }}        
                    </div>

                    {{ form_rest(form) }}

                    <div class="form-btn">
                            <button type="submit">Senden<i></i></button>
                    </div>
                </form>
                <script>
                function check(input) {
                  if (input.value == "" ) {
                    input.setCustomValidity('Bitte ausfüllen');
                  }
                    else {
                    // input is valid -- reset the error message
                    input.setCustomValidity('');
                  }
                }
                </script>
            {%else%}
                <div>Vielen Dank für deine Anfrage! Wir werden Dir so schnell wie möglich antworten.</div>
            {% endif %}     
            </div>
        </div>
        <!-- END .contacts -->
    </div>
</div>
<!-- END .tabs -->       
  
{% endblock %}
