{% extends 'AzubisterWebfrontendBundle::layout.html.twig' %}

{% block main_header %} {{ main_header|raw }} {% endblock %}

{% block main_footer %} {{ main_footer|raw }} {% endblock %}
		
{% block breadcrumps %}
<!-- BEGIN .breadcrumbs -->
    <p id="breadcrumbs">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('homepage') }}">
                <span itemprop="title">Home</span>
            </a>
            <i></i>
        </span>
        <span>Impressum</span>
    </p>
<!-- END .breadcrumbs -->
{% endblock %}

{% block main %}

<!-- BEGIN .tabs -->
<div class="tabs">
        <ul class="tabs__nav">
                <li><a href="{{ path('about_us') }}">Über uns</a></li>
                <li><a href="{{ path('partner') }}">Partner</a></li>
                <li><a href="{{ path('contact') }}">Kontakt</a></li>
                <li><a class="active" href="{{ path('imprint') }}">Impressum</a></li>
        </ul>
        <div class="tabs__content">
            <!-- BEGIN .imprint -->
            <div class="tabs__item imprint" style="display: block">
                    {#<p><b>Firmendaten</b></br>azubister GmbH</br>Friesenstr. 5-15</br>D - 50670 Köln</p>
                    <p>Eingetragen beim Amtsgericht Köln: HRB 61856<br>USt-IdNr. DE257478725</p>
                    <p>Telefon: + 49 (0) 0221 - 677 785 80<br>eMail: team (at) azubister.net</p>
                    <p><b>Verantwortlicher Geschäftsführer</b><br>Andreas Diehl</p>
                    <p>Inhaltlich Verantwortlicher gemäß § 6 MDStV: Andreas Diehl</p>
                    <p>Als Karrierenetzwerk für Schüler und Auszubildende mit integrierter Ausbildungsplatzbörse bietet azubister seinen Werbepartnern ein seriöses Netzwerk mit dem Schwerpunktthema Ausbildung. Sollten Sie Interesse haben ihr Unternehmen und ihre Leistungen in diesem Umfeld zu präsentieren, freuen wir uns auf ihr Nachricht.</p>
                    <p><b>Copyright</b><br>Der Inhalt dieser Website ist urheberrechtlich geschützt. Wir gestatten die Übernahme von Texten und Bildmaterialien sowie das gesamte Design inklusive Layout-, Schrift- und Farbgestaltung ausdrücklich nicht. Jede Kopie und jede Art der Weiterverwendung fällt ausdrücklich unter das Copyright und bedarf der Genehmigung seitens Andreas Diehl.</p>
                    <p><b>Haftungsausschluss</b></br>Für den Inhalt externer Links kann keine Gewähr übernommen werden. Wir distanzieren uns ausdrücklich von deren Inhalten und Aufbereitung und betonen, keinerlei Einfluss auf Gestaltung und Inhalt dieser Links sowie sämtliche weiterführende Angebote zu haben.</p>
                    <p><b>Verwendete Lizenzen</b><br>Social Network Icon Pack by Komodo Media, Rogie King is licensed under a Creative Commons Attribution-Share Alike 3.0 Unported License. Based on a work at www.komodomedia.com.<br>Weitere Bilder von Visualpharm</p>
#}
                    <p>
                            <strong>Firmendaten</strong><br>
                            azubister GmbH<br>
                            Friesenstr. 5-15<br>
                            D - 50670 Köln<br>
                            <br>
                            Eingetragen beim Amtsgericht Köln: HRB 61856<br>
                            USt-IdNr. DE257478725<br>
                            <br>
                            Telefon: + 49 (0) 0221 - 677 785 80<br>
                            eMail: team (at) azubister.net
                    </p>
                    <p>
                            <strong>Verantwortliche Geschäftsführer:</strong><br>
                            Marcus Rudert
                    </p>
                    <p>
                            Inhaltlich Verantwortliche gemäß § 6 MDStV:<br />
                            Marcus Rudert
                    </p>

                    <p>
                            <strong>Copyright</strong><br>
                            Der Inhalt dieser Website ist urheberrechtlich geschützt. Wir gestatten die Übernahme von Texten und Bildmaterialien sowie das gesamte Design inklusive Layout-, Schrift- und Farbgestaltung ausdrücklich nicht. Jede Kopie und jede Art der Weiterverwendung fällt ausdrücklich unter das Copyright und bedarf der Genehmigung seitens Andreas Diehl.
                    </p>
                    <p>
                            <strong>Haftungsausschluss</strong><br>
                            Für den Inhalt externer Links kann keine Gewähr übernommen werden. Wir distanzieren uns ausdrücklich von deren Inhalten 		und Aufbereitung und betonen, keinerlei Einfluss auf Gestaltung und Inhalt dieser Links sowie sämtliche weiterführende 		Angebote zu haben.
                    </p>

                    <p>
                        <strong>Verwendete Lizenzen</strong><br>
                        Social Network Icon Pack by Komodo Media, Rogie King is licensed under a Creative Commons Attribution-Share Alike 3.0 Unported License. Based on a work at <a href="http://www.komodomedia.com" title="" target="_blank">www.komodomedia.com</a>.<br>
                        Weitere Bilder von <a href="http://www.visualpharm.com">Visualpharm</a>
                    </p>

                    <p>
                        <strong>Datenschutzhinweise facebook</strong>
                        <br>
                        Unser Internetauftritt verwendet Social Plugins ("Plugins") des sozialen Netzwerkes facebook.com, welches von der Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA betrieben wird ("Facebook"). Die Plugins sind mit einem Facebook Logo oder dem Zusatz "Facebook Social Plugin" gekennzeichnet.<br>
                        <br>
                        Wenn Sie eine Webseite unseres Internetauftritts aufrufen, die ein solches Plugin enthält, baut Ihr Browser eine direkte Verbindung mit den Servern von Facebook auf. Der Inhalt des Plugins wird von Facebook direkt an Ihren Browser übermittelt und von diesem in die Webseite eingebunden.<br>
                        <br>
                        Durch die Einbindung der Plugins erhält Facebook die Information, dass Sie die entsprechende Seite unseres Internetauftritts aufgerufen haben. Sind Sie bei Facebook eingeloggt kann Facebook den Besuch Ihrem Facebook-Konto zuordnen. Wenn Sie mit den Plugins interagieren, zum Beispiel den "Gefällt mir" Button betätigen oder einen Kommentar abgeben, wird die entsprechende Information von Ihrem Browser direkt an Facebook übermittelt und dort gespeichert.<br>
                        <br>
                        Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch Facebook sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer Privatssphäre entnehmen Sie bitte den <a href="http://www.facebook.com/policy.php">Datenschutzhinweisen von Facebook</a>.<br>
                        <br>
                        Wenn Sie nicht möchten, dass Facebook über unseren Internetauftritt Daten über Sie sammelt, müssen Sie sich vor Ihrem Besuch unseres Internetauftritts bei Facebook ausloggen.
                    </p>

                    <p>
                        <strong>Datenschutzhinweise Google Analytics</strong>
                        <br>
                        Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. (“Google”). Google Analytics verwendet sog. “Cookies”, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglicht. Die durch den Cookie erzeugten Informationen über Ihre Benutzung diese Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten der Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.
                    </p>

                    <p>
                        <strong>Technische Umsetzung, Social Media und Online Marketing</strong>
                        <br>
                        <a href="http://www.webpard.de" target="_blank">
                            {% if logo_image.id is defined %}
                            {{ core_media(logo_image.id, 'contact', 'logo', {'alt': 'webpard', 'class': 'contact_logo'}) | raw }}
                            {% endif %}
                            </a>

                    </p>
            </div>
            <!-- END .imprint -->
        </div>
</div>
<!-- END .tabs -->

{% endblock %}
