{% extends 'AzubisterWebfrontendBundle::layout.html.twig' %}

{% block main_header %} {{ main_header|raw }} {% endblock %}

{% block main_footer %} {{ main_footer|raw }} {% endblock %}
		
{% block main %}
        {{ parent() }}

		<!-- BEGIN .main-slider -->
		<div class="main-slider-out">
		<div class="main-slider-navi"></div>
			<div class="main-slider">

                <div class="main-slider__item">
                    {{ core_media(slider_images.2, 'slide', 'slider') | raw}}
                    <div class="main-slider__info">
                        <br /><br /><br /><br /><br />
                        <blockquote>Finde jetzt deine Aus&shy;bild&shy;ung mit unserer neuen iPhone App. Informier dich zu Aus&shy;bild&shy;ungen und Aus&shy;bildungs&shy;betrieben direkt auf deinem iPhone.</blockquote>
                        <a class="btn" href="https://itunes.apple.com/de/app/azubister/id385931951?mt=8" target="_blank">Jetzt downloaden<i></i></a>
                    </div>
                </div>
                <div class="main-slider__item">
                    {{ core_media(slider_images.1, 'slide', 'slider') | raw}}
                    <div class="main-slider__info">
                        <blockquote>"Auf azubister habe ich meine Wunsch&shy;firma gefunden. In meinem Be&shy;trieb schaut nie&shy;mand schräg, wenn ich mor&shy;gens mit dem Skate&shy;board zur Arbeit komme."</blockquote>
                        <b>Tim</b>
                        <p>Auszubildender <span>{{ object_url('job', 176) | raw }}</span></p>
                        <a class="btn" href="{{ path('company_landing') }}">Ausbildungsbetriebe entdecken<i></i></a>
                    </div>
                </div>

				<div class="main-slider__item">
                    {{ core_media(slider_images.0, 'slide', 'slider') | raw}}
					<div class="main-slider__info">
						<blockquote>"Mir waren bei der Suche nach Aus&shy;bild&shy;ungs&shy;plätzen viele Fak&shy;tor&shy;en wich&shy;tig. Mit azubister bekam ich schnell einen Über&shy;blick über Aus&shy;bild&shy;ungs&shy;plätze meiner Region."</blockquote>
						<b>Tina Nicola</b>
                        <p>Auszubildende <span>{{ object_url('job', 183) | raw }}</span>, <span>{{ object_url('company', 3182) | raw }}</span></p>
                        <a class="btn" href="{{ path('joboffer_landing') }}">Ausbildungsplätze finden<i></i></a>
					</div>
				</div>

                <div class="main-slider__item">
                    {{ core_media(slider_images.3, 'slide', 'slider') | raw}}
                    <div class="main-slider__info">
                        <blockquote>"Schon vor Beginn meiner Aus&shy;bild&shy;ung, in&shy;formierte ich mich im Ma&shy;ga&shy;zin von azubister zu allen Fragen vor und während der Aus&shy;bild&shy;ung."</blockquote>
                        <b>Robin</b>
                        <p>Auszubildender <span>{{ object_url('job', 9) | raw }}</span>, Bäcker Newzella</p>
                        <a class="btn" href="/magazin/">Im Magazin stöbern<i></i></a>
                    </div>
                </div>
			</div>
		</div>
		<!-- END .main-slider -->
          <!-- BEGIN .big-search -->
          <div class="big-search">
                <div class="label">Mit einem Klick zu Deinem Traumjob</div>
                <form action="">
                    <div class="big-search__fields">
                        <input type="text" placeholder="Suche nach Ausbildung, Betrieb, Branche oder Stadt" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ausbildung, Betrieb, Branche oder Stadt'" name="searchterm" class="searchform" />
                        <button type="submit">Und los!</button>
                   </div>
               </form>
          </div>
          <!-- END .big-search -->
		<!-- BEGIN .partners -->
		<div class="main-partners">
            <div class="main-partners__logos">
                   {% if top_companies is not empty %}
                <h2>Top Ausbildungsbetriebe</h2>
			<ul>
                    {% for company in top_companies %}
                        {% if company.logo is defined %}
                            <li><div class="main-partners__item"><a href="{{ path('company_detail', {'id':company.slug})}}">{{ core_media(company.logo, 'list_media', 'logo') | raw}}</a></div></li>
                        {% else %}
                            <li><div class="main-partners__item"><a href="{{ path('company_detail', {'id':company.slug})}}">{{ core_media(fallback_image_id, 'list_media', 'logo') | raw}}</a></div></li>
                        {% endif %}
                    {% endfor%}
			</ul>
                    {% endif %}
			<div class="clr"></div>
                <a class="more_link" href="{{ path('searchresults') }}#/!/e:t/e:jg/f:t:company/n:10">Alle Betriebe auf azubister<i></i></a>
            </div>
            {% if last_joboffers is defined and last_joboffers is not empty %}
                <div class="main-partners__list">
                <h2>Die neuesten Ausbildungsplätze</h2>
			<ul>
                    {% for joboffer in last_joboffers %}
                        <li>
                            <a href="{{ joboffer.url }}">{{ joboffer.title }}</a>
                            <p>{{ joboffer.company.name }}</p>
                        </li>
                    {% endfor%}
			</ul>
                <a class="more_link" href="{{ path('searchresults') }}#/!/e:t/f:t:joboffer/n:10">Alle Ausbildungsplätze<i></i></a>
            </div>
            {% endif %}
			<div class="clr"></div>
		</div>
		<!-- END .partners -->
		<!-- BEGIN .app -->
		<div class="app">
			<div class="app__item">
                                <div class="app__pic app__pic_iphone"></div>
				<div class="app__info">
					<span>Ein Klick zur Ausbildung: Die neuesten Lehrstellen und beliebtesten Ausbildungsbetriebe für dein iPhone</span>
					<a href="https://itunes.apple.com/de/app/azubister/id385931951?mt=8" target="_blank" class="iphone-waiting-link">Jetzt downloaden<i></i></a>
				</div>
			</div>
			<div class="app__item">
                                <div class="app__pic app__pic_android"></div>
				<div class="app__info">
					<span>Ein Klick zur Ausbildung: Die neuesten Lehrstellen und beliebtesten Ausbildungsbetriebe für dein Android-Handy</span>
					<a href="https://play.google.com/store/apps/details?id=com.andreasdiehl.azubister" class="android-waiting-link" target="_blank" rel="external">Jetzt downloaden<i></i></a>
				</div>
			</div>
			<div class="app__item">
                                <div class="app__pic app__pic_facebook"></div>
				<div class="app__info">
					<span>Mit der azubister-facebook-App findest du freie Lehrstellen und Ausbildungsbetriebe in deiner Nähe. Gleich testen</span>
					<a href="https://apps.facebook.com/azubister/" target="_blank" class="facebook-waiting-link">Jetzt starten<i></i></a>
				</div>
			</div>	
			<div class="clr"></div>
		</div>	
		<!-- END .app -->
		<!-- BEGIN .main-bottom -->
		<div class="main-bottom">
			<div class="main-info">
				<h1 class="h2">Ausbildung und Ausbildungsplätze finden</h1>
                    <p>
                        Nach der Schule beginnt ein neuer Lebensabschnitt. Die Suche nach der passenden Ausbildung ist
                        eine wichtige Entscheidung für dich. Du wirst nicht nur privat, sondern auch im Job mehr
                        Verantwortung übernehmen müssen. azubister hilft dir beim Start ins Berufsleben und unterstützt
                        dich bei allen Fragen vor sowie während deiner Ausbildung und hilft dir bei der Suche nach dem
                        passenden Ausbildungsplatz.
                    </p>
				<h2 class="h3">Deine Ausbildung auf azubister</h2>
				<p>
                        Es gibt eine Vielzahl an Ausbildungen:
                        {{ do_shortcodes('[link id="185" type="post" label="Duale Ausbildungsberufe"]')| raw }}, 
                        {{ do_shortcodes('[link id="3265" type="post" label="schulische Ausbildungen"]')| raw }}
                        an Berufsakademien oder
                        {{ do_shortcodes('[link id="24" type="term" label="duale Studiengänge"]')| raw }} - Hieraus
                        die passende Ausbildung und den richtigen Ausbildungsplatz zu finden, ist eine Herausforderung.
                        azubister unterstützt dich schon bei der Berufsorientierung und bietet dir umfangreiche
                        Informationen zu allen Ausbildungen und duale Studien. Spannende Interviews mit Azubis geben
                        dir Einblicke in die unterschiedlichsten Jobs. Im
                        {{ do_shortcodes('[link type="external" url="/magazin/" label="Magazin"]')| raw }}
                        findest du weitere Infos rund um das Thema Berufswahl. Du bist schon einen Schritt weiter und
                        weißt bereits, welche Ausbildung du machen möchtest? Bei uns findest du immer
                        <a href="{{ path ('joboffer_landing') }}">freie Ausbildungsplätze</a>, auf welche du dich
                        bewerben kannst. Unsere Topbetriebe bieten dir zudem Ausbildungen an verschiedenen Standorten
                        deutschlandweit an. Starte jetzt deine Suche nach deinem Ausbildungsplatz.
                    </p>
                    <h2 class="h3">azubister - Finde deinen Ausbildungsplatz</h2>
                    <p>
                        Wir unterstützen dich im
                        {{ do_shortcodes('[link id="18" type="term" label="Bewerbungsprozess"]')| raw }} und bereiten dich
                        mit Tipps auf das 
                        {{ do_shortcodes('[link id="21" type="term" label="Vorstellungsgespräch"]')| raw }}
                        vor. azubister lässt dich auch als Auszubildender nicht im Stich. Im Magazin findest du laufend
                        aktuelle Beiträge zu allen wichtigen Themen rund um deine Ausbildung. Bei Fragen zöger zudem nicht,
                        uns direkt zu <a href="{{ path('contact')}}">kontaktieren</a>.
                        Viel Glück für die Suche nach deinem Ausbildungsplatz.
                    </p>
			</div>
			<div class="advert advert_main">
				<span>Anzeige</span>
				{{ openxad(_adzones.home) | raw }}
			</div>			
		</div>
		<!-- END .main-bottom -->



{% endblock %}
