{% extends 'AzubisterWebfrontendBundle::layout.html.twig' %}

{% block main_header %} {{ main_header|raw }} {% endblock %}

{% block main_footer %} {{ main_footer|raw }} {% endblock %}

{% block breadcrumps %}
<!-- BEGIN .breadcrumbs -->
    <p id="breadcrumbs">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('homepage') }}">
                <span itemprop="title">Home</span>
            </a>
            <i></i>
        </span>
        <span>Partner</span>
    </p>
<!-- END .breadcrumps -->
{% endblock %}
		
{% block main %}
   
<!-- BEGIN .tabs -->
<div class="tabs">
        <ul class="tabs__nav">
                <li><a href="{{ path('about_us') }}">Über uns</a></li>
                <li><a class="active" href="{{ path('partner') }}">Partner</a></li>
                <li><a href="{{ path('contact') }}">Kontakt</a></li>
                <li><a href="{{ path('imprint') }}">Impressum</a></li>
        </ul>
        <div class="tabs__content">
            <!-- BEGIN .partners -->
            <ul class="tabs__item partners" style="display: block">
                {% if partners %}
                    {% for partner in partners %}
                        <li><a class="partner_button" href="{{ partner.url }}">
                            {% if partner.logo is defined %}
                                <div class="partner_img_wrapper">
                                    {{ core_media(partner.logo, 'partner', 'logo') | raw }}
                                </div>
                            {% endif %}
                            <span>{{ partner.name }}</span>
                        </a>
                        <div class="popup_partner_data" style="display: none">

                            {% if partner.logo is defined %}
                                {{ core_media(partner.logo, 'partner_popup', 'logo', {'alt': partner.name, 'class': 'popup_partner_image'}) | raw }}
                            {% endif %}
                            <div class="popup_partner_text">{{ do_shortcodes(partner.text) |raw }}</div>
                            <a class="popup_partner_url" href="{{ partner.url }}"></a>
                        </div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <!-- END .partners -->
        </div>
</div>
<!-- END .tabs -->
{% endblock %}

{% block popups %}
    {{ parent() }}
<!-- BEGIN .popup -->
<div class="popup_partners_template" style="display: none">
        <div class="popup__close"><i></i></div>
        <img />
        <strong></strong>
        <p></p>
        <div class="clr"></div>
        <a class="link-out" target="_blank"><i></i></a>
</div>
<!-- END .popup -->
{% endblock %}
