<!-- BEGIN .aside-articles -->
	{% if articles %}
		<div class="aside-articles">
			<div class="aside-title">Artikel zu dieser Ausbildung</div>
                {% set _show_articles_more = false %}
				<ul>{% for article in articles %}
                    {% if loop.index == 6 %} {% set _show_articles_more = true %}{% endif %}
					<li{% if loop.index > 5 %} style="display: none"{% endif %}>
						<div class="aside-articles__pic">
                            {% if article.feature_image is defined and article.feature_image is not empty %}
							<a href="{{ article.url }}">{{ magazine_feature_image(article.feature_image, 'widget-list') | raw }}</a>
                            {% elseif replaceImage is defined and replaceImage is not empty %}
							<a href="{{ article.url }}">{{ core_media(replaceImage, 'list', 'logo') | raw }}</a>
                            {% endif %}
						</div>
                        <span class="aside-articles__text"><a href="{{ article.url }}">{{ article.title| raw }}</a></span>
					</li>
				{% endfor %}
				</ul>
            {% if _show_articles_more %}
			<div class="view-all">
				<i></i>
				<a href="javascript:void(0);">Alle anzeigen</a>
			</div>
            {% endif %}
		</div>
		<!-- END .aside-articles -->
{% endif %}
