<script type="text/javascript">

    window.currentJob = null;
    window.companyName = "{{ company.name | e('js') }}";

    function generateContentForMarker(marker) {
        var html = '<strong>'+ marker.locationName + '</strong>';
        var currentJobHtml = '';
        var otherJobsHtml = '';
        if (marker.joboffers)  {
            for (var i = 0; i < marker.joboffers.length; i++) {
                var j = marker.joboffers[i];
                var jobIds = j.jobIds;
                if (window.currentJob && j.jobIds !== undefined && j.jobIds.length && j.jobIds.indexOf(window.currentJob) != -1) {
                    currentJobHtml += '<li><a href="' + j.url + '">' + j.title + '</a><i></i></li>';
                } else {
                    otherJobsHtml += '<li><a href="' + j.url + '" >' + j.title + '</a><i></i></li>';
                }
            }
        }

        if (currentJobHtml) {
            html += '<p>Freie Ausbildungsplätze als</p><ul class="currentJobs">'+currentJobHtml+'</ul>';
        }
        if (otherJobsHtml) {
            if (!currentJobHtml) {
                html += '<p>Ausbildungsplätze in '+ marker.locationName + '</p><ul class="otherJobs">'+otherJobsHtml+'</ul>';
            } else {
                html += '<ul class="otherJobs">'+otherJobsHtml+'</ul>';
            }
        }

        return html;
    }
    function buildLocationsFilters(locations) {
        var res = {};
        var dualesStudium = [];
        var nonDualesStudium = [];
        var schoolDegrees = {};
        for (l in locations) if (locations.hasOwnProperty(l)) {

        }
        return res;
    }

    $(document).ready(function() {
        var locations = {{ jsLocations | raw }};
        window.jobs = {{ jsJobs | raw }};
        var filteredLocations = buildLocationsFilters(locations);
        var map = null;

        if (locations.length) {
        map = new Map;
        map.init('map_canvas');

        for (var i = 0; i < locations.length ; i++) {
            l = locations[i];
            l.lat = l.geo_latitude;
            l.lng = l.geo_longitude;
            var callback = null;
            /*
            if (l.type == 'joboffer') {
                callback = generateContentForMarker;
            } 

            if (l.type == 'company') {
                l.content = "<strong>" + l.name + "</strong><div>Zur Zeit keine Ausbildungsplätze in " + l.name + "</div>";
            }
            */

            map.addLocation(l, callback);
        }
        }

    })
</script>
