{% extends 'AzubisterWebfrontendBundle::layout.html.twig' %}

{% block main_header %} {{ main_header|raw }} {% endblock %}

{% block main_footer %} {{ main_footer|raw }} {% endblock %}

{% block breadcrumps %}
{% if cities %}
<!-- BEGIN .breadcrumbs -->
<p id="breadcrumbs">
    <span>&nbsp;</span>
</p>
<!-- END .breadcrumbs -->
{% endif %}
{% endblock %}

{% block main %}
        {{ parent() }}

        {% if cities %}
            {{ cities|raw }}
        {% else %}
            <div class="error-page">
                <div class="error-page__title">{{ errorTitle }}</div>
                <h1 class="h1">{{ errorMessage }}</h1>

                {% if status_code == 404 %}
                <div class="col-set">
                    <div class="col">

                        <p>Sorry, die angeforderte Seite oder Datei konnte leider nicht gefunden werden:</p>
                        <ul class="list">
                            <li>Hast du die URL selbst eingegeben?<br>Überprüfe deine Eingabe nochmals auf Schreibfehler<i></i></li>
                            <li>Oder hast du auf einen Link geklickt?<br>Dann kontaktiere bitte unseren <a href="{{ path('contact') }}">Support</a>, damit wir das Problem beheben können</li>
                        </ul>
                    </div>
                    <div class="col">

                        <p>Jetzt nicht verzweifeln! Vielleicht hilft dir ja einer der folgenden Links weiter:</p>
                        <ul class="list">
                            <li>Nutze unsere <a href="{{ path('searchresults') }}">Suchfunktion</a>, um die gewünschten Inhalte ausfindig zu machen</li>
                            <li>Besuche die azubister-<a href="{{ path('homepage') }}">Startseite</a></li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <div class="col-set">
                    <div class="col">

                        <p>Sorry, wir arbeiten daran und die Seite wird in Kürze wieder zur Verfügung stehen.</p>
                    </div>
                    <div class="col">

                        <p>Vielleicht hilft dir aber einer der folgenden Links weiter:</p>
                        <ul class="list">
                            <li>Nutze unsere <a href="{{ path('searchresults') }}">Suchfunktion</a></li>
                            <li>Besuche die azubister-<a href="{{ path('homepage') }}">Startseite</a></li>
                            <li>Sollte das Problem öfters auftreten, dann kontaktiere bitte unseren <a href="{{path('contact')}}">Support</a></li>
                        </ul>
                    </div>
                </div>

                {% endif %}
            </div>
        {% endif %}

        {% if isDebug %}
        <hr style="margin-top: 30px">
        <h2>Debug is "true"</h2>
        <div>Status code: <strong>{{ status_code }}</strong></div>
        <div>Status text: <strong>{{ status_text }}</strong></div>

        <h3>Exception:</h3>
        <div>{{ exception.message|nl2br|format_file_from_text }}</div>

                <div>
                    <strong>{{ status_code }}</strong> {{ status_text }} - {{ exception.class|abbr_class }}
                </div>

                {% set previous_count = exception.allPrevious|length %}
                {% if previous_count %}
                    <div class="linked"><span><strong>{{ previous_count }}</strong> linked Exception{{ previous_count > 1 ? 's' : '' }}:</span>
                        <ul>
                            {% for i, previous in exception.allPrevious %}
                                <li>
                                    {{ previous.class|abbr_class }} <a href="#traces_link_{{ i + 1 }}" onclick="toggle('traces_{{ i + 1 }}', 'traces'); switchIcons('icon_traces_{{ i + 1 }}_open', 'icon_traces_{{ i + 1 }}_close');">&#187;</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
    {% for position, e in exception.toarray %}
        {% include 'TwigBundle:Exception:traces.html.twig' with { 'exception': e, 'position': position, 'count': previous_count } only %}
    {% endfor %}

    {% if logger %}
        <div class="block">
            <div class="logs clear_fix">
                {% spaceless %}
                <h2>
                    Logs&nbsp;
                    <a href="#" onclick="toggle('logs'); switchIcons('icon_logs_open', 'icon_logs_close'); return false;">
                        <img class="toggle" id="icon_logs_open" alt="+" src="{{ asset('bundles/framework/images/blue_picto_more.gif') }}" style="visibility: hidden" />
                        <img class="toggle" id="icon_logs_close" alt="-" src="{{ asset('bundles/framework/images/blue_picto_less.gif') }}" style="visibility: visible; margin-left: -18px" />
                    </a>
                </h2>
                {% endspaceless %}

                {% if logger.counterrors %}
                    <div class="error_count">
                        <span>
                            {{ logger.counterrors }} error{{ logger.counterrors > 1 ? 's' : ''}}
                        </span>
                    </div>
                {% endif %}

            </div>

            <div id="logs">
                {% include 'TwigBundle:Exception:logs.html.twig' with { 'logs': logger.logs } only %}
            </div>

        </div>
    {% endif %}

    {% if currentContent %}
        <div class="block">
            {% spaceless %}
            <h2>
                Content of the Output&nbsp;
                <a href="#" onclick="toggle('output_content'); switchIcons('icon_content_open', 'icon_content_close'); return false;">
                    <img class="toggle" id="icon_content_close" alt="-" src="{{ asset('bundles/framework/images/blue_picto_less.gif') }}" style="visibility: hidden" />
                    <img class="toggle" id="icon_content_open" alt="+" src="{{ asset('bundles/framework/images/blue_picto_more.gif') }}" style="visibility: visible; margin-left: -18px" />
                </a>
            </h2>
            {% endspaceless %}

            <div id="output_content" style="display: none">
                {{ currentContent }}
            </div>

            <div style="clear: both"></div>
        </div>
    {% endif %}

<script type="text/javascript">//<![CDATA[
    function toggle(id, clazz) {
        var el = document.getElementById(id),
            current = el.style.display,
            i;

        if (clazz) {
            var tags = document.getElementsByTagName('*');
            for (i = tags.length - 1; i >= 0 ; i--) {
                if (tags[i].className === clazz) {
                    tags[i].style.display = 'none';
                }
            }
        }

        el.style.display = current === 'none' ? 'block' : 'none';
    }

    function switchIcons(id1, id2) {
        var icon1, icon2, visibility1, visibility2;

        icon1 = document.getElementById(id1);
        icon2 = document.getElementById(id2);

        visibility1 = icon1.style.visibility;
        visibility2 = icon2.style.visibility;

        icon1.style.visibility = visibility2;
        icon2.style.visibility = visibility1;
    }
//]]></script>
    {% endif %}
{% endblock %}
