{% set gallery = gallery(gallery_id) %}


	{% if gallery.hasMedias %}
		<!-- BEGIN .gallery -->
		<div class="gallery">

                    <ul>
                        {% for media_item in gallery.medias %}
                            {% set L = loop.length %}
                            {% if media_item.type == 'youtube'%}
                            <li class="gallery__video"{% if loop.index > 6 %} style="display: none"{% endif %}>
                                 <a class="gallery" {% if media_item.type == 'youtube'%} data-fancybox-type="iframe" {% endif %} rel="gallery" href="{{ core_media_url(media_item.id, 'reference') }}" title="{{ core_media_caption(media_item.id) | e('html_attr')}}">{{ core_media(media_item.id, 'thumbnail', 'gallery') | raw}}</a>
                                <i></i>
                            </li>
                            {% else %}
                            <li class="gallery__photo"{% if loop.index > 6 %} style="display: none"{% endif %}>
                            <a class="gallery" rel="gallery" href="{{ core_media_url(media_item.id, 'reference') }}" title="{{ core_media_caption(media_item.id) | e('html_attr')}}">{{ core_media(media_item.id, 'thumbnail', 'gallery') | raw}}</a>
                                <i></i></li>
                            {% endif %}

                            {% if loop.last  and (loop.length % 6) != 0%}
                                {% set r = 6 - (loop.length % 6) - 1%}
                                
                                {% for i in 0..r %}
                                <li class="gallery__def"{% if L > 6 %} style="display: none"{% endif %}>{{ core_media(fallback_image_id, 'list_media', 'logo', { 'alt': '' }) | raw}}<i></i></li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
			{% if gallery.showMore %}
			<div class="view-all">
				<i></i>
				<a href="javascript:void(0);">Mehr anzeigen</a>
			</div>
	{% endif %}
		</div>
		<!-- END .gallery -->
{% endif %}
