        {#% javascripts  output='js/compiled/jquery.tools.min.js'
        '@AzubisterWebfrontendBundle/Resources/public/js/jquery.tools.min.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %#}

{% javascripts  output='js/compiled/main.js'
		'%kernel.root_dir%/../vendor/jquery/jquery/jquery-1.8.2.js'
		
		'%kernel.root_dir%/../vendor/jquery/jquery-tools/src/scrollable/scrollable.js'
		'%kernel.root_dir%/../vendor/jquery/jquery-tools/src/scrollable/scrollable.autoscroll.js'
		'%kernel.root_dir%/../vendor/jquery/jquery-tools/src/scrollable/scrollable.navigator.js'
		
		'@AzubisterWebfrontendBundle/Resources/public/js/jquery.cycle.all.js'

		'@AzubisterWebfrontendBundle/Resources/public/js/jquery.truncator.js'

		'%kernel.root_dir%/../vendor/fancyapps/fancyBox/source/jquery.fancybox.pack.js'
		
		'@AzubisterWebfrontendBundle/Resources/public/js/common.js'
		'@AzubisterWebfrontendBundle/Resources/public/js/joboffer.js'
		
        '@AzubisterWebfrontendBundle/Resources/public/js/search.js'
        
        '@AzubisterWebfrontendBundle/Resources/public/js/jquery.azubisterSearchform.js'
        
        '@AzubisterWebfrontendBundle/Resources/public/js/newsletter.js'
        '@AzubisterWebfrontendBundle/Resources/public/js/maps.js'
        '@AzubisterWebfrontendBundle/Resources/public/js/fix_elements.js'
        '@AzubisterWebfrontendBundle/Resources/public/js/sponsorsReloader.js'
		
		
		filter='?yui_js'
         %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        
        
        {% javascripts  output='js/compiled/jquery.ba-hashchange.min.js'
        '@AzubisterWebfrontendBundle/Resources/public/js/jquery.ba-hashchange.min.js'
        %}
        
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
