{% stylesheets filter="?yui_css" output='css/styles.css'
    
	'%kernel.root_dir%/../vendor/fancyapps/fancyBox/source/jquery.fancybox.css'
    "@AzubisterWebfrontendBundle/Resources/public/css/screen.css"
  
    
   
%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{#}	<link rel="stylesheet" href="/bundles/azubisterwebfrontend/js/fancybox/jquery.fancybox-1.3.4.css" />#}
{% endstylesheets %}

{# "@AzubisterWebfrontendBundle/Resources/public/scss/_base.scss" #}
