<!-- BEGIN .aside-topics -->
{% if articles %}
    {% set min_count = 4 %}
	<div class="aside-info">
			
        {% set style="" %}
        <ul>
        {% for article in articles %}
            {% if loop.index > min_count %}
                {% set style= "display: none;"%}
            {%endif%}
            <li style="{{style}}">
                <div class="aside-articles__pic">
                    <a href="{{ article.permalink }}">{{ magazine_feature_image(article.image_id, 'aside-info') | raw }}</a>
                </div>
                <a href="{{ article.permalink }}">{{ topic_excerpt(article) | raw }}</a>
            </li>
        {% endfor %}
        </ul>
        {% if articles | length > min_count %}
            <div class="view-all">
                <i></i>
                <a data-less_count="{{ min_count }}" href="javascript:void(0);">Alle anzeigen</a>
            </div>
        {% endif %}
	</div>
{% endif %}
<!-- END .aside-topics -->
