                {% if aside is defined and aside == true %}
                    <div class="company-adress company-adress_aside">
                {% else %}
                    <div class="company-adress">
                {% endif %}
                <div class="company-adress__title">Kontakt für Bewerber<i></i></div>
                {{ contact.contact_field | raw }}
                    
                </div>
