                {% if aside is defined and aside == true %}
                    <div class="company-adress company-adress_aside">
                {% else %}
                    <div class="company-adress">
                {% endif %}
                    
                {% if contact.phone_callto is defined and contact.phone_callto is not empty %}
                    <strong><a href="callto:{{ contact.phone_callto }}">
                            {% if contact.phone_label is defined and contact.phone_label is not empty %}{{ contact.phone_label }}{% else %}{{ contact.phone_callto }}{% endif %}
                    </a><i></i></strong>
                    {% endif %}
                    <ul>
                        {% set mailtoUrl = company_mailto(contact) %}
                        {% if mailtoUrl is not empty %}
                        <li><a href="mailto:{{ mailtoUrl }}">{% if contact.email_label is defined and contact.email_label is not empty %}{{ contact.email_label }}{% else %}{{ contact.email_address }}{% endif %}</a></li>
                        {% endif %}
                        {% if contact.website_url is defined and contact.website_url is not empty %}
                        <li><a href="{{ contact.website_url }}">
                            {% if contact.website_label is defined and contact.website_label is not empty %}{{ contact.website_label }}{% else %}{{ contact.website_url }}{% endif %}
                        </a></li>
                        {% endif %}
                        <li class="company-adress__social">
                            {% if contact.facebook_url is defined and contact.facebook_url is not empty %}
                            <a class="company-adress__fb" href="{{ contact.facebook_url }}"></a>
                            {% endif %}
                            {% if contact.twitter_url is defined and contact.twitter_url is not empty %}
                            <a class="company-adress__tw" href="{{ contact.twitter_url }}"></a>
                            {% endif %}
                            {% if contact.xing_url is defined and contact.xing_url is not empty %}
                            <a class="company-adress__an" href="{{ contact.xing_url }}"></a>
                            {% endif %}
                            {% if contact.google_plus_url is defined and contact.google_plus_url is not empty %}
                            <a class="company-adress__gg" href="{{ contact.google_plus_url }}"></a>
                            {% endif %}
                        </li>
                        {% if contact.contact_address is defined and contact.contact_address is not empty %}
                        <li>{{ do_shortcodes(contact.contact_address) | raw }}</li>
                        {% endif %}
                    </ul>
                </div>
