<div class="job-detail bodytext content-elements">
    {% for ce in company.content_elements %}

    {% if ce.type == 'text' %}
    <a name="{{ ce.anchor_id }}"></a>
    {% if loop.first %}
    <h2 class="h2">{{ ce.data.title }}</h3>
    {% else %}
    <h3 class="h3">{{ ce.data.title }}</h3>
    {% endif %}
    {{ do_shortcodes(ce.data.text) | raw }}
    {% endif %}

    {% if ce.type == 'html' %}
    <a name="{{ ce.anchor_id }}"></a>
    <h3 class="h3">{{ ce.anchor_text }}</h3>
    {{ ce.data.html|raw }}
    {% endif %}

    {% if ce.type == 'image_text' %}
    <a name="{{ ce.anchor_id }}"></a>
    <h3 class="h3">{{ ce.data.title }}</h3>

    {% if ce.data.placement is defined and ce.data.placement != 'below' %}
    <div class="job_detail__content_pic{%  if ce.data.placement is defined %}  job_detail__content_pic_{{ ce.data.placement }} {% endif %}">
        {{ core_media(ce.data.image_id, ce.data.image_size, 'content') | raw }}
    </div>
    {% endif %}
    {{ do_shortcodes(ce.data.text)| raw }}
    {% if ce.data.placement is defined and ce.data.placement == 'below' %}
    <div class="job_detail__content_pic{%  if ce.data.placement is defined %}  job_detail__content_pic_{{ ce.data.placement }} {% endif %}">
        {{ core_media(ce.data.image_id, 'content_full_width') | raw }}
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
