<div class="company-profile">
    <div class="company-profile__detail">
        <h2 class="h2">{{ company.name }}</h2>
        <div class="company-profile__detail__img_box">
            {% if company.logo is defined and company.logo is not empty %}
            {{ core_media(company.logo, 'company_detail', 'logo') | raw }}
            {% else %}
            {{ core_media(fallback_image_id, 'company_detail', 'logo') | raw }}
            {% endif %}
        </div>
        <div class="company-profile_locations_teaser">
            {% set badgeClass = company_badge(company) %}
            {% if badgeClass is not empty %}
            <div class="{{ badgeClass }}"></div>
            {% endif %}
            <p>
            {{ company.locations_teaser }}{% if company.locations_teaser_add %} <span>({{ company.locations_teaser_add }}){% endif %}</span>
            </p>
            {% if company.industry %}
                <p>
                    Branche: {{ company.industry.title }}
                </p>
            {% endif %}
        </div>
        {% if company.contactdata is defined %}
        <div class="company-contact_social">
            {% if company.contactdata.website_url is defined and company.contactdata.website_url is not empty %}
            <a href="{{ company.contactdata.website_url }}" target="_blank">
                {% if company.contactdata.website_label is defined and company.contactdata.website_label is not empty %}{{ company.contactdata.website_label }}{% else %}{{ company.contactdata.website_url }}{% endif %}
            </a>
            {% endif %}
            <div class="social_buttons">
                {% if company.contactdata.facebook_url is defined and company.contactdata.facebook_url is not empty %}
                <a class="company-fb" href="{{ company.contactdata.facebook_url }}" target="_blank"></a>
                {% endif %}
                {% if company.contactdata.twitter_url is defined and company.contactdata.twitter_url is not empty %}
                <a class="company-tw" href="{{ company.contactdata.twitter_url }}" target="_blank"></a>
                {% endif %}
                {% if company.contactdata.youtube_url is defined and company.contactdata.youtube_url is not empty %}
                <a class="company-yt" href="{{ company.contactdata.youtube_url }}" target="_blank"></a>
                {% endif %}
                {% if company.contactdata.xing_url is defined and company.contactdata.xing_url is not empty %}
                <a class="company-xi" href="{{ company.contactdata.xing_url }}" target="_blank"></a>
                {% endif %}
                {% if company.contactdata.google_plus_url is defined and company.contactdata.google_plus_url is not empty %}
                <a class="company-gg" href="{{ company.contactdata.google_plus_url }}" target="_blank"></a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>                              
</div>  
