<ul class="joboffers-list">
    {% for item in joboffers %}
    <li>
        <div class="logo_box">
        <a href="{{item.url }}">
            {% if company.logo is defined and company.logo is not empty %}
            {{ core_media(company.logo, 'list', 'logo') | raw }}
            {% else %}
            {{ core_media(fallback_image_id, 'list', 'logo') | raw }}
            {% endif %}
        </a>
        </div>
        <div class="search-results__detail">
        <a href="{{item.url }}">
            <h4 class="h4">{{ item.title }}</h4>
        </a>
        <span>
            {% set sep = '' %}
            {% if item.companyjobs is defined and item.companyjobs is not empty %} 
                {% set sep = ' - ' %}
                {% for job in item.companyjobs %}
                    {% if loop.index0 < 3 %} {{job.name}}{% if loop.index0 < 2 and loop.last == false %}, {% endif %}{% endif %}
                {% endfor %} 
                {% if item.companyjobs|length > 3 %} ({{ item.companyjobs|length - 3}} weitere) {% endif %}
            {% endif %}
            {% if item.companylocations is defined and item.companylocations is not empty %} {{ sep }} 
                {% set sep = ' - ' %} 
                {% for location in item.companylocations %}
                    {% if loop.index0 < 3 %} {{location.name}}{% if loop.index0 < 2 and loop.last == false %}, {% endif %}{% endif %}
                {% endfor %} 
                {% if item.companylocations|length > 3 %} ({{ item.companylocations|length - 3}} weitere) {% endif %}
            {% else %} {{ sep }}
                {% set sep = ' - ' %} 
                bundesweit
            {% endif %}
            {{ sep }} Quelle: azubister
        </span>
        </div>
    </li>
    {% endfor %}
</ul>
    {% if company.more_joboffers %}
    <div class="joboffers-btn-wrp">
        {% set facets = { 'types' : ['joboffer'] } %}
        {% set filters = { 'companies': company.id } %}
        {% set expand = ['types'] %}
        <a class="other_joboffers_btn" href="{{ searchlink(null, expand, facets, filters) }}">Alle Ausbildungsplätze<i></i></a>
    </div>
    {% endif %}
