{% if jobs.dualesStudium is defined and jobs.dualesStudium is not empty %}
<div class="company-jobs widget">
    <div class="aside-title">Duale Studiengänge</div>
    <ul>
        {% set v_a = false %}
        {% for companyJob in jobs.dualesStudium %}
        <li class="{{ cycle(['odd', 'even'], loop.index0) }}"{% if loop.index > 5 %} style="display: none;"{% endif %}>
        {% set url = '' %}
        {% if companyJob.count_joboffers == 1 %}
        {% for jo in companyJob.joboffers %}
        {% set url = jo.url %}
        {% endfor %}
        {% endif %}
        {% if companyJob.count_joboffers > 1 %}
        {% set facets = { 'types' : ['joboffer'] } %}
        {% set filters = { 'jobs': companyJob.job, 'companies': company.id } %}
        {% set expand = ['types'] %}
        {% set url = searchlink(null, expand, facets, filters) %}
        {% endif %}
        {% if url %}
        <a href="{{ url }}">{{ companyJob.name }}</a>
        {% else %}
        <span>{{ companyJob.name }}</span>
        {% endif %}
        {% if companyJob.link is defined and companyJob.link is not empty %}
        <a class="external" href="{{companyJob.link}}" target="_blank"></a>
        {% endif %}
        {% if loop.last and loop.index > 5 %}{% set v_a = true %}{% endif %}
        </li>
        {% endfor %}
    </ul>
    {% if v_a %}
    <div class="view-all">
        <i></i>
        <a href="javascript:void(0);">Alle anzeigen</a>
    </div>
    {% endif %}
</div>
{% endif %}

{% if jobs.nonDualesStudium is defined and jobs.nonDualesStudium is not empty %}
<div class="company-jobs widget">
    <div class="aside-title">Ausbildungen</div>
    <ul>
        {% set v_a = false %}
        {% for companyJob in jobs.nonDualesStudium %}
        <li class="{{ cycle(['odd', 'even'], loop.index0) }}"{% if loop.index > 5 %} style="display: none;"{% endif %}>
        {% set url = '' %}
        {% if companyJob.count_joboffers == 1 %}
        {% for jo in companyJob.joboffers %}
        {% set url = jo.url %}
        {% endfor %}
        {% endif %}
        {% if companyJob.count_joboffers > 1 %}
        {% set facets = { 'types' : ['joboffer'] } %}
        {% set filters = { 'jobs': companyJob.job, 'companies': company.id } %}
        {% set expand = ['types'] %}
        {% set url = searchlink(null, expand, facets, filters) %}
        {% endif %}
        {% if url %}
        <a href="{{ url }}">{{ companyJob.name }}</a>
        {% else %}
        <span>{{ companyJob.name }}</span>
        {% endif %}
        {% if companyJob.link is defined and companyJob.link is not empty %}
        <a class="external" href="{{companyJob.link}}"></a>
        {% endif %}
        {% if loop.last and loop.index > 5 %}{% set v_a = true %}{% endif %}
        </li>
        {% endfor %}
    </ul>
    {% if v_a %}
    <div class="view-all">
        <i></i>
        <a href="javascript:void(0);">Alle anzeigen</a>
    </div>
    {% endif%}
</div>
{% endif %}

