<div class="job-landing-aside aside-info widget">
    <div class="aside-title">Weitere Informationen</div>
    <ul>
        {% set min_count = 4 %}
        {% set c = 1 %}
        {% if company.staticpages is defined and company.staticpages is not empty %}
            {% for staticpage in company.staticpages %}
                <li{% if c > 2%} style="display: none;"{% endif %}>
                    <div class="aside-articles__pic">
                        <a href="{{ url('company_static_page', {'company_slug': company.slug, 'static_slug': staticpage.slug}) }}">
                            {% if staticpage.feature_image is defined and staticpage.feature_image is not empty %}
                                {{ core_media(staticpage.feature_image, 'list', 'feature') | raw }}
                            {% else %}
                                {{ core_media(fallback_image_id, 'list_media', 'logo') | raw }}
                                {% endif %}
                        </a>
                    </div>
                    <a href="{{ url('company_static_page', {'company_slug': company.slug, 'static_slug': staticpage.slug}) }}">
                        {{ staticpage.title }}
                    </a>
                </li>

                {% set c = c + 1 %}
            {% endfor %}
        {% endif %}
        {% if articles is defined and articles is not empty %}
            {% for article in articles %}
                <li{% if c > min_count %} style="display: none;"{% endif %}>
                    <a href="{{ article.url }}">
                        {% if article.feature_image is defined and article.feature_image is not empty %}
                            {{ magazine_feature_image(article.feature_image, 'aside-info') | raw }}
                        {% else %}
                            {{ core_media(fallback_image_id, 'list_media', 'logo') | raw }}
                        {% endif %}
                    </a>
                    <a href="{{ article.url }}">
                        {{ article.title }}
                    </a>
                </li>
                {% set c = c + 1 %}
            {% endfor %}
        {% endif %}
    </ul>
    {% if c > min_count %}
        <div class="view-all">
            <i></i>
            <a data-less_count="{{ min_count }}" href="javascript:void(0);">Alle anzeigen</a>
        </div>
    {% endif %}
</div>
