<ul class="articles">
    {% for staticpage in staticpages %}
        {% if staticpage.featured_on_profile %}
    <li>
        <div class="articles__pic">
            <a href="{{ url('company_static_page', {'company_slug': company_slug, 'static_slug': staticpage.slug}) }}">
            {% if staticpage.feature_image is defined and staticpage.feature_image is not empty %}
                {{ core_media(staticpage.feature_image, 'list', 'feature') | raw }}
            {% else %}
                {{ core_media(fallback_image_id, 'staticpage_list', 'logo', {'alt': 'azubister'}) | raw }}
            {% endif %}
            <span>{{ company.name }}</span>
            </a>
        </div>
        <h4 class="h4"><a href="{{ url('company_static_page', {'company_slug': company_slug, 'static_slug': staticpage.slug}) }}">{{ staticpage.title }}</a></h4>
        <p>{{ staticpage.description }}</p>
    </li>
        {% endif %}
    {% endfor %}
</ul>
