        <div class="company{{ premium_class }}">
            <div class="col-1">
                {% include "AzubisterWebfrontendBundle:Company:detail/infobox.html.twig" %}
                <div class="clr"></div>         
            </div>
            <div class="col-2 company-aside">
                {% if _show_contactbox %}
                    {% include "AzubisterWebfrontendBundle:Company:detail/contact_box.html.twig" with { "contact": company.contactdata } %}
                {% endif %}
                {% if company.premium == false and company.show_ads %}
                    <div class="widget">
                    {{ openxad(_adzones.company_profile) | raw }}
                    </div>
                {% endif %}
            </div>
            <div class="clr"></div>
		</div>
		{% if company.media_gallery is defined and company.media_gallery is not empty %}
			{% include "AzubisterWebfrontendBundle:Common:gallery.html.twig" with { 'gallery_id': company.media_gallery } %}
		{% endif %}
        <div class="col-1">
            {% if joboffers is not empty %}
                {% include "AzubisterWebfrontendBundle:Company:detail/joboffers_list.html.twig" with {"company": company,  "joboffers": joboffers } %}
            {% else %}
                <div class="no-joboffers">
                    {% if company.content is defined and company.content.no_joboffers_text is defined and company.content.no_joboffers_text is not empty %}
                    {{ do_shortcodes(company.content.no_joboffers_text) | raw }}
                    {% else %}
                    <strong>Zur Zeit sind keine freien Ausbildungsplätze auf azubister gelistet.</strong><br>
                    {% endif %}
                    <span>Speichere Dir die Seite und besuche uns bald wieder.<i></i></span>
                </div>
            {% endif %}

            {% if company.content_elements is defined and company.content_elements is not empty%}
                {% include "AzubisterWebfrontendBundle:Company:detail/content_elements.html.twig" %}
            {% endif %}

            <div class="clr"></div>
        </div>

        <div class="col-2 company-aside">

            {% if company.has_locations %}
                    <div class="company-places__map">
                        <span class="map_filter_string">Alle Standorte</span>
                        <div id="map_canvas" style="height: 305px; margin-bottom: 30px; width: 100%;"></div>
                    </div>
            {% endif %}

            {% if company.facts is defined and company.facts is not empty %}
                <div class="widget company-facts">
                    <div class="aside-title">Steckbrief</div>
                    <ul>
                        {% for fact in company.facts %}
                        <li><strong>{{ fact.label }}:</strong><span>{{ fix_quick_info(fact.value) | raw }}</span></li>
                        {% endfor %}
                    </ul>   
                </div>
            {% endif %}

            {% include "AzubisterWebfrontendBundle:Company:detail/jobs_widget.html.twig" %}
            

                        {% if (company.staticpages is defined and company.staticpages is not empty) or (articles is defined and articles is not empty) %}
                            {% include "AzubisterWebfrontendBundle:Company:detail/mixed_articles.html.twig" %}
                        {% endif %}
            <div class="clr"></div>
        </div>
        <div class="clr"></div>
