{% extends 'AzubisterWebfrontendBundle::layout.html.twig' %}

{% block main_header %} {{ main_header|raw }} {% endblock %}

{% block main_footer %} {{ main_footer|raw }} {% endblock %}

{% block breadcrumps %}
    <!-- BEGIN .breadcrumbs -->
    <p id="breadcrumbs">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('homepage') }}">
                <span itemprop="title">Home</span>
            </a>
            <i></i>
        </span>
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('job_landing') }}">
                <span itemprop="title">Ausbildungen</span>
            </a>
            <i></i>
        </span>
        {% if jg_mag is defined and jg_mag is not empty %}
	       {% if jg_mag.short_title is defined and jg_mag.short_title  is not empty %}
		      {%  set jobgroup_title = jg_mag.short_title %}
		  {% else %}
			 {%  set jobgroup_title = jg_mag.name %}
		  {% endif %}		
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a itemprop="url" href="{{ jg_mag.permalink }}#Ausbildungen">
                    <span itemprop="title">{{ jobgroup_title }}</span>
                </a>
                <i></i>
            </span>
        {% endif %}
        <span>{{ job.title }}</span>
    </p>
    <!-- END .breadcrumbs -->
{% endblock %}
		
{% block main %}
<!-- BEGIN .job-profile -->
		<div class="job-profile">
			<div class="job-profile__pic">
				{% if job.feature_image is defined %}
                <a class="gallery" rel="gallery" href="{{ core_media_url(job.feature_image, 'reference') }}" title="{{ core_media_caption(job.feature_image) | e('html_attr')}}">
					{{ core_media(job.feature_image, 'info', 'feature') | raw }}
					</a>
                    {{ core_media_caption(job.feature_image, '<p>', '</p>') | raw }}
                                {% else %}
                                    <a class="gallery" href="{{ core_media_url(replaceImage, 'reference') }}">
                                    {{ core_media(replaceImage, 'info', 'feature') | raw }}
                                    </a>
				{% endif %}

			</div>			
			<div class="job-profile__info">
				<h2 class="h2">{{ job.title }}</h2>
				{% if job.quick_infos is defined %}
					<ul>
					{% for qi in job.quick_infos %}
						<li>
						{{ do_shortcodes(fix_quick_info(qi)) | raw}}
						<i></i></li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
                        {% set facets = { 'types' : ['joboffer'] } %}
                        {% set filters = { 'jobs' : job.id } %}
                        {% set expand = ['types'] %}

			<a class="job-profile__btn job-profile__btn_blue" href="{{ searchlink(null, expand, facets, filters) }}">Ausbildungsplätze<i></i></a>
                        {% set facets = { 'types' : ['company'] } %}
                        {% set filters = { 'jobs' : job.id } %}
                        {% set expand = ['types'] %}
			<a class="job-profile__btn job-profile__btn_gray" href="{{ searchlink(null, expand, facets, filters) }}">Ausbildungsbetriebe<i></i></a>
   	</div>
		<!-- END .job-profile -->
		{% if job.media_gallery is defined %}
			{% include "AzubisterWebfrontendBundle:Common:gallery.html.twig" with { 'gallery_id': job.media_gallery } %}
		{% endif %}
		<div class="col-1">
			<div class="job-detail bodytext">

{% if job.content_elements is defined and job.content_elements is not empty%}
	{% for ce in job.content_elements %}

		{% if ce.type == 'text' %}
			<a name="{{ ce.anchor_id }}"></a>
			<h3 class="h3">{{ ce.data.title }}</h3>
			{{ do_shortcodes(ce.data.text) | raw }}
		{% endif %}

		{% if ce.type == 'html' %}
			<a name="{{ ce.anchor_id }}"></a>
			<h3 class="h3">{{ ce.anchor_text }}</h3>
			{{ ce.data.html|raw }}
		{% endif %}

		{% if ce.type == 'image_text' %}
			<a name="{{ ce.anchor_id }}"></a>
			<h3 class="h3">{{ ce.data.title }}</h3>

			{% if ce.data.placement is defined and ce.data.placement != 'below' %}
			<div class="job_detail__content_pic{%  if ce.data.placement is defined %}  job_detail__content_pic_{{ ce.data.placement }} {% endif %}">
				{{ core_media(ce.data.image_id, ce.data.image_size, 'content') | raw }}
				</div>
			{% endif %}
				{{ do_shortcodes(ce.data.text)| raw }}
			{% if ce.data.placement is defined and ce.data.placement == 'below' %}
			<div class="job_detail__content_pic{%  if ce.data.placement is defined %}  job_detail__content_pic_{{ ce.data.placement }} {% endif %}">
				{{ core_media(ce.data.image_id, 'content_full_width') | raw }}
				</div>
			{% endif %}
		{% endif %}
	{% endfor %}
{% endif %}
                        {% if job.subject_areas_info is defined %}
                                <h3 class="h3">Fachrichtungen</h3>
                                {{ do_shortcodes(job.subject_areas_info) | raw }}
			{% endif %}

                        {% if job.related_jobs_info is defined %}
				<h3 class="h3">Ähnliche Ausbildungen</h3>
				{{ do_shortcodes(job.related_jobs_info) | raw }}
			{% endif %}

            <h3 class="h3">Und jetzt?</h3>
                <div class="job-trainings">
                    <div class="job-trainings__left">
                        <div class="job-trainings__blue">
                            <em></em>
                            <ul>
                                <li><h4 class="h4">Ausbildung gefällt mir:</h4></li>
                                {% set facets = { 'types' : ['company'] } %}
                                {% set filters = { 'jobs' : job.id } %}
                                {% set expand = ['types'] %}
                                <li><a href="{{ searchlink(null, expand, facets, filters) }}">Ausbildungsbetriebe suchen<i></i></a></li>
                                {% set facets = { 'types' : ['joboffer'] } %}
                                {% set filters = { 'jobs' : job.id } %}
                                {% set expand = ['types'] %}
                                <li><a href="{{ searchlink(null, expand, facets, filters) }}">Ausbildungsplätze suchen<i></i></a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="job-trainings__right">                  
                        <div class="job-trainings__red">
                            <em></em>
                            <ul>
                                <li><h4 class="h4">Nicht sicher, ob das passt:</h4></li>
                                {% if job.main_job_group is defined and jg_mag is defined and jg_mag is not empty  %}
                                        {% set facets = { 'types' : ['job'], 'jobgroups': [job.main_job_group] } %}
                                        {% set expand = ['types', 'jobgroups'] %}
                                        {% if jg_mag.short_title is defined and jg_mag.short_title is not empty %}
                                            {% set jg_name = jg_mag.short_title %}
                                        {% else %}
                                            {% set jg_name = jg_mag.name %}
                                        {% endif %}
                                        <li><a href="{{ searchlink(null, expand, facets, null) }}">Andere Ausbildungen in der Berufsgruppe {{ jg_name }}<i></i></a></li>
                                        <li><a href="{{ jg_mag.permalink }}">Informationen zur Berufsgruppe {{ jg_name }}<i></i></a></li>
                                {% else %}
                                    
                                    <li><a href="{{ path('job_landing') }}">Andere Ausbildungen<i></i></a></li>
                                {% endif %}
                            </ul>
                        </div>  
                    </div>
                </div>
                <fb:comments href="{{ url('job_detail', { 'slug': job.slug }) }}" width="660" num_posts="2"></fb:comments>
			</div>
		</div>
		<div class="col-2">
			<div class="advert advert_aside">
				<span>Anzeige</span>
				{{ openxad(_adzones.job_profile) | raw }}
			</div>
			{% include "AzubisterWebfrontendBundle:Common:articles_aside.html.twig" with { 'articles': articles } %}
		</div>
		<div class="clr"></div>


{% endblock %}
