{% extends 'AzubisterWebfrontendBundle::layout.html.twig' %}

{% block main_header %} {{ main_header|raw }} {% endblock %}

{% block main_footer %} {{ main_footer|raw }} {% endblock %}
		
{% block breadcrumps %}
<!-- BEGIN .breadcrumbs -->
    <p id="breadcrumbs">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="{{ path('homepage') }}">
                <span itemprop="title">Home</span>
            </a>
            <i></i>
        </span>
        <span>Ausbildung</span>
    </p>
<!-- END .breadcrumbs -->
{% endblock %}

{% block main %}

<div class="col-1">
        <!-- BEGIN .ext-search -->
        <form class="ext-search" action="" data-search-type="job">
                <div class="ext-search__fields-wrap">
                        <div class="ext-search__fields">
                                <input type="text" placeholder="Finde deine Ausbildung"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Finde deine Ausbildung'">
                                <button type="submit">Und los!</button>
                        </div>
                </div>
                <div class="ext-search__lists">
                        <ul>
                            {% if jg_items %}<li><b>Branchen</b></li>
                            {% for item in jg_items %}
                                {% if loop.index <= (loop.length)/2 %}
                                    {% set facets = { 'types' : ['job'], 'jobgroups': [item.id] } %}
                                    {% set expand = ['types', 'jobgroups'] %}
                                    <li><a href="{{ searchlink(null, expand, facets, null) }}" rel="nofollow">{{ item.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <ul class="ext-search__list">
                            {% for item in jg_items %}
                                {% if loop.index > (loop.length)/2 %}
                                    {% set facets = { 'types' : ['job'], 'jobgroups': [item.id] } %}
                                    {% set expand = ['types', 'jobgroups'] %}
                                    <li><a href="{{ searchlink(null, expand, facets, null) }}" rel="nofollow">{{ item.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                        
                        <ul class="ext-search__list-1">
                            {% if jt_items %}
                            <li><b>Typ</b></li>
                            {% for item in jt_items %}
                                    {% set facets = { 'types' : ['job'], 'jobtypes': [item.id] } %}
                                    {% set expand = ['types', 'jobtypes'] %}
                                <li><a href="{{ searchlink(null, expand, facets, null) }}" rel="nofollow">{{ item.title }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                        <ul class="ext-search__list-1">
                            {% if sd_items %}
                            <li><b>Schulabschluss</b></li>
                            {% for item in sd_items %}
                                    {% set facets = { 'types' : ['job'], 'schooldegrees': [item.id] } %}
                                    {% set expand = ['types', 'schooldegrees'] %}
                                <li><a href="{{ searchlink(null, expand, facets, null) }}" rel="nofollow">{{ item.title }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                </div>
                <div class="ext-search__search-all-link">
                    {% set facets = { 'types' : ['job'] } %}
                    <a href="{{ searchlink(null, null, facets, null) }}">Alle Ausbildungen</a>
                </div>
        </form>
        <!-- END .ext-search -->
        <!-- BEGIN .top10 -->
        <div class="top10">
                <h3 class="h1">Top 10 Ausbildungen</h3>
                <div class="top10__lists">
                {%if el_items is defined %}
                    {% for entlist in el_items %}
                        {% if loop.index <= 2 %}
                        <ul>
                            <li><b>{{ entlist.title }}</b></li>
                            {% for item in entlist.items %}
                                {% if loop.index <= 10 %}
                                    <li class="top10__three"><span>{{loop.index}}</span><a href="{{ path('job_detail', {'slug': item.slug}) }}">{{ item.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </div>
                <div class="block-txt">
                    <h1 class="h2">Den richtigen Ausbildungsplatz finden</h1>
                    <p>
                        Bei der Suche nach Ausbildungsplätzen und dualen Studiengängen gibt es für dich einige wichtige Punkte
                        zu beachten: Welche Berufe finde ich interessant? Hab ich den passenden 
                        {{ do_shortcodes('[link type="term" id="20" label="Schulabschluss"]')|raw}} (für ein Duales Studium
                        brauchst du beispielsweise das Abitur)? Bin ich bereit für eine Lehre oder ein Studium eventuell in
                        eine andere Stadt zu ziehen? Diese Fragen solltest du dir stellen und auch beantworten können.
                    </p>
                    <h2 class="h3">Ausbildungsplätze suchen und sich bewerben</h2>
                    <p>
                        Was Unternehmen ihren zukünftigen Azubis anbieten und welche Anforderungen diese an Bewerber stellen,
                        findest du in der jeweiligen Stellenanzeige. Hier erfährst du alle wichtigen Infos über die Ausbildung:
                        unter anderem welcher Schulabschluss von dir gefordert wird, was wichtige Inhalte des jeweiligen
                        Berufes sind und wie du dich bewerben kannst. Bei deiner
                        {{ do_shortcodes('[link type="term" id="18" label="Bewerbung"]')|raw}} achte besonders darauf,
                        dass deine Unterlagen komplett sind. Egal ob schriftliche oder Online-Bewerbung - Anschreiben,
                        Lebenslauf und die letzten Zeugnisse gehören immer hinein. Da Betriebe meistens zwischen mehreren
                        Interessenten auswählen können, empfehlen wir dir, mehrere Bewerbungen zu schreiben. Sei nicht
                        enttäuscht, wenn es bei der Ersten nicht sofort klappt - bleib hartnäckig und gib nicht auf. azubister
                        bietet dir neben Stellenanzeigen, auf die du dich bewerben kannst, wertvolle Tipps für deine perfekte
                        Bewerbung und zum {{ do_shortcodes('[link type="term" id="21" label="Vorstellungsgespräch"]')|raw}}.
                        Auch interessante Infos für deinen Start als Lehrling haben wir für dich gesammelt.
                    </p>
                    <h2 class="h3">Toparbeitgeber auf azubister.net</h2>
                    <p>
                        Unsere Toparbeitgeber und Ausbildungsbetriebe bieten Ausbildungen an verschiedenen Standorten
                        bundesweit an. Zumeist kannst du hier sogar zwischen mehreren verschiedenen Berufen wählen - manche
                        Unternehmen bieten zudem Duale Ausbildungen und Duale Studiengänge an. Auf azubister findest du den
                        richtigen Ausbildungsplatz und kannst somit erfolgreich in dein Berufsleben starten. Wir wünschen
                        dir für deinen Start alles Gute und viel Erfolg.
                    </p>
                </div>
        </div>
        <!-- END .top10 -->
</div>
<div class="col-2">
        <div class="advert advert_aside">
                <span>Anzeige</span>
				{{ openxad(_adzones.jobs_landing) | raw }}
        </div>
        <!-- BEGIN .nav-more -->
        <div class="nav-more">
                <div class="aside-title">Weiterführende Informationen im Magazin</div>
                <ul>
                    {%if jg_items_mag %}
                        {% set mnemonic_id = '' %}
                        {% for item in jg_items_mag %}
                            {%if item.mnemonic_identifier is defined %}
                                {% set mnemonic_id = item.mnemonic_identifier %}
                            {% else %}
                                {% set mnemonic_id = '' %}
                            {% endif %}
                            <li><a class="{{ mnemonic_id }}" href="{{item.permalink}}/">{{ item.short_title }}<i></i></a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
        </div>
        <!-- END .nav-more -->
        <!-- BEGIN .aside-info -->
        <div class="job-landing-aside aside-info">
        {% include 'AzubisterWebfrontendBundle:Common:topics_aside.html.twig' with { 'articles' : topics  } %}
        </div>
        <!-- END .aside-info -->
</div>
<div class="clr"></div>

{% endblock %}
