<!doctype html>
{% set _head_prefixes = block('head_prefixes') %}
<!--[if lte IE 8]><html lang="de-DE" class="lteie8"{% block head_prefixes %}{% if html_prefixes is defined %} prefix="{{ html_prefixes|raw }}"{% endif %}{% endblock %}><![endif]-->
<!--[if gt IE 8]><!--><html lang="de-DE"{{ _head_prefixes|raw }}><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{% if _title is defined and _title is not empty %} {{ _title }} | {% endif %}azubister</title>
	{% if _meta is defined %}
		{% if _meta.description is defined %}
		<meta name="description" content="{{ _meta.description }}">
		{% endif %}

		{% if _meta.robots is defined %}
		<meta name="robots" content="{{ _meta.robots }}">
		{% endif %}

        {% if _meta.properties is defined %}
            {% for property, content in _meta.properties %}
                {% if content is iterable %}
                    {% for entry in content %}
                    <meta property="{{ property }}" content="{{ entry }}">
                    {% endfor %}
                {% else %}
                <meta property="{{ property }}" content="{{ content }}">
                {% endif %}
            {% endfor %}
        {% endif %}
	{% endif %}

    {% if _canonical is defined and _canonical is not empty %}
    <link rel="canonical" href="{{ _canonical | raw }}">
    {% endif %}
    <link rel="icon" type="image/ico" href="/favicon.ico" />

	{% include "AzubisterWebfrontendBundle:Common:stylesheets.html.twig" %}
	{% include "AzubisterWebfrontendBundle:Common:javascript.html.twig" %}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<style type="text/css">
	.popup input.error {border:1px solid #ff0000;}
	</style>
    {% if _include_maps %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true&language=de"></script>
    {% endif %}
    {# maps work without key so far
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ _google_maps_api_key }}&sensor=true"></script>
    #}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38300815-1']);
      _gaq.push(['_gat._anonymizeIp']);

    {% if _test_user %}
      _gaq.push(['_setCustomVar', 1, 'usergroup', 'tester', 2]);
      _gaq.push(['_setVar', 'testuser']);
    {% endif %}

      _gaq.push(['_trackPageview']);

    {% if _trackEvents is defined and _trackEvents is not empty %}
        {% for e in _trackEvents %}
        _gaq.push(['_trackEvent', "{{e.category}}", "{{e.action}}", "{{e.label}}", {{e.value}}, {{e.nonInteraction}}]);
        {% endfor %}
    {% endif %}

{% if _trackExternalData is defined and _trackExternalData is not empty %}
    var _trackExternalData = {{ _trackExternalData | raw }};
{% endif %}

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
	<!-- facebook xfbml init -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
{% block main_header %}{% endblock %}
<!-- BEGIN .wrap -->
<div class="wrap">
    {# hotfix to hide skyscrepper for lounch #}
    {#% set _show_skyscrapper = false %#}
    <div class="container{% if _show_skyscrapper %} contains_sky_scrapper{% endif %}">

        {% block breadcrumps %}{% endblock %}

            <!-- BEGIN .likes -->	
            <div class="likes">
            {% if _socialbar is defined and _socialbar %}
                <div class="likes__out">
                    <!-- twitter -->
                    <div class="likes__twitter">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ _canonical }}" data-via="azubi_stellen" data-lang="de" data-related="anywhereTheJavascriptAPI" data-count="vertical">Twittern</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                    <!-- facebook -->
                    <div style="text-align: left;" class="fb-like" data-send="true" data-layout="box_count" data-width="200" data-show-faces="false" data-action="recommend"></div>

                    <!-- google -->
                    <div class="likes__google">		
                        <div class="g-plusone" data-size="tall"></div>
                        <script type="text/javascript">
                            window.___gcfg = {
                            lang: 'de'
                        };
                          (function() {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/plusone.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                          })();
                        </script>
                  </div>
                <!-- mail -->
                <div class="likes__mail">
                    {% set _m_subject = _title %}
                    {% set _m_body = _canonical %}
                    <a href="mailto:?subject={{ _m_subject | e('url')}}&body={{ _m_body | e('url') }}"></a>
                </div>
                </div>	
                <div class="likes__ins">
                    <!-- twitter -->
                    <div class="likes__twitter">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ _canonical }}" data-via="azubi_stellen" data-lang="de">Twittern</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                    <!-- facebook -->
                    <div class="fb-like" data-send="true" data-layout="button_count" data-width="200" data-show-faces="false" data-action="recommend"></div>
                    <!-- google -->
                    <div class="likes__google">
                        <div class="g-plusone" data-size="medium"></div>
                        <script type="text/javascript">
                            window.___gcfg = {
                            lang: 'de'
                           };
                          (function() {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/plusone.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);

                          })();
                        </script>
                  </div>
                <!-- mail -->
                <div class="likes__mail">
                    {% set _m_subject = _title %}
                    {% set _m_body = _canonical %}
                    <a href="mailto:?subject={{ _m_subject | e('url')}}&body={{ _m_body | e('url') }}"></a>
                </div>
                </div>
                <script type="text/javascript">
                    $(function(){
                        socialbar = new Socialbar(20);
                        socialbar.init();

                        $(window).scroll(function(){
                            socialbar.OnScroll();
                        });
                        $(window).resize(function(){
                            socialbar.Resize();
                        });
                    });
                </script>
            {% endif %}
            </div>
            <!-- END .likes -->
        {% if _adzones.skycrapper is defined and _show_skyscrapper %}
            <div class="banner-wrapper">
                <div id="skyscrapper_banner" class="banner"></div>
            </div>
            <script type="text/javascript">
                $(function(){
                    skyscrapper = new Skyscraper(0);
                    skyscrapper.init();

                    $(window).scroll(function(){
                        skyscrapper.OnScroll();
                    });
                    $(window).resize(function(){
                        skyscrapper.Resize();
                    });
                });
            </script>
            <!-- END .likes -->
        {% endif %}

            <div id="wallpaper_banner"></div>
        
        {% block main %}
        {% endblock %}

	</div>
</div>
<script type="text/javascript">
    $(function(){
        new SponsorsReloader();
    });
</script>
<!-- END .wrap -->
{% block main_footer %}{% endblock %}   
{% block popups %}<div class="bg" ></div>	
<!-- BEGIN .popup -->
<div class="popup popup_enter" id="newsletter-register">
	<div class="popup__close"><i></i></div>
	<h3 class="h3 showform">Newsletter...</h3>
	<h3 class="h3 submitted" style="display:none">Vielen Dank!</h3>		
	<p class="showform">Mit dem azubister-Newsletter bleibst du immer auf dem Laufenden rund um Ausbildung und Berufswahl. Wir informieren dich über Neuigkeiten und spannende Gewinnspiele auf azubister. Jetzt gleich eintragen.</p>	
	<p class="submitted" style="display:none">Vielen Dank für die Anmeldung. Wir haben Dir eine eMail mit weiteren Instruktionen geschickt <br/><br/> Viele Grüße,<br/>Dein azubister-Team.</p>
	<form class="showform">
	<input type="text" placeholder="Name" id="register-name">
	<input type="text" placeholder="eMail-Adresse" id="register-email">
	<div class="form-btn">
		<button type="submit">Anmelden<i></i></button>
	</div>
	 </form>
</div>
<!-- END .popup -->
{% endblock %} 
{% block js_templates %}
{% endblock %}
 {% block page_javascript %}
{% endblock %}
</body>
</html>
