@import "base";
* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }
body {	
	min-width: 320px;
	font: {
	    family: Arial,sans-serif;
	    weight: normal;
	    size: 14px;
	  	}
	line-height: 1.2;
	color: #666666;
}
/*resets*/
p {
	line-height: 1.5;
}
a img, fieldset {
	border:none;
}
a {
	color: #37559a;
	text-decoration:none;
}
li {
	list-style: none;
}
input, textarea, button {
	border: none;
	outline: none;
	font-family: Arial,sans-serif;
}
button {
	line-height: 1;
	cursor: pointer;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
.h1 {	
	margin-bottom: 15px;
	font-size: 30px;
}
.h1_do {
	position: relative;
	@include respond-to(step1) {
		padding-bottom: 30px;
	}
}
.h2 {
	font-size: 24px;
}
.content-elements {
    .h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .h3 {
        color: #37559A;
        font-weight: normal;
        font-size: 18px;
    }
}
.h3 {
	font-size: 20px;
	font-weight: normal;
}
.h4 {
	font-size: 18px;
	font-weight: normal;
}
.h5 {
	font-size: 16px;
}
.clr {
	clear: both;
}
.bodytext {
	ul, ol {
		margin-bottom: 15px;
	}
	li {
		position: relative;
		padding-left: 15px;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.5;
		&:before {
			content: "";
			position: absolute;
			top: 5px;
			left: 0;
			@include sized-sprite($icons, arr4);			
		}	
	}
	a {
		&:hover {
			text-decoration: underline;
		}
	}
}
/*wrap*/
.wrap {
	width: 1000px;
	margin: 0 auto;
    padding-right: 180px;
	@include respond-to(step) {
        padding-right: 0;
    }
	@include respond-to(step1) {
		width: 100%;
	}
}
.container {
	position: relative;
    min-height: 400px;
	@include respond-to(step1) {
		margin: 0 10px;
	}
}

.mobile_floater .floater-label {
    position: absolute;
    top: -15px;
    right: 5px;
    font-size: 10px;
    color: #9e9e9e;
    color: #aeaeae;
    &:after {
        content: ' ';
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 70px;
        background: rgba(0,0,0,0.3);
    }
}

.mobile_floater-wrapper {
    height: 55px;
	background: #37559a;
    display: none;
    @include respond-to(step) {
        display: block;
    }
}

.mobile_floater {
    position: fixed;
    bottom: 0;
    z-index: 10;
    left: 50%;
    margin-left: -160px;
    font-size: 0;
    iframe {
        position: relative;
        z-index: 1;
    }
}

.container.contains_sky_scrapper {
    min-height: 650px;
	@include respond-to(step) {
        min-height: 0;
    }
}
/*header*/
.header-out {
	position: relative;
	width: 100%;
	margin-bottom: 8px;
	background: #37559a;
	@include background-image(linear-gradient(#37559a, #283d70));	
}
.header {
	position: relative;
	width: 1000px;
	height: 50px;
	margin: 0 auto;
    left: -90px;
	@include transition();
	@include respond-to(step) {
        left: auto;
    }
	@include respond-to(step1) {
		width: 100%;
	}
}
/*logo*/
.logo {
	float: left;
	margin-right: 33px;
	@include sized-sprite($icons, logo);
	a {
		display: block;
		width: 172px;
		height: 50px;
		font: 0/0 a;
    text-shadow: none;
    color: transparent;
	}
	@include transition();
	@include respond-to(step1) {
		margin: 0 12px 0 10px;
	}
}
/*navigation*/
li.nav_b2b {
    display: none;
    @include respond-to(step2_5) {
        display: block;
    }
}
div.nav_b2b {
    float: right;
    margin-top: 7px;
    position: relative;
    a {
        color: #FFF;
        padding-left: 15px;
        display: block;
        font-size: 14px;
        font-weight: bold;
        height: 23px;
        line-height: 23px;
        margin-top: 6px;
        @include respond-to(step1) {
           font-size: 12px;
           padding: 0;
           margin-right: 10px;
        }
    }
    i {
        background: url("../images/icons-s55275197d6.png") no-repeat scroll 0 -5342px transparent;
        height: 14px;
        left: 0;
        position: absolute;
        top: 12px;
        width: 8px;
        @include respond-to(step1) {
            display: none;
        }
    }
    @include respond-to(step2_5) {
        display: none;
    }
}
.nav {
	float: left;
	margin-top: 7px;
	@include respond-to(step2_5) {
		display: none;
		position: absolute;
		top: 50px;
		width: 100%;
		margin-top: 0px;
		background: #fff;
		@include box-shadow(rgba(0,0,0,0.3) 0px 2px 4px);
		z-index: 100;
	}
	li {
		float: left;
		height: 43px;	
		@include border-radius(3px 3px 0 0);		
		&.active {
			margin-right: -1px;
			background: #fff;
			a {
				padding: 0 19px 0 18px;
				color: #37559a;
			}			
		}	
		&:first-child {
			a {
				border: none;
			}
		}
		@include respond-to(step2_5) {
			float: none;
			width: auto;
			height: auto;
			margin: 0 10px; 
			border-top: 1px dotted #cfcfcf;
			&:first-child {
				border: none;
			}
		}
	}
	a {
		display: block;
		height: 23px;
		margin-top: 6px;
		padding: 0 18px;
		line-height: 23px;
		border-left: 1px dotted #fff;
		font-size: 14px;
		color: #fff;
		font-weight: bold;			
		@include respond-to(step1) {
			font-size: 12px;
		}
		@include respond-to(step2_5) {
			height: 27px;
			margin: 0;
			padding: 0;
			line-height: 27px;
			color: #37559a;
			font-weight: bold;
		}
	}	
	.nav__search {
		display: none;
		@include respond-to(step2) {
			display: block;
		}
		@include respond-to(step2_5) {
			display: none;
		}
		a {
			position: relative;
			padding: 0 0 0 38px;
			i {
				position: absolute;
				top: 4px;
				left: 15px;
				@include sized-sprite($icons, search);
			}
		}		
	}
	&.show {
		@include respond-to(step2) {
			display: block;
		}
	}
}
/*small navigation*/
.nav-s {
	display: none;
	@include respond-to(step2_5) {
		display: block;
	}
	float: right;
	margin: 6px 10px 0 0;
	li {
		position: relative;
		float: left;
		width: 56px;
		height: 44px;
		@include border-radius(3px 3px 0 0);	
		cursor: pointer;		
		span {
			display: block;
			margin-top: 27px;
			font-size: 10px;
			text-align: center;
			color: #fff;
		}
		i {
			position: absolute;
			top: 5px;
			left: 18px;
		}
		.nav-s__menu-ico {
				@include sized-sprite($icons, menu);
		}
		.nav-s__search-ico {
			@include sized-sprite($icons, search-b);
		}
		&.active {
			background: #fff;
			span {
				color: #37559a;
			}			
			.nav-s__menu-ico {
				@include sized-sprite($icons, menu1);
			}
			.nav-s__search-ico {
				@include sized-sprite($icons, search-b1);
			}
		}
	}
}
/*nav-extra*/
.nav-more {
	margin-bottom: 30px;
	ul {
		overflow: hidden;
	}
	li {
		position: relative;
		float: left;
		width: 47%;	
		height: 50px;
		line-height: 50px;
		padding-right: 3%;	
		vertical-align: middle;
		@include respond-to(step2) {
			width: 50%;
			padding-right: 0px;
		}
	}
    span,
	a {
		display: inline-block;	
		line-height: 1;	
		padding-left: 65px;
		vertical-align: middle;
	}
	i {
		position: absolute;
		top: 0;
		left: 0;
	}
	.handwerk {i {@include sized-sprite($icons, handwerk);}}
        .handwerk:hover, .handwerk_active {i {@include sized-sprite($icons, handwerk_active);}}
	.design {i {@include sized-sprite($icons, design);}}
        .design:hover, .design_active {i {@include sized-sprite($icons, design_active);}}
	.natur {i {@include sized-sprite($icons, natur);}}
        .natur:hover, .natur_active {i {@include sized-sprite($icons, natur_active);}}
	.veranstaltung {i {@include sized-sprite($icons, veranstaltung);}}
        .veranstaltung:hover, .veranstaltung_active {i {@include sized-sprite($icons, veranstaltung_active);}}
	.sport {i {@include sized-sprite($icons, sport);}}
        .sport:hover, .sport_active {i {@include sized-sprite($icons, sport_active);}}
	.marketing {i {@include sized-sprite($icons, marketing);}}
        .marketing:hover, .marketing_active {i {@include sized-sprite($icons, marketing_active);}}
	.verwaltung {i {@include sized-sprite($icons, verwaltung);}}
        .verwaltung:hover, .verwaltung_active {i {@include sized-sprite($icons, verwaltung_active);}}
	.kfz {i {@include sized-sprite($icons, kfz);}}
        .kfz:hover, .kfz_active {i {@include sized-sprite($icons, kfz_active);}}
	.pflege {i {@include sized-sprite($icons, pflege);}}
        .pflege:hover, .pflege_active {i {@include sized-sprite($icons, pflege_active);}}
	.computer {i {@include sized-sprite($icons, computer);}}
        .computer:hover, .computer_active {i {@include sized-sprite($icons, computer_active);}}
	.medizin {i {@include sized-sprite($icons, medizin);}}
        .medizin:hover, .medizin_active {i {@include sized-sprite($icons, medizin_active);}}
	.transport {i {@include sized-sprite($icons, transport);}}
        .transport:hover, .transport_active {i {@include sized-sprite($icons, transport_active);}}
	.gesundheit {i {@include sized-sprite($icons, gesundheit);}}
        .gesundheit:hover, .gesundheit_active {i {@include sized-sprite($icons, gesundheit_active);}}
	.reise {i {@include sized-sprite($icons, reise);}}
        .reise:hover, .reise_active {i {@include sized-sprite($icons, reise_active);}}
	.kinder {i {@include sized-sprite($icons, kinder);}}
        .kinder:hover, .kinder_active {i {@include sized-sprite($icons, kinder_active);}}
	.service {i {@include sized-sprite($icons, service);}}
        .service:hover, .service_active {i {@include sized-sprite($icons, service_active);}}
	.wirtschaft {i {@include sized-sprite($icons, wirtschaft);}}
        .wirtschaft:hover, .wirtschaft_active {i {@include sized-sprite($icons, wirtschaft_active);}}
        .elektronik {i {@include sized-sprite($icons, elektronik);}}
        .elektronik:hover, .elektronik_active {i {@include sized-sprite($icons, elektronik_active);}}
        .berlin {i {@include sized-sprite($icons, berlin);}}
        .berlin:hover, .berlin_active {i {@include sized-sprite($icons, berlin_active);}}
        .bremen {i {@include sized-sprite($icons, bremen);}}
        .bremen:hover, .bremen_active {i {@include sized-sprite($icons, bremen_active);}}
        .dortmund {i {@include sized-sprite($icons, dortmund);}}
        .dortmund:hover, .dortmund_active {i {@include sized-sprite($icons, dortmund_active);}}
        .dresden {i {@include sized-sprite($icons, dresden);}}
        .dresden:hover, .dresden_active {i {@include sized-sprite($icons, dresden_active);}}
        .duesseldorf {i {@include sized-sprite($icons, duesseldorf);}}
        .duesseldorf:hover, .duesseldorf_active {i {@include sized-sprite($icons, duesseldorf_active);}}
        .essen {i {@include sized-sprite($icons, essen);}}
        .essen:hover, .essen_active {i {@include sized-sprite($icons, essen_active);}}
        .frankfurt {i {@include sized-sprite($icons, frankfurt);}}
        .frankfurt:hover, .frankfurt_active {i {@include sized-sprite($icons, frankfurt_active);}}
        .hamburg {i {@include sized-sprite($icons, hamburg);}}
        .hamburg:hover, .hamburg_active {i {@include sized-sprite($icons, hamburg_active);}}
        .koeln {i {@include sized-sprite($icons, koeln);}}
        .koeln:hover, .koeln_active {i {@include sized-sprite($icons, koeln_active);}}
        .leipzig {i {@include sized-sprite($icons, leipzig);}}
        .leipzig:hover, .leipzig_active {i {@include sized-sprite($icons, leipzig_active);}}
        .muenchen {i {@include sized-sprite($icons, muenchen);}}
        .muenchen:hover, .muenchen_active {i {@include sized-sprite($icons, muenchen_active);}}
        .stuttgart {i {@include sized-sprite($icons, stuttgart);}}
        .stuttgart:hover, .stuttgart_active {i {@include sized-sprite($icons, stuttgart_active);}}
}
.city-logos li {
    margin-bottom: 5px;
}
.nav-more__no-full {
	ul {
		margin-bottom: 15px;
	}
	li {
        span,
		a {
			font-size: 12px;
			color: #666666;
			font-weight: bold;
		}
	}	
}
.aside-title {
	height: 24px;
	margin-bottom: 10px;
	line-height: 24px;
	font-size: 16px;
	border-top: 1px dotted #cfcfcf;
	border-bottom: 1px dotted #cfcfcf;
}
/*search*/
.search {
	float: left;
	margin-top: 13px;
     margin-left: 10px;
	width: 150px;
	@include respond-to(step1) {
		margin-right: 10px;
	}
	@include respond-to(step2) {
		display: none;
		position: absolute;
		top: 7px;
		left: 200px;
		right: 10px;
		width: auto;
		height: 31px;
		margin: 0;
		padding: 12px 60px 0 15px;
		@include border-radius(3px 3px 0 0);
		background: #fff;		
	}
	@include respond-to(step3) {
		display: none;
		top: 50px;
		left: 0;
		right: 0;
		height: 23px;
		padding: 13px 10px 15px 10px;
		@include box-shadow(rgba(0,0,0,0.3) 0px 2px 4px);
		z-index: 100;
	}
	input, button {
		float: left;
		height: 23px;
	}
	input {
		width: 104px;
		padding: 0 10px;
		background: #fff;
		@include border-radius(5px 0 0 5px);
		@include respond-to(step2) {
			width: 88%;
			padding: 0 6% 0 3%;
			@include border-radius(5px 0 0 5px);
			@include box-shadow(rgba(0,0,0,0.5) 0px 0px 5px inset);
		}
		@include respond-to(step3) {
			width: 75%;
			padding: 0 6% 0 3%;			
		}
	}
	button {
		position: relative;
		width: 26px;
		background: #22b5f4;
		@include border-radius(0 5px 5px 0);
		i {
			position: absolute;
			top: 4px;
			left: 6px;
			@include sized-sprite($icons, search);
			@include respond-to(step3) {
				display: none;
			}
		}
		span {
			display: none;
			line-height: 1;
			font-weight: bold;
			color: #fff;
			@include respond-to(step3) {
				display: block;
			}
		}
		@include respond-to(step2) {
			position: absolute;
			top: 12px;
			right: 60px;
		}
		@include respond-to(step3) {
			top: 13px;
			right: 10px;
			width: 20%;			
		}
	}
	.search__close {
		display: none;
		position: absolute;
		top: 15px;
		right: 23px;
		@include sized-sprite($icons, close);
		cursor: pointer;
		@include respond-to(step2) {
			display: block;
		}
		@include respond-to(step3) {
			display: none;
		}
	}
	&.show {
		@include respond-to(step2) {
			display: block;
		}
	}
}
/*footer*/
.footer-out {
	position: relative;
	background: #37559a;
	&:before {
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		background: #37559a;
		@include background-image(linear-gradient(#283d70 0%, #37559a 60%));
	}
}
.footer {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
    left: -90px;
	@include transition();
	@include respond-to(step) {
        left: auto;
    }
	@include respond-to(step1) {
		width: 100%;
	}
	@include respond-to(step1) {
		width: 100%;
	}
}
.footer__nav {
	padding: 27px 0;
	border-bottom: 1px dotted #fff;
	overflow: hidden;
	@include transition();
	@include respond-to(step1) {
		padding: 27px 10px;
	}
	ul {
		float: left;
		width: 17%;
        &.footer__nav-shorter {
            width: 14%;
        }
		@include respond-to(step1) {
			width: 25%;
		}
		@include respond-to(step3) {
			width: 50%;
		}
		li {
			margin-bottom: 7px;
			color: #fff;
			font-size: 14px;	
			font-weight: bold;	
			white-space: nowrap;	
			@include respond-to(step1) {
				white-space: normal;
			}
		}
		a {
			position: relative;
			padding-left: 10px;
			font-size: 12px;
			font-weight: normal;
			color: #fff;
		}
		i {
			position: absolute;
			top: 3px;
			left: 0;
			@include sized-sprite($icons, arr);
		}
	}
	.footer__social {
		a {
			display: block;
			height: 32px;
			line-height: 32px;
			padding-left: 45px;
		}		
		i {
			top: 0;
			left: 0;
		}
	}
	.footer__social-fb {
		i {
			@include sized-sprite($icons, fb);
		}
	}
	.footer__social-tw {
		i {
			@include sized-sprite($icons, tw);
		}
	}
	.footer__social-yt {
		i {
			@include sized-sprite($icons, yt);
		}
	}
}
.footer__nav_change {
	width: 100%;
	@include respond-to(step1) {
		position: relative;
		width: 50%;
		padding-right: 50%;
	}
	@include respond-to(step3) {
		width: 100%;
		padding-right: 0;
		padding-bottom: 350px;
	}
	@include respond-to(step4) {
		padding-bottom: 0;
    }
	ul {
		@include respond-to(step1) {
			width: 50%;
		}
        @include respond-to(step4) {
            width: auto;
            display: inline;
        }
	}	
}
.footer__nav-mb {
	@include respond-to(step1) {
		margin-bottom: 25px;
	}
}
.footer-out .footer__nav-mb1,
.footer-out .footer__nav_change .footer__nav-mb {
	@include respond-to(step3) {
		margin-bottom: 25px;
	}
    @include respond-to(step4) {
        display: block;
        float: none;
        width: auto;
        font-size: 0;
        &.footer__nav-shorter {
            width: auto;
        }
    }
    li {
        @include respond-to(step4) {
            width: 48%;
            float: none;
            display: inline-block;
            vertical-align: top;
            &.footer_nav_title {
                display: block;
                width: auto;
            }
            &.footer_nav_empty_title {
                display: none;
            }
        }
    }
    a {
        @include respond-to(step4) {
            display: block;

        }
    }
}
.footer__copyright {
	padding: 17px 0;
	text-align: center;
	font-size: 12px;
	color: #fff;
	span {
		position: relative;
		padding-left: 75px;
	}
	i {
		position: absolute;
		top: 0px;
		left: 0;
		@include sized-sprite($icons, logo-s);
	}
}
.footer__facebook {
	position: absolute;
	top: 30px;
	right: 0;
	border-left: 20px solid #37559a;
	@include respond-to(step1) {
		right: 85px;
		border: none;
	}
	@include respond-to(step3) {
		top: auto;
		left: 50%;
		margin-left: -120px;
		right: auto;
		bottom: 30px;
	}
    @include respond-to(step4) {
        position: static;
        float: none;
        left: auto;
        bottom: auto;
        margin-left: 0;
        border: none;
        margin-bottom: 30px;
        width: 288px;
    }
}
.fb-like-box.with_ad {
    margin: 5px 0 0 10px;
    vertical-align: top;
}
.likes {
	position: relative;
    z-index: 10;
	.likes__out {
		display: block;
		position: absolute;
		top: 0;
		left: -100px;
		width: 75px;
		height: 300px;
		.likes__twitter, .likes__google, .likes__mail, .fb-like {
			margin-bottom: 15px;
			text-align: center;
		}
		.likes__mail {
			a {
				display: block;
				width: 75px;
				height: 20px;
				@include sized-sprite($icons, mail);
				&:hover {
					@include sized-sprite($icons, mail-h);
				}
			}
		}
		@include respond-to(sharingBarBreak) {
			display: none;
		}
	}
	.likes__ins {
		display: none;
		margin: 15px 0 12px 0;
		overflow: hidden;
		.likes__twitter, .likes__google, .likes__mail, .fb-like {
			float: left;
			height: 23px;
		}
		.fb-like {
			width: 210px;
		}
		.likes__mail {
			a {
				display: block;
				width: 75px;
				height: 20px;
				@include sized-sprite($icons, mail);
				&:hover {
					@include sized-sprite($icons, mail-h);
				}
			}
		}
		@include respond-to(sharingBarBreak) {
			display: block;
		}
	}
}
/*breadcrumbs*/
.breadcrumbs {
	margin: 0 0 24px 0;
	overflow: hidden;
	li {
		position: relative;
		float: left;
		height: 18px;
		line-height: 18px;
		margin-right: 25px;
		font-size: 12px;
		color: #37559A;
		a {
			border-bottom: 1px dotted #37559A;
		}
		i {
			position: absolute;
			top: 4px;
			right: -17px;
			@include sized-sprite($icons, arr3);
		}
	}
}
#breadcrumbs {
	margin: 0 0 24px 0;
	overflow: hidden;
	> span {
		position: relative;
		float: left;
		height: 18px;
		line-height: 18px;
		margin-right: 25px;
		font-size: 12px;
		color: #37559A;
		a span {
			border-bottom: 1px dotted #37559A;
		}
		i {
			position: absolute;
			top: 4px;
			right: -17px;
			@include sized-sprite($icons, arr3);
		}
	}
}
/*view-all*/
.view-all {
	position: relative;
	height: 30px;
	margin-bottom: 25px;
	text-align: center;
	overflow: hidden;
	i {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 1px;
		@include box-shadow(#ececec 0px 1px 1px);
		background: #bfbfbf;
		@include background-image(linear-gradient(left, #f6f6f6 10%, #bfbfbf 30%, #bfbfbf 70%, #f6f6f6 100%));
		z-index: 5;
	}
	a {
		position: relative;
		display: inline-block;
		height: 30px;
		padding: 0 30px;
		margin-top: -5px;
		line-height: 30px;
		border: 1px solid #bfbfbf;
		@include border-radius(3px);
		background: #fff;
		@include box-shadow(#bfbfbf 0px 1px 3px);
		z-index: 10;
	}
}
/*mail-box*/
.mail__box {
	padding: 20px;
	margin: 20px 0 20px 0;
    font-size: 13px;
	@extend %block-blue;
    .title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .description {
        line-height: 18px;
        margin-bottom: 20px;
    }
	a.btn {
        cursor: pointer;
		position: relative;
		display: block;
		height: 40px;
        font-size: 18px;
		padding: 0 10px 0 20px;
		line-height: 40px;
		background: #22b5f4;
		@include background-image(linear-gradient(#22b5f4, #0691bf));
		@include border-radius(3px);
		@include box-shadow(rgba(255,255,255,0.36) 0px 1px 1px inset, rgba(0,0,0,0.3) 0 1px 4px);
		color: #fff;
		font-weight: bold;
		text-align: center;
        &:hover {
            @include background-image(linear-gradient(#20ace8, #0685af));
        }
		@include respond-to(step1) {
			font-size: 13px;
		}
		@include respond-to(step2) {
			font-size: 12px;
		}
		i {
			position: absolute;
			top: 13px;
			left: 10px;
			@include sized-sprite($icons, arr5);
		}
	}
}
/*banner*/
.banner {
	position: absolute;
	top: 0;
	right: -180px;
	width: 160px;
	height: 620px;
	@include respond-to(step) {
		display: none;
	}
}
#wallpaper_banner {
    text-align: right;
    margin-bottom: 15px;
    position:relative;
    right:-20px;
}
.banner-wrapper {
    position: relative;
    z-index: 1;
}
#skyscrapper_banner .banner-label span{
    top: 0;
}
.banner-label {
	position: relative;
        font-size: 10px;
        color: #9e9e9e;
	span {
		position: absolute;
		top: -15px;
		right: 5px;
		font-size: 10px;
		color: #9e9e9e;
	}
}
.banner-label.label_single {
        padding-left: 260px;
}
.banner-label.label {
        padding-left: 416px;
}
/*advert*/
.advert {
	position: relative;
	width: 300px;
	height: 250px;
	margin-bottom: 30px;
	span {
		position: absolute;
		top: -15px;
		right: 5px;
		font-size: 10px;
		color: #9e9e9e;
	}	
}

.advert_inline {
    display: inline-block;
}

.advert_main {
	position: absolute;
	top: 15px;
	right: 0;
	@include respond-to(step3) {
		top: auto;
		bottom: 0;
		right: 50%;
		margin-right: -150px;
	}
}
.advert_left {
	margin: 30px 0 30px 20px;
	background: #f07fbc;
	@include respond-to(step1) {
		margin: 30px 0;
	}
}
/*form-txt*/
.form-txt {
	margin-bottom: 15px;
	label {
		display: block;
		font-weight: bold;
		padding: 2px 0;
	}
	input, textarea {
		width: 96%;			
		border: 1px solid #cfcfcf;
		@include box-shadow(rgba(0,0,0,0.3) 0px 0px 4px inset);
		@include border-radius(2px);
	}
	input {
		height: 30px;
		padding: 0 2%;
	}
	textarea {
		height: 150px;
		padding: 2%;
	}
}
.form-btn {
	padding-bottom: 2px;
	overflow: hidden;
	button {
		position: relative;
		float: right;
		height: 26px;
		padding: 0 40px 0 45px;
		background: #37559a;
		@include background-image(linear-gradient(#37559a, #283d70));
		@include border-radius(3px);
		@include box-shadow(rgba(0,0,0,0.3) 0px 1px 2px);
		font-size: 18px;
		font-weight: bold;
		color: #fff;
	}
	i {
		position: absolute;
		top: 7px;
		left: 21px;
		@include sized-sprite($icons, arr6);
	}
}
/*video-popup*/
.bg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right:0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 100;
}
.popup {
	display: none;
	position: fixed;
	top: 280px;
	left: 50%;	
	@include box-shadow(rgba(0,0,0,0.7) 0px 0px 10px);
	background: #fff;
	z-index: 150;
	iframe {
		width: 590px;
		height: 345px;
	}
	.h3 {
		color: $blue;
	}
	@include respond-to(step3) {
        top: 50px;
    }
}
.popup__close {
	position: absolute;
	top: -17px;
	right: 0;
	width: 28px;
	height: 18px;
	background: #fff;
	@include border-radius(3px 3px 0 0);
	cursor: pointer;
	i {
		position: absolute;
		top: 8px;
		left: 9px;
		@include sized-sprite($icons, close1);
	}
}
/*popup_video*/
.popup_video {
	width: 590px;
	height: 345px;
	margin: 0 0 0 -295px;
	padding: 5px;
}

.popup__company_url {
    position: relative;
    a {
        position: absolute;
        padding-left: 10px;
        top: 5px;
        right: 0;
        color: #fff;
        font-weight: bold;
        i {
            left: 0;
            top: 2px;
            position: absolute;
			@include sized-sprite($icons, arr6);
        }
    }
}
/*popup_enter*/
.popup_enter {
	width: 300px;
	padding: 17px 20px;
	margin-left: -170px;
    @include respond-to(step3) {
        width: 270px;
        top: 45px;
        margin-left: -155px;
    }
	.h3 {
		margin-bottom: 10px;
	}
	p {
		margin-bottom: 15px;
	}
	input {
		width: 284px;
		height: 28px;
		margin-bottom: 17px;
		padding: 0 7px;
		@include border-radius(2px);
		@include box-shadow(#cfcfcf 0px 0px 5px inset);
		border: 1px solid #cfcfcf;
        @include respond-to(step3) {
            width: 254px;
        }
	}
	.form-btn {
		button {
			padding: 0 19px 0 32px;
			i {
				left: 15px;
			}
		}		
	}
}
/*popup_partners*/
.popup_partners {
	width: 490px;
	padding: 20px;
	margin-left: -245px;
	img {
		float: left;
		margin: 0 20px 20px 0;
          max-width: 230px;
	}
	p {
		margin-bottom: 20px;
		overflow: hidden;
	}
}
/*popup_app*/
.popup_app {
	width: 470px;
	margin-left: -235px;
	padding: 17px 20px;
	.h3 {
		margin-bottom: 30px;
	}	
}
.app-list {
	overflow: hidden;
	li {
		float: left;
		width: 155px;
		margin-top: 15px;
		a {
			position: relative;
			display: block;			
			padding-top: 95px;
			margin-bottom: 50px;
			text-align: center;
			font-weight: bold;
		}
		i {
			position: absolute;
			top: 0;
		}
	}
}
.app-list__email {
	i {
		left: 35px;
		@include sized-sprite($icons, app1);
	}
}
.app-list__post {
	i {
		left: 30px;
		@include sized-sprite($icons, app2);
	}
}
.app-list__online {
	i {
		left: 36px;
		@include sized-sprite($icons, app3);
	}
}
.popup__attention {
	position: relative;
	height: 64px;
	margin: 0 -20px -17px -20px;
	line-height: 64px;
	padding-left: 67px;
	background: #f1f1f1;
	font-size: 12px;
	i {
		position: absolute;
		top: 13px;
		left: 21px;
		@include sized-sprite($icons, att);
	}
}
.app-info {
	margin-bottom: 35px;
	b {
		display: block;
		margin-bottom: 20px;
	}
	ul {
		margin-bottom: 25px;
	}
	li {
		line-height: 1.5;
	}
}
/*static*/
.static {
	padding-bottom: 50px;
	overflow: hidden;
	img, p {
		margin-bottom: 20px;
	}
	h1 {
		margin-bottom: 15px;
		font-size: 30px;
	}
    h2,
	h3,
    h4 {
		margin-bottom: 10px;
		font-weight: normal;
		font-size: 18px;
		color: $blue;
	}
	ul {
		margin: 10px 0 20px 0;
	}
	li {
		position: relative;
		padding-left: 12px;
		line-height: 1.5;
		&:before {
			content: "";
			position: absolute;
			top: 6px;
			left: 0;
			@include sized-sprite($icons, arr4);
		}
	}
	i {
		font-size: 12px;
	}
}
/*lists*/
.list {
	li {		
		font-size: 16px;
		font-weight: bold;
		line-height: 1.5;
	}
	a {
		position: relative;
		display: block;
		padding-left: 15px;
		font-size: 14px;
		font-weight: normal;
		&:before {
			content: "";
			position: absolute;
			top: 5px;
			left: 0;
			@include sized-sprite($icons, arr4);			
		}		
	}
}
.list_red {
	a {
		&:before {
			@include sized-sprite($icons, arr7);
		}		
	}
}
.list_blue {
	a {
		&:before {
			@include sized-sprite($icons, arr8);
		}		
	}
}
/*block-txt*/
.block-txt {
	padding-bottom: 20px;
	border-top: 1px dotted #cfcfcf;
	.h3, .h2 {
		padding: 20px 0;
		font-size: 20px;
        font-weight: normal;
	}
}
/*articles*/
ul.company.articles li img {
    max-width: 130px;
    max-height: 90px;
}
.company.articles {
    a.main_link {
        color: #37559A;        
        font-size: 1.2em;
        font-weight: bold;
    }
    a:hover {
        text-decoration: none;
    }
}
.articles {
		ul {
		padding-bottom: 19px;
	}
	li {
		padding: 19px 0;
		padding-right: 10px;
		border-top: 1px dotted #cfcfcf;
		overflow: hidden;
		&:first-child {
			margin-top: 0;
			border: none;
		}
	}	
    .search-results__sponsored {
        padding: 10px;
        .search-results__pic {
            border: none;
            background: #fff;
            padding: 3px;
        }
        img {
            border: none;
            margin-right: 0;
            float: none;
            vertical-align: middle;
        }
        .h3 {
            font-weight: bold;
            margin: 0 0 6px;
        }
    }
    .company_logo {
        width: 130px;
        height: 90px;
        margin-right: 20px;
        float: left;
        text-align: center;
        line-height: 90px;
        border: 1px solid #cfcfcf;
        img {
            border: none;
            margin: 0 auto;
            vertical-align: middle;
            float: none;
        }
    }
	img {
		float: left;
		margin-right: 20px;
		border: 1px solid #c2c2c2;
		@include respond-to(step4) {
			display: none;
		}
	}
	p {
		margin-top: 5px;
	}
	.h4 {
		a {
			color: #666666;
		}		
	}
    a:hover {
        text-decoration: underline;
    }
}
.articles__pic {
	position: relative;
	float: left;
	margin-right: 20px;
	img, span {
		display: block;
	}
	img {
		margin-right: 0px;
		border: none;
	}
	span {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding-right: 10px;
		text-align: right;
		height: 17px;
		line-height: 17px;
		background: rgba(102,102,102,0.7);
		font-size: 9px;
		color: #fff;
	}	
	@include respond-to(step4) {
		display: none;
	}
}
.articles__top {
	position: relative;
	background: #e8f7fe;
	i {
		position: absolute;
		top: 10px;
		right: 10px;
		font-style: normal;
		color: #c2c2c2;
		font-size: 10px;
	}
}
/*link-out*/
.link-out {
	position: relative;
	border-bottom: 1px dotted #666666;
	color: #666666;
	i {
		position: absolute;
		top: 2px;
		right: -16px;
		@include sized-sprite($icons, link);
	}
}
/*tooltip*/
.tooltip {
	position: absolute;
	top: 38px;
	left: 50%;
	margin-left: -130px;
	padding: 10px;
	width: 240px;
	background: #fff;
	@include border-radius(5px);
	border: 1px solid $blue;
	em {
		position: absolute;
		top: -21px;
		left: 50%;
		margin-left: -20px;
		@include sized-sprite($icons, arr9);
	}
	li {
		line-height: 1.5;
	}
}

/*Map Info Window*/
.map_info_window {
    padding: 10px;
    font-size: 12px;
    position: absolute;
    background: #FFF;
    border: 1px solid #17A3F4;
    width: 200px;
    @include border-radius(10px);
    @include box-shadow(rgba(50, 50, 50, 0.75) 0px 0px 30px);
    &:after, &:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #fff;
        border-width: 10px;
        left: 50%;
        margin-left: -10px;
    }
    &:before {
        border-color: rgba(23, 163, 244, 0);
        border-top-color: #17A3F4;
        border-width: 11px;
        left: 50%;
        margin-left: -11px;
    }

    p {
        line-height: 1;
        margin: 0;
        padding: 0;
    }
    .currentJobs {
        margin-bottom: 0;
        li {
            position: relative;
            padding-left: 10px;
            a {
                color: #22B5F4;
                text-decoration: underline;
            }
            i {
			position: absolute;
			top: 3px;
			left: 0;
			@include sized-sprite($icons, arr);			
            }
        }
    }
    .otherJobs {
        margin-bottom: 0;
        li {
            position: relative;
            padding-left: 10px;
            a {
                color: #666;
                text-decoration: underline;
                position: relative;
                display: inline-block;
                padding-right: 15px;
                i.external_link_icon {
                    position: static;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 3px;
                    width: 10px;
                    height: 13px;
                    @include sized-sprite($icons, link);			
                }
            }
            i {
			position: absolute;
			top: 3px;
			left: 0;
			@include sized-sprite($icons, arr4);			
            }
        }
    }
}

/* Article singe page video */
.video-wrapper {
    margin-bottom: 10px;
    height: 0;
}
.download-link {
    display: block;
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
}
