@import "base";
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../images/fancybox_sprite.png');
}
#fancybox-loading div {
	background: url('../images/fancybox_loading.gif') center center no-repeat;
}
.fancybox-nav {
	background: transparent url('../images/blank.gif'); /* helps IE */
}
.fancybox-type-iframe .fancybox-nav {
    height: auto;
    top: 50px;
    bottom: 50px;
}
.fancybox-overlay {
	background: url('../images/fancybox_overlay.png');
}
