.lteie8, .ie8 {
	body {
		min-width: 1000px;
	}
	.search {
		input {
			line-height: 23px;
		}
        button {
            i {
                top: -8px;
            }
        }
	}
	.ext-search__fields {
		input {
			line-height: 26px;
		}
        button {
            i {
                top: -2px;
            }
        }
	}
	.top10 {
		span {
			zoom: 1;
		}
	}
	.view-all {
		a {
			zoom: 1;
		}
	}	
	.search-filter {
		position: relative;
		zoom: 1;
	}
	.txt-field {
		input {
			line-height: 30px;
		}
	}
    .main-slider__info {
        background: transparent;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF)"; /* IE8 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF);   /* IE6 & 7 */
        zoom: 1;
    }
    .bg {
        background: transparent;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000)"; /* IE8 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);   /* IE6 & 7 */
        zoom: 1;
    }
    .loading {
        background-color: transparent;
        background-image: ('../images/ajax-loader.gif');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FCCCCCC,endColorstr=#7FCCCCCC)"; /* IE8 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FCCCCCC,endColorstr=#7FCCCCCC);   /* IE6 & 7 */
        zoom: 1;
    }
}
.lteie8 {
	.aside-info {
		ul {
			margin-bottom: 20px;
		}
	}
}
.ie8 {
	.search {
		button {
			i {
				top: -7px;
			}
		}
	}
}
