@import "base";
/*styles for inner pages*/
/*search-filter*/
.search-filter-out {
	@extend %block;
}
.search-filter {	
	margin-bottom: 35px;
	padding: 20px;	
	h3 {		
		position: relative;
		height: 39px;
		line-height: 39px;
		border-top: 1px dotted #666666;
		cursor: pointer;
		color: #a1a1a1;
		font-size: 14px;
		i {
			position: absolute;
			top: 14px;
			right: 2px;
			@include sized-sprite($icons, cl);			
		}
		&.active {
			color: #666666;
		}
        &.open {
			i {
				@include sized-sprite($icons, op);
			}
        }
	}
	ul {
		padding-bottom: 20px;
		li {
			position: relative;
			height: 20px;
			line-height: 20px;
			margin-bottom: 4px;
		}
		input {
			position: absolute;
			top: 3px;
			left: 0;
		}
	}
}
.search-filter__title {
	position: relative;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
	color: #37559a;
	span {
		position: absolute;
		right: 2px;
		bottom: 2px;
		padding-right: 20px;
		font-size: 12px;
		font-weight: normal;
		color: #666666;
		cursor: pointer;
	}
	i {
		position: absolute;
		top: 1px;
		right: 0;
		@include sized-sprite($icons, del);
	}
}
/*search-form*/

.big-search {
    margin: 0 auto 40px auto;
    width: 700px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    @include respond-to(ipadPortraitBreak) {
        width: 96%;
    }
}
.big-search .label {
    margin-bottom: 10px;
    @include respond-to(step3) {
        font-size: 23px;
        @include respond-to(step4) {
            font-size: 17px;
        }
    }
}
.big-search form, .ext-search__fields-wrap {
    padding: 20px;
    background: #37559a;
    @include border-radius(10px);
    @include box-shadow(#7b7b7b 0px 5px 5px);
}
.ext-search {
	position: relative;
	padding-top: 10px;
	margin-bottom: 50px;
	@extend %block;
	z-index: 5;
}
.ext-search__fields-wrap {
	margin: 0 -8px;
}
::-webkit-input-placeholder {
   color: #9E9E9E;
}

.big-search__fields input:-moz-placeholder, .ext-search__fields input:-moz-placeholder { /* Firefox 18- */
   color: #9E9E9E;  
}

.big-search__fields input::-moz-placeholder, .ext-search__fields input::-moz-placeholder {  /* Firefox 19+ */
   color: #9E9E9E;  
}

:-ms-input-placeholder {  
   color: #9E9E9E;  
}
.big-search__fields, .ext-search__fields {
	position: relative;
	height: 32px;	
	input, button {
		position: absolute;
		top: 0;
		height: 32px;
	}
	input {
		left: 0;
		width: 76%;		
		padding: 0 3% 0 1%;
        font-size: 16px;
        line-height: 34px;
        color: #666666;
		@include border-radius(3px 0 0 3px);
		@include box-shadow(#666666 0px 1px 3px inset);
	}
	button {
		right: 0;
		width: 22%;
		background: #37559a;
		@include border-radius(0 3px 3px 0);
          @include background-image(linear-gradient(#fff, #ccc));
		font-size: 18px;
          line-height: 8px;
		font-weight: bold;
          color: #777;
          border-left: 2px solid #bbb;
		i {
			position: absolute;
			top: 8px;
			left: 8.5%;
			@include sized-sprite($icons, search);
			@include respond-to(step3) {
				display: none;
			}
		}
        @include respond-to(step3) {
            font-size: 14px;
        }
	}
}
.ext-search__lists {
	margin: 20px 10px 0 10px;
	overflow: hidden;
	ul {
		float: left;
		width: 35%;
		padding-bottom: 22px;
		@include respond-to(step3) {
			width: 100%;
		}
	}
	li {
		padding: 3px 0;
		font-size: 14px;
	}
	a {
		font-size: 12px;
	}
	.ext-search__list {
		margin-top: 22px;
		@include respond-to(step3) {
			margin-top: -22px;
		}
	}
	.ext-search__list-1 {
		width: 30%;
		@include respond-to(step3) {
			width: 100%;
		}
	}
	.ext-search__list-2 {
		margin-top: 22px;
	}
	.ext-search__list-3 {
		width: 36%;
		margin-right: 2%;
		@include respond-to(step3) {
			width: 100%;
		}
	}
	.ext-search__list-4 {
		width: 24%;
		@include respond-to(step3) {
			width: 100%;
		}
	}
}
.ext-search__search-all-link {
    padding-bottom: 22px;
    overflow: hidden;
    margin: 20px 10px;
    a {
        float: right;
        width: 30%;
        font-weight: bold;
		@include respond-to(step3) {
			width: 100%;
		}
    }
}
.ext-search__search-all-link-4 {
    a {
        width: 27%;
        @include respond-to(step3) {
            width: 100%;
        }
    }
}
.ext-search__search-all-link_s {
	a {
		width: 21%;
		@include respond-to(step3) {
			width: 50%;
		}
		@include respond-to(step4) {
			width: 100%;
		}
	}
}
.ext-search__filter {
	padding: 10px;
	overflow: hidden;
	li {
		position: relative;
		float: left;
		padding-right: 15px;
		margin-right: 20px;
		cursor: pointer;
        font-size: 18px;
	}
	i {
		position: absolute;
		top: 6px;
		right: 0;
		@include sized-sprite($icons, del);
	}
}
.ext-search__lists_s {
	ul {
		width: 21%;
		margin-left: 5%;
		&:first-child {
			margin-left: 0;
		}
		@include respond-to(step3) {
			width: 50%;
			margin-left: 0;
		}
		@include respond-to(step4) {
			width: 100%;
		}
	}
}
/*saerch-results*/
.search-results {
	margin: -50px 0 10px 0;
	li {
		padding: 10px;
		border-top: 1px dotted #666666;
		overflow: hidden;
		&:first-child {
			border: none;
		}
	}
	.view-all {
		margin-bottom: 30px;
	}
}
.search-results__sponsored {
	position: relative;
	background: #d3f0fd;
	em {
		position: absolute;
		top: 3px;
		right: 10px;
		font-style: normal;
		font-size: 9px;
        color: #bbb;
	}
    .search-results__pic {
        background: #fff;
        border: none;
        padding: 3px;
    }
}
.search-results__pic {
	float: left;
	margin-right: 20px;
    padding: 3px;
	@include border-radius(2px);
	border: 1px solid #c8c8c8;
	overflow: hidden;
    width: 140px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 0;
	img {
		/*display: block;*/
        vertical-align: middle;
        max-width: 140px;
        max-height: 90px;
	}
	@include respond-to(step4) {
		display: none;
	}
}
.search-results__detail {
	overflow: hidden;
	font-size: 12px;
	color: #acacac;
	.h3 {
		font-weight: bold;
		margin-bottom: 6px;		
	}
	span {		
		display: block;
		margin-top: 11px;
		padding-top: 4px;
		border-top: 1px dotted #cfcfcf;		
	}
}

.loadingMore {
    display:none;
    width:100%;
    height:75px;
    background: #fff url('../images/ajax-loader_small.gif') center center no-repeat;
    z-index:100; 
}

.loading {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#ccc url('../images/ajax-loader.gif') center center no-repeat;
    z-index:100;
    opacity:0.5
}
/*top10*/
.top10 {	
	.h1 {
		margin: 45px 0 15px 0;
	}	
}
.top10__lists {
	padding-bottom: 30px;	
	overflow: hidden;
	ul {
		float: left;
		width: 47%;
                padding-right: 3%;
		@include respond-to(step3) {
			width: 100%;
			margin-bottom: 20px;
		}
	}
	.top10__list {
		width: 30%;
		@include respond-to(step3) {
			width: 100%;
		}
	}
	li {
		/*height: 20px; */
		margin-bottom: 10px;
		line-height: 20px;
		font-size: 14px;
	}
	b {
		font-size: 16px;
	}
	span {
		display: inline-block;
		width: 20px;
		margin-right: 5px;
		text-align: center
	}
	.top10__three {
		font-size: 16px;
        position: relative;
        padding-left: 24px;
		span {
			background: #37559a;
			font-weight: bold;
            position: absolute;
            left: 0;
			color: #fff;
		}
	}	
}
.top10__info {
	margin-bottom: 30px;
	.h3 {
		margin: 30px 0 20px 0;
	}
}
/*aside-info*/
.aside-info {
	width: 320px;
	overflow: hidden;
	ul {
		margin-right: -25px;
		overflow: hidden;
	}
	li {
          display: inline-block;
          vertical-align: top;
		width: 130px;
		min-height: 140px;
		margin: 0 20px 20px 0;
		padding: 10px;
		@extend %block;
	}
	a {
		position: relative;
		font-size: 13px;
	}
	img {
		margin-bottom: 5px;
	}
	@include respond-to(step1) {
		width: 100%;
	}
}
/*aside-articles*/
.aside-articles {
	ul {
		margin-bottom: 25px;
        font-size: 0;
	}
	li {
		margin-bottom: 15px;
		vertical-align: top;
        float: none;
        /*margin-right: 15px;*/
	}	
	a {
		display: inline-block;
		width: 64%;
		vertical-align: middle;
		font-size: 14px;
        line-height: 1.5em;
        @include respond-to(step4) {
            width: auto;
        }
	}
	.view-all {
		a {
			width: auto;
		}
	}
}

.job-landing-aside .aside-articles a {
    font-size: 13px;
    width: auto;
}
.aside-articles__pic {
	display: inline-block;
	width: 95px;
	margin-right: 15px;
	text-align: center;
	a {
		width: auto;
		font-size: 0;		
	}	
	img {
		display: inline-block;
          max-width: 130px;
          max-height: 90px;
	}
	@include respond-to(step4) {
		display: none;
	}
}
.job-landing-aside   .aside-articles__pic, .company .aside-articles__pic {
        width: 130px;
        overflow: hidden;
        text-align: center;
}
/*job-profile*/
.job-profile {	
	position: relative;
	padding: 20px;
	margin-bottom: 18px;
	overflow: hidden;
	@extend %block;
}
.job-profile__pic {
	float: left;	
	@include transition();
	img {
		display: block;
		margin-right: 20px;
		height: auto;
		@include respond-to(step4) {
			width: 100%;
			margin-right: 0px;
		}
	}
	@include respond-to(step2) {
		float: none;
		margin-bottom: 20px;
	}
}
.job-profile__info {
	position: relative;
	padding-bottom: 60px;
	overflow: hidden;
	.h2 {
		margin-bottom: 15px;
		color: #37559A;
		@include respond-to(step1) {
			font-size: 22px;
		}
	}
	li {
		position: relative;
		padding-left: 10px;
		margin-bottom: 5px;
		i {
			position: absolute;
			top: 3px;
			left: 0;
			@include sized-sprite($icons, arr4);
		}
	}
	@include respond-to(step3) {
		padding-bottom: 140px;
	}
}
.job-profile__btn {
	position: absolute;
	bottom: 20px;
	height: 36px;
	line-height: 36px;
	padding: 0 15px 0 30px;
	@include box-shadow(rgba(0,0,0,0.3) 0px 1px 2px);
	@include border-radius(2px);
	font-size: 18px;
	font-weight: bold;
	color: #fff;	
	i {
		position: absolute;
		top: 12px;
		left: 13px;
		@include sized-sprite($icons, arr5);
	}
	@include respond-to(step1) {
		font-size: 16px;
	}
	@include respond-to(step3) {
		left: 20px;
	}
}
.job-profile__btn_gray {
	right: 250px;
	border: 1px solid #8c8c8c;
	background: #8c8c8c;
	@include background-image(linear-gradient(#8c8c8c, #666666));
	@include respond-to(step1) {
		right: 230px;
	}
	@include respond-to(step3) {
		right: auto;
		bottom: 80px;
	}
}
.job-profile__btn_blue {
	right: 20px;
	border: 1px solid #22b5f4;
	background: #22b5f4;
	@include background-image(linear-gradient(#22b5f4, #0691bf));
	@include respond-to(step3) {
		right: auto;
		bottom: 20px;
	}
}
.job_detail__content_pic_left {
    float: left;
    margin: 4px 10px 10px 0;
}
.job_detail__content_pic_right {
    float: right;
    margin: 4px 0 10px 10px;
}
.job_detail__content_pic_above,
.job_detail__content_pic_below {
    width: 100%;
    margin: 0 0 10px;
    text-align: center;
}
/*gallery*/
.gallery {	
	overflow: hidden;
	ul {
		margin: 0 -20px 20px 0;
		font-size: 0;
		overflow: hidden;
		@include respond-to(step1) {
			margin: 0;
		}
		@include respond-to(step4) {
			text-align: center;
		}
	}
	li {
		position: relative;
		display: inline-block;
		width: 150px;
        height: 100px;
        overflow: hidden;
        margin: 0 16px 18px 1px;
		vertical-align: top;
		cursor: pointer;
		font-size: 0;
        border: 1px solid #cfcfcf;
        img {
            min-width: 150px;
            min-height: 100px;
            height: auto;
            @include respond-to(step5) {
                width: 135px;
                height: auto;
            }
        }
		i {
			position: absolute;
			left: 10px;
			bottom: 10px;
		}
		@include respond-to(step1) {
			margin: 0 20px 20px 0;
		}
		@include respond-to(step4) {
			float: none;
			display: inline-block;
			margin: 0 10px 20px 10px;
            margin: 0;
		}
		@include respond-to(step5) {
			margin: 0 5px 20px 5px;
            width: 135px;
            height: 90px;
        }
	}	
	.gallery__def {
        cursor: default;
		i {
			top: 0;
			left: 0;
			width: 148px;
			height: 98px;
			border: 1px solid #f2f2f2;
		}
		@include respond-to(step4) {
            display: none;
        }
	}
}
.gallery__video {
	i {
		@include sized-sprite($icons, video);
	}	
}
.gallery__photo {
	i {
		@include sized-sprite($icons, photo);
	}
}
/*job-detail*/
.job-detail {
	.h3 {
		padding: 20px 0;
		border-top: 1px dotted #cfcfcf;
		&:first-child {
			padding: 0 0 20px 0;
			border: none;
		}
	}
	p {
		margin-bottom: 20px;
	}
}
/*job-training*/
.job-trainings {
	margin-bottom: 20px;
	padding: 0 1px 2px 1px;
	overflow: hidden;
    ul {
        list-style-type: none;
        li {
            padding-left: 0;
            line-height: 1;
            &:before {
                content: "";
                background: none;
                position: static;
            }
        }
    }
}
.job-trainings__left, .job-trainings__right {
	width: 49%;
	margin-bottom: 20px;
	@include respond-to(step3) {
		width: 100%;
	}
}
.job-trainings__left {
	float: left;
}
.job-trainings__right {
	float: right;
}
.job-trainings__blue, .job-trainings__red {
	position: relative;
	min-height: 120px;
	padding: 20px 20px 20px 65px;
	@extend %block;
	em {
		position: absolute;
		top: 10px;
		left: 10px;
	}
	.h4 {
		margin-bottom: 12px;
	}
	a {
		position: relative;
		display: block;	
		padding-left: 15px;
        line-height: 1.2;
        margin-bottom: 0.4em;
	}
	i {
		position: absolute;
		top: 2px;
		left: 0;
		@include sized-sprite($icons, arr3);
	}
	@include respond-to(step3) {
		min-height: auto;
	}
}
.job-trainings__blue {
	em {
		@include sized-sprite($icons, yes);
	}
	.h4 {
		color: #22b5f4;
	}
}
.job-trainings__red {
	em {
		@include sized-sprite($icons, no);
	}
	.h4 {
		color: #e2007a;
	}
}
/*top-employer*/
.top-employer {
	width: 320px;
	overflow: hidden;
	@include respond-to(step1) {
		width: 100%;
	}
	ul {
		margin: 0 -30px 30px 0;
		overflow: hidden;
		@include respond-to(step1) {
			margin: 0 0 40px 0;
		}
		@include respond-to(step4) {
			text-align: center;
		}		
	}
	li {
		float: left;
		width: 150px;
        height: 90px;
        line-height: 90px;
		margin: 0 16px 8px 0;
        padding: 3px 0;
		border: 1px dotted #cfcfcf;
        position: relative;
        text-align: center;
		@include respond-to(step4) {
			float: none;
			display: inline-block;
			margin: 0 40px 8px 40px;
		}

        img {
            margin: 0 auto;
            max-width: 144px;
            max-height: 86px;
            vertical-align: middle;
        }
	}
	.aside-title {
		margin-bottom: 15px;
	}
}
.top-employer__solid {
	li {
		border: 1px solid #cfcfcf;
	}
}
.top-employer__city {
	ul {
		margin-bottom: 15px;
	}
	li {
		border: none;
	}
	img {
		display: block;
		border: 1px solid #cfcfcf;
        width: 100%;
	}
	span {
		margin-left: 4px;
		font-size: 12px;
		color: #666666;
		font-weight: bold;
	}
}

.partner-widget {
	overflow: hidden;
	ul {
		margin: 0 -30px 30px 0;
		overflow: hidden;
		@include respond-to(step1) {
			margin: 0 0 40px 0;
		}
		@include respond-to(step4) {
			text-align: center;
		}		
	}
    li {
        float: left;
		width: 150px;
		margin: 0 16px 8px 0;
		@include respond-to(step4) {
			float: none;
			display: inline-block;
			margin: 0 40px 8px 40px;
		}
        .partner-img-box {
            width: 150px;
            height: 90px;
            line-height: 90px;
            text-align: center;
            padding: 3px 0;
            border: 1px solid #cfcfcf;
            img {
                max-width: 144px;
                max-height: 86px;
                vertical-align: middle;
            }
        }
        span {
            margin-left: 4px;
            font-size: 12px;
            color: #666666;
            font-weight: bold;
        }
    }
}
/*do*/
.do {
	position: absolute;
	top: 17px;
	right: 0;
	font-size: 12px;
	li {
		float: left;
	}
	span, a {
		float: left;
	}
	a {
		position: relative;
		padding-left: 20px;
		color: #666666;
		font-weight: normal;
	}
	i {
		position: absolute;
		top: -2px;
	}
	@include respond-to(step1) {
		bottom: 0;
		top: auto;
		left: 0;
	}
}
.do__print {
	margin-right: 5px;
	i {
		left: 0;
		@include sized-sprite($icons, print);
	}
}
.do__notice {
	i {
		left: 8px;
		@include sized-sprite($icons, notice);
	}
}
/*job-info*/
.job-info {
	padding-bottom: 30px;
}
.job-info__detail {
	float: left;
	width: 74.5%;
	line-height: 28px;
	border-top: 1px dotted #cfcfcf;
	border-bottom: 1px dotted #cfcfcf;
	font-size: 12px;
	i {
		margin: 0 8px;		
		font-style: normal;
	}
	b {
		margin-right: 4px;
	}
	span {
		position: relative;
		color: $blue;
	}
}
.job-info__detail.full {
	width: 100%;
}
.job-info__apply {
	float: right;
	width: 23.5%;
	text-align: center;
	a {
		display: block;
		height: 30px;
		line-height: 30px;
		padding-left: 5%;
		background: #22b5f4;
		@include background-image(linear-gradient(#22b5f4, #0691bf));
		@include border-radius(3px);
		@include box-shadow(rgba(0,0,0,0.3) 0px 1px 2px, rgba(255,255,255,0.4) 0 0 1px);
		font-size: 18px;
		color: #fff;
		font-weight: bold;
		text-align: center;
		@include respond-to(step1) {		
			display: inline-block;
			width: 235px;
			margin-top: 15px;
		}
	}
	span {
		position: relative;
	}
	i {
		position: absolute;
		top: 5px;
		left: -15px;
		@include sized-sprite($icons, arr6);
	}	
}
.job-info__detail, .job-info__apply {
	@include respond-to(step1) {
		width: 100%;
	}
}
.html_offer_wrapper {
    margin-bottom: 30px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
#offer_frame {
    width: 100%;
    overflow: visible;
}
.pdf_offer_wrapper {
    position:relative;
    height: 0;
    padding-bottom: 140%; 
}
#pdf_offer_frame {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
/*company-profile*/
.company {
	margin-bottom: 20px;
}
.company-profile {
	position: relative;
    min-height: 135px;
    margin-bottom: 30px;

    .company-profile__detail__img_box {
        float: left;
        height: 140px;
        line-height: 140px;
        width: 230px;
        border: 1px solid #cfcfcf;
        overflow: hidden;
        background: #ffffff;
        padding: 2px 2px 3px 2px;
        margin-right: 20px;
        text-align: center;
        @include respond-to(step3) {
            float: none;
            margin-bottom: 20px;
        }
        img {
            max-width: 188px;;
            max-height: 125px;
            vertical-align: middle;
            @include respond-to(step4) {
                float: none;
                margin-bottom: 20px;
            }
        }
    }

}
.company-profile__top {
    float: right;
    margin: 0 0 5px 5px;
	@include sized-sprite($icons, top);
}
.company-profile__top_gold {
	position: absolute;
	top: -15px;
	right: 5px;
	@include sized-sprite($icons, top);
    &:after {
        content: "gold";
        position: absolute;
        color: yellow;
        background: blue;
        right: 30px;
        top: 0;
    }
}
.company-profile__detail {
	overflow: hidden;
    position: relative;
	.h2 {
		color: $blue;
        margin-bottom: 0.5em;
	}
    p {
        line-height: 1.48em;
    }
	ul {
		margin: 0 -15% 20px 0;
		overflow: hidden;
	}
	li {
		float: left;
		width: 45%;
		margin: 0 0 6px 0;
		font-size: 0;
		strong,
        span {
			display: inline-block;
			width: 50%;
            font-size: 12px;
            vertical-align: top;
		}
		@include respond-to(step3) {
			width: 100%;
		}
	}
}
.company-contact_social {
    position: relative;
}

.social_buttons a {
    float: left;
    height: 21px;
    width: 21px;
    margin: 9px 7px 0 0;
}
.social_buttons {
	.company-fb {@include sized-sprite($icons, fb-g);}
	.company-tw {@include sized-sprite($icons, tw-g);}
	.company-yt {@include sized-sprite($icons, yt-g);}
	.company-xi {@include sized-sprite($icons, xi-g);}
	.company-gg {@include sized-sprite($icons, gg-g);}
}

.company-profile_locations_teaser {
    margin-bottom: 1.6em;
    span {
        color: #999999;
    }
}

.joboffers-list {
    border-top: 1px dotted #cfcfcf;
    margin-bottom: 30px;
    .logo_box {
        width: 90px;
        height: 60px;
        padding: 2px;
        margin-right: 10px;
        border: 1px solid #cfcfcf;
        float: left;
        text-align: center;
        line-height: 60px;
        img {
            vertical-align: middle;
            max-width: 98%;
            max-height: 98%;
        }
    }
    li {
        overflow: hidden;
        padding: 10px;
        border-bottom: 1px dotted #cfcfcf;
        .h4 {
            font-weight: bold;
        }
        .search-results__detail span {
            border: none;
        }
    }
}

.noResults,
.no-joboffers {
    text-align: center;
    border-top: 1px dotted #cfcfcf;
    border-bottom: 1px dotted #cfcfcf;
    margin-bottom: 30px;
    background: #eff9fe;
    padding: 10px;
    p,
    strong {
        font-size: 18px;
        line-height: 30px;
        font-weight: bold;
        display: inline-block;
    }
    span {
        line-height: 30px;
        position: relative;
        padding-left: 30px;
        display: inline-block;
        i {
            position: absolute;
            left: 0;
            width: 26px;
            height: 28px;
			@include sized-sprite($icons, lightbulb);
        }
    }
}
.noResults {
    display: none;
    strong {
        font-size: 14px;
    }
}
.company-facts {
    .aside-title {
        font-weight: bold;
    }
    li {
        padding: 4px 0;
    }
    strong {
        vertical-align: top;
        display: inline-block;
        width: 140px;
    }
    span {
        vertical-align: top;
        display: inline-block;
        width: 140px;
    }
}
.company-aside .aside-title {
        font-weight: bold;
}
div.company-jobs {
    margin-bottom: 20px;
    .aside-title {
        font-weight: bold;
        margin-bottom: 10px;
    }
    ul {
        margin-bottom: 20px;
    }
    li {
        line-height: 16px;
        padding: 6px 25px 6px 11px;
        position: relative;
        a:hover {
            text-decoration: underline;
        }
        .external {
            position: absolute;
            right: 6px;
            width: 15px;
            height: 15px;
			@include sized-sprite($icons, externalLink);
        }
    }
    li.odd {
        background: #ededed;
    }
}

    .joboffers-btn-wrp {
        overflow: hidden;
        padding: 10px 0;
        margin-bottom: 30px;
    }
	.other_joboffers_btn {
        cursor: pointer;
		position: relative;
		display: block;
        float: right;
		height: 40px;
		padding: 0 10px 0 20px;
		line-height: 40px;
		background: #22b5f4;
		@include background-image(linear-gradient(#22b5f4, #0691bf));
		@include border-radius(3px);
		@include box-shadow(rgba(255,255,255,0.36) 0px 1px 1px inset, rgba(0,0,0,0.3) 0 1px 4px);
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
        &:hover {
            @include background-image(linear-gradient(#20ace8, #0685af));
        }
		@include respond-to(step1) {
			font-size: 13px;
		}
		@include respond-to(step2) {
			font-size: 12px;
		}
		i {
			position: absolute;
			top: 13px;
			left: 10px;
			@include sized-sprite($icons, arr5);
		}
	}

.premium {
    .company-profile__detail {
        overflow: hidden;
        .h2 {
            margin-right: 105px;
        }
    }
}

.company-adress {
	padding: 14px 20px 20px;
    margin-bottom: 30px;
    min-height: 142px;
    color: #fff;
    background: #37559a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 1px;

    line-height: 20px;
    .company-adress__title {
        padding-left: 30px;
        position: relative;
        width: auto;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 16px;
        i {
            width: 25px;
            height: 25px;
            position: absolute;
            left: 0;
            top: 0;
            @include sized-sprite($icons, chat);
        }
    }
	a {
		color: #22b5f4;
		&:hover {
			text-decoration: underline;
		}
	}
	.company-adress__social {
		margin-bottom: 20px;
		overflow: hidden;
		a {
			float: left;
			margin-right: 7px;
		}
	}
	.company-adress__fb {@include sized-sprite($icons, fb-w);}
	.company-adress__tw {@include sized-sprite($icons, tw-w);}
	.company-adress__an {@include sized-sprite($icons, an-w);}
	.company-adress__gg {@include sized-sprite($icons, gg-w);}
	@include respond-to(step1) {
		margin-top: 20px;
	}
}
.company-adress_aside {
	margin-bottom: 30px;
}
/*job-desc*/
.job-desc {
	.h3 {
		padding: 20px 0;
		border-top: 1px dotted #cfcfcf;
		&:first-child {
			padding-top: 0;
			border: none;
		}
	}
	p {
		margin-bottom: 20px;
	}
}
/*army*/
.army {
	position: relative;
	margin-bottom: 30px;
	padding: 20px 20px 38px 20px;
	@extend %block;
    text-align: center;
    .company-profile__detail__img_box  {
        float: none;
        margin-right: 0;
        margin: 0 auto;
        width: 274px;
    }
}
.army__link {
	position: absolute;
	bottom: 12px;
	left: 31px;
	font-size: 14px;
	font-weight: bold;
	i {
		position: absolute;
		top: 3px;
		left: -11px;
		@include sized-sprite($icons, arr3);
	}
}
/*another-articles*/
.another-articles {
	.aside-title {
		margin-bottom: 0;
	}
	li {
		padding: 15px 0;
		border-top: 1px dotted #cfcfcf;
		&:first-child {
			border: none;
		}
		a {
			font-size: 18px;
		}
	}	
}
/*map-big*/
.map-big {
	.h3 {
		padding: 15px 0;
	}	
}
.map-big__container {
	margin-bottom: 30px;
	img {
		width: 100%;
	}
}
.map-big__info {
	position: relative;
	padding: 22px 0 22px 65px;
	margin-bottom: 30px;
	@extend %block;
	font-size: 18px;
	i {
		position: absolute;
		top: 11px;
		left: 8px;
		@include sized-sprite($icons, ask);
	}
}
/*job-pic*/
.job-pic {
	margin: -20px 0 10px 0;
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}
/*job-training*/
.job-training_article {
	padding-top: 16px;
	ul {
		padding-bottom: 19px;
	}
}
/*our-video*/
.our-video {
	margin-bottom: 30px;
	img {
		display: block;
		border: 1px solid #c2c2c2;
        width: 318px;
        height: auto;
	}
}

.error-page {
    padding-top: 30px;
	margin-bottom: 50px;
	@include respond-to(step1) {
		margin-bottom: 20px;
	}
    .h1 {
        margin-bottom: 44px;
    }

    .col-set {
        border-top: 1px dotted #CFCFCF;
        padding: 44px 0;
        font-size: 0;
        p {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 1.4em;
        }
        .list {
            li {
                font-weight: normal;
                font-size: 14px;
                line-height: 1.6em;
                margin-bottom: 1.6em;
                padding-left: 15px;
                position:  relative;
                &:before {
                    content: ' ';
                    position: absolute;
                    width: 15px;
                    height: 14px;
                    top: 7px;
                    left: 0;
                    @include sized-sprite($icons, arr7);
                }
                a {
                    display: inline;
                    float: none;
                    padding: 0;
                    margin: 0;
                    position: static;
                    &:before {
                        content: '';
                        background: none;
                        position: static;
                    }

                }
            }
        }
    }

    .col {
        width: 45%;
        margin-right: 5%;
        display: inline-block;
        vertical-align: top;
    }
}
.error-page__title {
	margin-bottom: -15px;
	font-size: 72px;
	color: #cfcfcf;
	font-weight: bold;
}
/*page404*/
.page404 {
	margin-bottom: 50px;
	@include respond-to(step1) {
		margin-bottom: 20px;
	}
}
.page404__title {
	margin-bottom: -15px;
	font-size: 72px;
	color: #cfcfcf;
	font-weight: bold;
}
.page404__cities {
	margin-top: 35px;
	overflow: hidden;
	ul {
		float: left;
		width: 25%;
		@include respond-to(step3) {
			width: 50%;
			margin-bottom: 20px;
		}
	}
}
.page404-map {
	margin-bottom: 20px;	
}
/*shop-city*/
.shop-city, .shop-group {
	.h2 {
		margin-bottom: 20px;
		color: $blue;
        float: left;
        width: 49%;
        @include respond-to(step3) {
            float: none;
            width: auto;
        }
	}
	p {
		margin-bottom: 20px;
	}
}
.shop-city-map, .shop-group-pic {
    float: right;
    width: 49%;
    margin: 0 0 1% 1%;
    img {
        width: 100%;
        height: auto;
    }
	@include respond-to(step3) {
        float: none;
        width: auto;
        margin-bottom: 20px;
	}	
}
/*logos*/
.logos {
	width: 660px;
	margin-top: 35px;
	ul {
		margin-right: -30px;
		overflow: hidden;
	}
	li {
		float: left;
		margin: 0 12px 10px 0;
		border: 1px solid #c2c2c2;
        padding: 2px;
        background: #ffffff;
        width: 150px;
        height: 90px;
        line-height: 90px;
	}
	img {
        vertical-align: middle;
	}
}
/*city-logos*/
.city-logos {
	overflow: hidden;
	ul {
		margin: 0 -30px 15px 0;	
		overflow: hidden;	
		@include respond-to(step3) {
			margin-right: 0;
		}
	}
	img {
		float: left;
		margin-right: 15px;
	}
	span {
		display: inline-block;
		height: 55px;
		line-height: 55px;
		font-size: 12px;
		font-weight: bold;
		color: #666666;
	}
}
/*training*/
.training__list {
	padding: 35px 0;
	overflow: hidden;
	@include respond-to(step3) {
		padding-bottom: 0px;
	}
	ul {
		float: left;
		width: 30%;
		margin-right: 3%;
		@include respond-to(step3) {
			width: 100%;
			margin: 0 0 20px 0;
		}
	}
	li {		
		font-size: 16px;
		font-weight: bold;
		line-height: 1.5;
	}
	a {
		position: relative;
		display: block;
		padding-left: 15px;
		font-size: 14px;
		font-weight: normal;
		&:before {
			content: "";
			position: absolute;
			top: 5px;
			left: 0;
			@include sized-sprite($icons, arr7);
		}		
	}
}
/*shop*/
.shop {
	margin-bottom: 20px;
	.h4 {
		margin-bottom: 10px;
		font-weight: bold;
		a {
			color: #666666;
		}
	}
	p {
		margin-bottom: 25px;
	}
	ul {
		margin-top: 10px;
	}
	a:hover {
		text-decoration: underline;
	}
}
.shop-theme {
	// height: 18px;
	margin-bottom: 10px;
	line-height: 18px;
	font-size: 12px;
	span {
		margin-right: 2px;
		padding: 0 3px;
		background: $blue;
		color: #fff;
		text-transform: capitalize;
	}
}
.magazin-jobgroup-headline,
.magazin-topic-headline {
	// height: 18px;
	margin-bottom: 10px;
	line-height: 18px;
	font-size: 12px;
    font-weight: bold;
	span {
        display: inline-block;
		margin-right: 2px;
		padding: 0 3px;
		background: $blue;
		color: #fff;
		text-transform: uppercase;
        font-weight: normal;
	}
}
.shop-article .magazin-jobgroup-headline,
.shop-article .magazin-topic-headline {
    line-height: 14px;
    span {
        padding-top: 1px;
    }
}
.magazin-jobgroup-headline {
    span {
        background: #22b5f4;
    }
}

.widget {
    margin-bottom: 30px;
}
.entry-meta {
    border-width: 1px 0;
    border-style: dotted;
    border-color: #CFCFCF;
    line-height: 26px; 
    margin-bottom: 20px; 
    font-size: 12px; 
    a {
        color: #666;
    }

}
.page-actions {                
    list-style: none outside none;  
    margin: 0;
    padding: 2px 0 0 0;
    float: right;
    font-size: 12px;           
    li {
        line-height: 22px;
    }
}   
.google_plus_image {
    vertical-align: text-bottom;
    margin-left: 10px;
} 

#content .tags,
.adv_single,
.author .page-heading,
.single .entry-title {
    margin-bottom: 30px;
}
.single .entry-title {
    font-size: 30px;
    font-weight: bold;
}
.tag .page-heading {
    font-size: 24px;
    font-weight: bold;
}
.single .entry-content h3 {
    line-height: 26px;
    margin: 25px 0 20px;
    font-size:20px;
    font-weight:bold;
}

.single .entry-content p,
.ngg-galleryoverview {
    margin-bottom: 1.5em;
}

.entry-content img {
    max-width: 100%;
    height: auto;
}

.textlist, .featured-extendable ul,
.single .entry-content ul {
    margin-bottom: 1.5em;
    li {
        position: relative;
        padding-left: 10px;
        line-height: 1.5em;
        &:before {
            content: ' ';
			position: absolute;
			top: 5px;
			left: 0;
			@include sized-sprite($icons, arr4);
        }
    }
}

.related-companies .top-employer {
    font-size: 0;
}
.related-companies .top-employer ul {
    margin-bottom: 0;
}
.related-companies .top-employer li {
    float: none;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 3px 0;
    span {
        display: block;
        font-size: 12px;
        padding: 2px 0;
    }
}
/*---*/

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.alignright {float:right; }
.alignleft {float:left; margin: 0 1em 1em 0;}
.alignright {float:right; margin:0 0 1em 1em; }
.aligncenter {display: block; margin-left: auto; margin-right: auto}
/*


.entry-content h3 {
line-height: 26px;
margin: 25px 0 20px;
font-size:20px;
font-weight:bold;
}

*/

.wp-caption {
	margin-bottom: 10px;
	padding: 10px 0 0 10px;
    @include border-radius(3px 3px 3px 3px);
	@include box-shadow(rgba(0,0,0,0.3) 0px 1px 2px);
	background: #eee;
	font-size: 11px;
	color: #666666; }

.wp-caption-text {
	margin: 0;
	padding: 7px 0;
	line-height: 1.5em;
}

.shop-pic {
	margin-bottom: 20px;
	img {
		width: 100%;
		height: auto;
	}
}
.shop-article {
	li {
		padding: 19px 0;
		border-top: 1px dotted #cfcfcf;
		overflow: hidden;
        p {
            overflow: hidden;
        }
	}
    .search-results__sponsored {
        padding: 10px;
        .search-results__pic {
            border: none;
            background: #fff;
            padding: 3px;
        }
        img {
            margin-right: 0;
            float: none;
            vertical-align: middle;
        }
        .h3 {
            font-weight: bold;
            margin: 0 0 6px;
        }
    }
	img {
		float: left;
		margin-right: 20px;
		@include respond-to(step2) {
			display: none;
		}
	}
	.h4 {
		margin-bottom: 5px;
		font-weight: bold;
		a {
			color: #666666;
		}
	}
    a:hover {
        text-decoration: underline;
    }
}
.shop-article li:first-child {
    border-top: none;
}
.shop-topic .h3 {
    font-size: 24px;
}
.articles h4 {
    font-weight: bold;
}
.shop-article__industry {
	.shop-theme {
		span {
			background: #22b5f4;
		}
	}
}
.tax-city #map_canvas {
    margin-bottom: 20px;
}
/*banner-wrap*/
.banner-wrap {
	position: relative;
	@include respond-to(step1) {
		padding-right: 170px;
	}
	@include respond-to(step2) {
		padding: 0;
	}
	.banner {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		width: 160px;
		height: 620px;
		background: #f07fbc;
		@include respond-to(step1) {
			display: block;
		}
		@include respond-to(step2) {
			display: none;
		}
	}
}
.video-js {width:100%;height:100%;}
.video-wrapper {
	position: relative;
	height: 0;
	margin-bottom:14px;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video-container {
    position: relative;
    .video-content {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
    }
}
.facetList {
    li {
        a {
            float: left;
            color: #666;
            span {
                background:url('../images/icons/checkbox_no.png') no-repeat;
                padding-left: 20px;
            }
        }
        span {
            background:url('../images/icons/checkbox_yes.png') no-repeat;
            padding-left: 20px;
        }
    }
}

.pager {
	position: relative;
	height: 30px;
	margin-bottom: 25px;
	text-align: center;
	overflow: hidden;
    a {
        padding: 5px;
        &:hover {
            text-decoration: underline;
        }
    }
    span {
        padding: 5px;
        font-weight: bold;
    }
    li {
        display: inline-block;
    }
}
