@import "base";
/* default layout */
.col-1 {
	float: left;
	width: 66%;	
	@include respond-to(step1) {
		width: 100%;
	}
}
.col-1_1 {
	float: right;
}
.col-1_2 {
	@include respond-to(step1) {
		float: none;
		overflow: hidden;
		width: auto;
		margin-right: 510px;
	}
	@include respond-to(step2) {
		margin-right: 330px;
	}
	@include respond-to(step3) {
		width: 100%;
		margin: 0;
	}
}
.col-2 {
	float: right;
	width: 32%;
	@include respond-to(step1) {
		width: 100%;
	}
}	
.col-2_1 {
	float: left;
}
.col-2_2 {
	@include respond-to(step1) {
		width: 490px
	}
	@include respond-to(step2) {
		width: 320px;
	}
	@include respond-to(step3) {
		width: 100%;
	}
}
.col-3 {
	float: left;
	width: 32%;
	margin-right: 10%;
	@include respond-to(step1) {
		width: 42%;
		margin-right: 4%;
	}
	@include respond-to(step2) {
		width: 99%;
		margin-right: 0;
	}
}
.col-4 {
	float: left;
	width: 49%;
	@include respond-to(step1) {
		width: 50%;
	}
	@include respond-to(step2) {
		width: 99%;
	}
}

.col-4_1, .col-4_2 {
	float: left;
	width: 48%;
    text-align: justify;
	@include respond-to(step3) {
		width: 99%;
        float: left;
        max-width: 580px;
	}
}
.col-4_2 {
	float: right;
	@include respond-to(step3) {
        float: left;
	}
}

.col-5 {
	float: left;
	width: 49%;
	@include respond-to(step1) {
		width: 100%;
	}
}
.col-5_1 {
	float: right;
	width: 49%;
	@include respond-to(step1) {
		width: 100%;
	}
}
.col-5_2 {
 	@include respond-to(step1) {
 		width: 49%;
 	}
 	@include respond-to(step3) {
 		width: 100%;
 	}
}
.col-5_3 {
	float: right;
	@include respond-to(step1) {
 		width: 49%;
 	}
 	@include respond-to(step3) {
 		width: 100%;
 	}
}
