@import "base";
/*main slider*/
.main-slider-out {
	position: relative;
    z-index: 1;
	margin: 30px 0;
	@include box-shadow(rgba(0,0,0,0.4) 0px 3px 3px);
    @include respond-to(sharingBarBreak) {
        margin-top: 0;
    }
	@include respond-to(step) {
		margin: 0 0 30px 0;
	}
	@include respond-to(step3) {
        @include box-shadow(none);
		/*display: none;*/
	}
}
.main-slider {
	width: 100%;
	height: 410px;	
	overflow: hidden;
	@include respond-to(step3) {
        height: auto;
    }
}
.main-slider-navi {
	position: absolute;
	left: 8.5%;
	bottom: 18px;
	width: 32%;	
	text-align: center;
	z-index: 10;
	@include respond-to(step3) {
        display: none;
    }
	a {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 0 5px;
		background: #f1f1f1;
		&.activeSlide {
			background: #37559a;
		}
	}
}
.main-slider__item {
	position: relative;
	width: 100%;
	height: 410px;
	@include respond-to(step3) {
        height: auto;
        margin-bottom: 20px;
        border-top: 1px dotted #cfcfcf;
    }
	img {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -500px;
        @include respond-to(step3) {
            display: none;
        }
	}
}
.main-slider__info {
	position: absolute;
	top: 0;
	left: 8.5%;
	width: 28%;
	height: 410px;
	padding: 0 2%;
	background: rgba(255,255,255,0.5);
	color: #37559a;
	@include respond-to(step3) {
        position: relative;
        left: auto;
        width: auto;
        height: auto;
    }
	blockquote {
		margin: 35px 0 20px 0;
		font-size: 17px;
		font-weight: bold;
		line-height: 1.5;
		font-style: italic;
        max-height: 200px;
        text-overflow: ellipsis;
		@include respond-to(step2) {
			font-size: 15px;
		}
        @include respond-to(step3) {
			font-size: 12px;
            margin-top: 20px;
        }
	}
	b {
		display: block;
	}
	p {
		margin-bottom: 35px;
		font-size: 12px;
        @include respond-to(step3) {
            margin-bottom: 20px;
        }
	}
	span {
		border-bottom: 1px dotted #37559a;;
	}
	.btn {
		position: relative;
		display: block;
		height: 40px;
		padding-left: 10px;
		line-height: 40px;
		background: #e2007a;
		@include background-image(linear-gradient(#e2007a, #c8016c));
		@include border-radius(3px);
		@include box-shadow(rgba(255,255,255,0.36) 0px 1px 1px inset, rgba(0,0,0,0.3) 0 1px 4px);
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		@include respond-to(step1) {
			font-size: 13px;
		}
		@include respond-to(step2) {
			font-size: 12px;
		}
		i {
			position: absolute;
			top: 13px;
			left: 10px;
			@include sized-sprite($icons, arr1);
		}
	}
}
/*partners*/
.main-partners {	
     overflow: hidden;
	margin-bottom: 40px;
	@include respond-to(step1) {
		height: auto;
	}
}

.companies__list, .main-partners__logos, .main-partners__list {
    .more_link {
          position: relative;
		display: block;
		height: 40px;
		padding: 0 10px 0 30px;
		line-height: 40px;
		background: #37559a;
		@include background-image(linear-gradient(#37559a, #283d70));
		@include border-radius(3px);
          border: 1px solid #37559A;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		@include respond-to(step1) {
			font-size: 13px;
		}
		@include respond-to(step2) {
			font-size: 12px;
		}
		i {
			position: absolute;
			top: 13px;
			left: 10px;
			@include sized-sprite($icons, arr1);
		}
    }
}

.main-partners__logos, .main-partners__list {
    margin-bottom: 30px;
}
.main-partners div.main-partners__logos, .main-partners div.main-partners__list {
	@include respond-to(step1) {
		width: 100%;
	}
}
.main-partners__logos, .companies__list {
     a.more_link {
		background: #ccc;
		@include background-image(linear-gradient(#fff, #ccc));
          border: 1px solid #bbb;
		color: #777;
        i {
		  @include sized-sprite($icons, arr4);
            top: 16px;
        }
     }
}

.main-partners__logos {
	float: left;
	width: 51%;
	li {
		float: left;
		width: 30%;
		margin-right: 3%;
		margin-bottom: 9px;
		img {
			display: block;
		}
		@include respond-to(step1) {
			width: 31%;
			margin-right: 2%;
		}
		@include respond-to(step4) {
			width: 48%;
			margin: 0 2% 2% 0;
			padding: 0;
		}
	}
     a.more_link {
        margin-right: 4%;
        @include respond-to(step1) {
            margin-right: 3%;
        }
     }
     h2, h3 {
        margin-bottom: 10px;
        font-weight: normal;
     }
	@include respond-to(step1) {
		width: 104%;
		margin-bottom: 20px;
		overflow: hidden;
	}
	@include respond-to(step4) {
		width: 102%;		
	}
}
.main-partners__item {
	position: relative;
	height: 88px;
	border: 1px solid #c2c2c2;
	overflow: hidden;
	img {
		position: absolute;
		top: 4px;
		left: 50%;
		max-width: 130px;
		max-height: 80px;
		margin-left: -65px;
	}
}
.main-partners__info {
	position: relative;
	height: 168px;
	padding: 0 150px 80px 0;
	line-height: 1.4;
	img {
		position: absolute;
		right: 0;
		border: 1px solid #fff;
		@include respond-to(step4) {
			top: 0;
		}
	}
	.main-partners__person {
		top: 0;		
		@include respond-to(step4) {
			left: 0;
		}
	}
	.main-partners__logo {
		border: 1px solid #fff;
        position: absolute;
		top: auto;
        bottom: 0;
        right: 0;
        width: 130px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        margin-bottom: 30px;
        background: #fff;
		@include border-radius(2px);
		@include respond-to(step4) {
			top: 0;
			left: 150px;
		}
        img {
            display: inline;
            border: none;
            max-width: 95%;
            max-height: 95%;
            position: static;
            vertical-align: middle;

        }
	}
	blockquote {
		font-size: 16px;
		font-style: italic;
	}
	@include respond-to(step4) {
		padding: 170px 0 80px 0;
		height: auto;
	}
}
.main-partners__detail {
	position: absolute;
	left: 0;
	bottom: 0;
	p {
		font-size: 12px;
	}
	span {
		border-bottom: 1px dotted #fff;
	}
    a {
        color: #fff;
    }
}
.main-partners .main-partners__list {
    width: 49%;
    float: left;
    ul {
        margin: 0;
    }
    margin-bottom: 0px;
}
.main-partners__list {
    h2, h3 {
        margin-bottom: 10px;
        font-weight: normal;
    }
    ul {
        margin-bottom: 20px;
    }
    li {
        padding: 7px 10px;
	   border-top: 1px dotted #666666;
	   overflow: hidden;
        min-height: 59px;
        font-weight: bold;
        a {
            font-size: 1.2em;
        }
        .joboffer_images_box {
            float: left;
            padding: 2px;
            margin-right: 10px;
            width: 90px;
            height: 60px;
            border: 1px solid #cfcfcf;
            line-height: 60px;
            img {
                max-height: 60px;
                max-width: 90px;
                vertical-align: middle;
            }
        }
        p {
            font-size: 0.9em;
        }
    }
    @include respond-to(step2) {
        width: 100%;
        float: left;
    } 
}
/*applications*/
.app {
	margin-bottom: 40px;
	padding-bottom: 2px;	
}
.app__item {
	position: relative;
	float: left;
	width: 28%;
        min-height: 150px;
	padding: 2%;
	margin-left: 2%;
	text-align: center;	
	overflow: hidden;
	@extend %block;
	&:first-child {
		margin-left: 0;
	}		
	@include respond-to(step4) {
		width: 96%;
		margin: 0 0 5% 0;
	}
	@include transition();
}
.app__pic {
	float: left;
	margin-right: 15px;
	@include respond-to(step1) {
		float: none;
		display: inline-block;
		margin: 0 0 15px 0;
	}
}
.app__pic_iphone {
	@include sized-sprite($icons, iphone);
}
.app__pic_android {
	@include sized-sprite($icons, android);
}
.app__pic_facebook {
	@include sized-sprite($icons, facebook);
}
.app__info {
	text-align: left;
	overflow: hidden;
	span {
		font-size: 12px;
		color: #666666;
	}
	a {
		position: relative;
		display: block;
		height: 30px;
		margin-top: 15px;
		padding-left: 7px;
		line-height: 30px;
		background: #37559a;
		@include background-image(linear-gradient(#37559a, #283d70));
		@include box-shadow(rgba(0,0,0,0.3) 0px 1px 2px);
		@include border-radius(2px);
		color: #fff;
		font-size: 12px;
		font-weight: bold;
		text-align: center;
		@include respond-to(step1) {
			padding: 0;
			font-size: 11px;
		}
	}
	i {
		position: absolute;
		top: 10px;
		left: 5px;
		@include sized-sprite($icons, arr2);
		@include respond-to(step3) {
			display: none;
		}
	}
	@include respond-to(step2) {
		width: 100%;
	}
}
/*main-bottom*/
.main-bottom {
	position: relative;
	margin-bottom: 50px;
	line-height: 1.4;
	overflow: hidden;	
}
.main-info {
	float: left;
	padding-right: 320px;
	color: #666666;
	.h2 {
		margin: 10px 0 20px 0;
		font-size: 20px;
		font-weight: normal;
	}
	.h3 {
		margin: 25px 0 15px 0;
		font-size: 18px;
		font-weight: normal;
	}
	.h4 {
		margin: 25px 0 15px 0;
	}
	@include respond-to(step3) {
		padding: 0 0 285px 0;
	}
}

.mag_home_intro {
    margin: 0;
    padding: 0 0 20px 0;
}